

<ion-img class="image-page" src="/assets/common/amo_visual.png"></ion-img>
<ion-label class="label-text">{{ 'LANDING.content_text' | translate }}</ion-label>
<ion-input class="phone-input phone-input-text" [ngClass]="!errorInputPhone ? '' : 'error-input'" [(ngModel)]="phoneNumber" clearInput type="tel" placeholder="{{ 'LANDING.phone_place_holder' | translate }}"></ion-input>
<ion-item lines="none" class="error-message" *ngIf="errorMessage != ''">
  <ion-label color="danger" class="ion-text-wrap">{{errorMessage}}</ion-label>
</ion-item>
<ion-button expand="block" class="amo-button-custom" [ngClass]="!checkIsEnabled() ? 'button-common button-next' : 'button-common button-next button-common-active'" [disabled]="!checkIsEnabled()" (click)="ChangeLogin()">
  <ion-label class="button-next-label">{{ 'LANDING.continue' | translate }}</ion-label>
</ion-button>

<ion-button expand="block" class="button-skip clear-background" (click)="SkipLogin()" routerDirection="forward">
    <ion-label class="button-skip-label">{{ 'LANDING.skip' | translate }}</ion-label>
    <ion-icon class="button-skip-label" name="arrow-round-forward"></ion-icon>
</ion-button>