

<ion-img class="image-page" src="/assets/shapes.svg"></ion-img>
<ion-label class="label-text">Enter the phone number you registered</ion-label>
<ion-input class="phone-input phone-input-text" [(ngModel)]="phoneNumber" clearInput type="tel" placeholder="Phone number ..."></ion-input>

<ion-button expand="full" [ngClass]="!checkIsEnabled() ? 'button-common button-next' : 'button-common button-next button-common-active'" [disabled]="!checkIsEnabled()" (click)="ChangeLogin()">
  <ion-label class="button-next-label">Send</ion-label>
</ion-button>

<ion-button expand="full" class="button-skip clear-background" (click)="ChangeLogin()" routerDirection="forward">
    <ion-label class="button-skip-label">Skip, trial</ion-label>
    <ion-icon class="button-skip-label" name="arrow-round-forward"></ion-icon>
</ion-button>