<div class="image-logo">
  <div class="center">
    <ion-img src="/assets/icon/AMO_Logo_WhiteBgr.png" class="ion-align-self-end"></ion-img>
  </div>   
</div>

<div class="landing-white-bg">
  <div class="ion-text-center">
    <ion-label class="label-text-title">{{ 'LANDING.content_text_title' | translate }}</ion-label>
  </div>
  <div class="ion-text-center landing-text">
    <ion-label class="label-text">{{ 'LANDING.content_text' | translate }}</ion-label>
  </div>
  <ion-button expand="block" class="button-common button-next button-common-active" (click)="ChangeLogin()">
    <ion-label class="button-next-label">{{ 'LANDING.login' | translate }}</ion-label>
  </ion-button>
  <ion-button expand="block" class="button-common button-next" (click)="SkipLogin()">
    <ion-label class="button-skip-label">{{ 'LANDING.skip' | translate }}</ion-label>
  </ion-button>
</div>
<ion-img class="image-footer" src="/assets/icon/splash-page.svg"></ion-img>
