<ion-content>
  <div class="content-container">
    <ion-item lines="none" class="header-item">
      <ion-buttons slot="end" class="" (click)="closeModal()" class="btn-close-popup">
        <ion-icon name="close"></ion-icon>
      </ion-buttons>
    </ion-item>
    <ion-toolbar class="ion-text-center modal-item">
      
      <ion-item lines="none" class="note-style">
        <ion-label class="ion-text-wrap label-text">{{ 'PINCODE_PASSWORD.pincode_note' | translate }}</ion-label>
      </ion-item>
      <ion-item lines="none" class="padding-none margin-none">
        <ion-grid class="pinCodeGrid">
          <form [formGroup]='pinCodeFormGroup' class="form-class">
            <ion-row>
              <ion-col *ngFor="let controlItem of this.pinCodeArray;let i = index;let last=last">
                <input 
                  ng-pattern="/^[0-9]*$/"
                  ng-maxlength="1"
                  maxlength="1"
                  class="pinCodeInput"
                  type="number"
                  formControlName="{{controlItem}}"
                  (keyup)="onKeyUp($event,controlItem, i)"
                  (keydown)="onKeyDown($event)"/>
              </ion-col>
            </ion-row>
          </form>
        </ion-grid>
      </ion-item>
      <ion-label *ngIf="isError == true" class="wrong-code">{{ 'PINCODE_PASSWORD.wrong_code' | translate }}</ion-label>
      <ion-item lines="none" class="image-item"> 
        <ion-spinner *ngIf="isChecking == true" name="crescent" class="image-icon-check"></ion-spinner>
      </ion-item>
      <ion-item lines="none" class="label-item ion-text-center">
        <ion-label class="timecounter-label">{{ 'PINCODE_PASSWORD.timecounter' | translate }} <span *ngIf="isEnableResentCode == false" class="timecounter">{{ timmerCount }}</span><span>(s)</span></ion-label>
        <!-- <ion-label *ngIf="isEnableResentCode == false" class="timecounter">{{ timmerCount }} <span>(s)</span></ion-label> -->
      </ion-item>
      <ion-toolbar class="label-item ion-text-center">
        <ion-button class="btn-resend" (click)="resentPinCode()" disabled="!isEnableResentCode">
          <ion-label class="btn-resend-label">{{ 'PINCODE_PASSWORD.btn_resend_code' | translate }} </ion-label>
        </ion-button>        
      </ion-toolbar>
      <!-- <ion-item *ngIf="isError == true" lines="none" class="ion-text-center">
        <ion-label slot="end" class="wrong-code">{{ 'PINCODE_PASSWORD.wrong_code' | translate }}</ion-label>
      </ion-item> -->
    </ion-toolbar>
  </div>

</ion-content>
