<ion-header no-border>
  <ion-toolbar>
    <ion-title>{{titlePage}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <ion-grid >
      <ion-row class="payment-bank-text-title">
        <ion-col>
            <ion-label>{{ 'PAYMENT_INFOR.payment_date' | translate }}</ion-label>
        </ion-col>
        <ion-col>
            <ion-label>{{formatString(paymentStartAt)}} - {{formatString(paymentEndAt)}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="payment-bank-text-title">
        <ion-col>
            <ion-label>{{ 'PAYMENT_INFOR.total' | translate }}</ion-label>
        </ion-col>
        <ion-col>
            <ion-label>{{formatMoney(totalCash)}} vnd</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
  <ion-card *ngIf="paymentCategoryTranfer != null" class="payment-infor-card-top">
    <ion-card-content>
      <ion-item lines="none" class="payment-bank-infor-text">
        {{paymentCategoryTranfer.description}}
      </ion-item>
      <ion-item lines="none" class="payment-bank-infor-text">
        {{ 'PAYMENT_INFOR.bank_name' | translate }}: {{paymentCategoryTranfer.bankName}}
      </ion-item>
      <ion-item lines="none" class="payment-bank-infor-text">
        {{ 'PAYMENT_INFOR.bank_account_holder' | translate }}: {{paymentCategoryTranfer.bankAccountHolder}}
      </ion-item>
      <ion-item lines="none" class="payment-bank-infor-text">
        {{ 'PAYMENT_INFOR.bank_account_number' | translate }}: {{paymentCategoryTranfer.bankAccountNumber}}
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card  *ngFor="let item of listPaymentContent" class="payment-infor-card">
    <ion-item lines="none" class="payment-bank-infor-text">
      <ion-icon name="wallet" slot="start" class="icon-color"></ion-icon>
      <ion-label>{{item.type.title}}</ion-label>
    </ion-item>
    <ion-card-content>
        <div class="payment-bank-infor-text-detail">
          <div class="custom-col-3">
              <ion-label>{{ 'PAYMENT_INFOR.description' | translate }}</ion-label>
          </div>
          <div class="custom-col-9">
              <ion-label>{{item.description}}</ion-label>
          </div>
        </div>
        <div class="payment-bank-infor-text-detail">
          <div class="custom-col-3">
              <ion-label>{{ 'PAYMENT_INFOR.amount' | translate }}</ion-label>
          </div>
          <div class="custom-col-9">
              <ion-label>{{formatMoney(item.amount)}} vnd</ion-label>
          </div>
        </div>
        <div class="payment-bank-infor-text-detail">
          <div class="custom-col-3">
              <ion-label>{{ 'PAYMENT_INFOR.note' | translate }}</ion-label>
          </div>
          <div class="custom-col-9">
              <ion-label>{{item.type.description}}</ion-label>
          </div>
        </div>
    </ion-card-content>
  </ion-card>
</ion-content>
