ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}

.payment-bank-infor-text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    --min-height: 22px;
    color: #556080;
}

.payment-bank-infor-text-detail {
    font-family: Nunito Sans;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    --min-height: 22px;
    display: flex;
    flex-wrap: wrap;
}
.payment-bank-text-title{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    /* identical to box height */

    --min-height: 24px;
    color: #556080;
}

.icon-color {
    color: #3880ff;
}

.payment-infor-card-top{
    --background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(23, 21, 48, 0.102546);
    border-radius: 8px;
}

.payment-infor-card{
    --background: #FFFFFF;
    border-bottom: 1px solid #F5F5F5;
    border-radius: 0px !important;
    box-shadow: none;
}

.custom-col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
.custom-col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}