ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}

.payment-bank-infor-text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    --min-height: 22px;
    color: #556080;
}

.payment-bank-infor-text-detail {
    font-family: Nunito Sans;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    --min-height: 22px;
    display: flex;
    flex-wrap: wrap;
}
.payment-bank-text-title{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    /* identical to box height */

    --min-height: 24px;
    color: #556080;
}

.icon-color {
    color: #3880ff;
}
.item-payment-date {
    padding: 3px 0;
}
.payment-infor-card-top{
    --background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(23, 21, 48, 0.102546);
    border-radius: 8px;
}

.payment-infor-card{
    --background: #FFFFFF;
    border-bottom: 1px solid #F5F5F5;
    border-radius: 0px !important;
    box-shadow: none;
}

.custom-col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
.custom-col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.payment-info-content {
    --background: #E5E5E5;
}
.section-content {
    background: #ffffff;
}
.section-content-fee {
    margin: 0 16px;
    padding: 4px 0;
    border-bottom: 1px solid #F4F5F5;
    
}
.section-grid {
    margin: 0 10px;
}
.amountPay-number {
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #009AC9;
    text-align: right;
}
.amountPay-unit {
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #009AC9;
}
.margin-top-10 {
    margin-top: 10px;
}
.section-title {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #7A838C;
}
.due-date {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #21313F;
}
ion-item.fee-item {
    --inner-padding-end: 0px;
}
.fee-title {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #21313F;
}
.amount-number {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #21313F;
}
.conplain-button{
    background: #D3D6D9;
    --background-focused: #D3D6D9;
    --background-hover:#D3D6D9;
    --background: #D3D6D9;
    --background-activated: #b3b5b8;
    mix-blend-mode: normal;
    border-radius: 5px;
    left: 4.27%;
    // width: 91.46%;
    height: 44px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #21313F;
    margin-top: 13px;
    margin-bottom: 13px;
}
.icon-management {
    color: #51D2B5;
    font-size: 24px;
}
.icon-parking {
    color: #F2994A;
    font-size: 24px;
    margin-right: 20px;
}
.icon-water {
    color: #009AC9;
    font-size: 24px;
}

.item-fee-detail {
    margin: 20px 0 0 44px;
    padding-top: 0;
    padding-bottom: 0;
    transition: height 0.09s all linear;
    box-shadow: none;
}
.item-fee-inactive {
    height: 0px;
    margin: 0;
}
.fee-detail {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #21313F;
    // margin-left: 32px;
}
.fee-col {
    display: flex;
    align-items: center;
    padding-right: 0;
}
.content-fee {
    border-bottom: 1px solid #F4F5F5;
}
.icon-view-detail {
    font-size: 16px;
    margin-left: 20px;
}
.item-no-border {
    border: none;
}

.padding-left-0 {
    padding-left: 0;
}
.padding-right-0 {
    padding-right: 0;
}
.margin-right-10 {
    margin-right: 10px;
}

.payment-method-button {
    // background: #FBFBFB;
    --background-focused: #FBFBFB;
    --background-hover:#FBFBFB;
    --background: none;
    --background-activated: #D3D6D9;
    border: 1px solid #D3D6D9;
    border-radius: 8px;
    --box-shadow: none;
    // left: 4.27%;
    width: 100%;
    height: 60px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #21313F;
    margin: 0;
}
.payment-method-button.ion-actived {
    border: 1px solid #009AC9;
}
.payment-method-button-label {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #21313F;
}
.payment-method-button-icon {
    font-size: 36px;
    margin-right: 10px;
}
.payment-transfer {
    margin: 20px 10px 20px 0;
}
.payment-cash {
    margin: 20px 0 20px 10px;
}
.payment-fee {
    text-align: right;
}

.function-button {
    margin-top: 30px;
    margin-bottom: 16px;
    text-align: center;
}
.two-button {
    width: 43.73%;
}

// custom select button
/* CONTAINERS */

.container {max-width: 850px; width: 100%; margin: 0 auto;}
.four { width: 32.26%; max-width: 32.26%;}
.one { width: 100%; max-width: 100%;}
.two { width: 50%; max-width: 50%;}


/* COLUMNS */

.col {
  display: block;
  float:left;
  margin: 0 10px 20px 0;
}

.md .col {
    display: block;
    float:left;
    margin: 0 0 20px 0;
}
.col:first-of-type { margin-left: 0; }

/* CLEARFIX */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* FORM */

.plan input, .form .payment-plan input, .form .payment-type input{
	display: none;
}

label{
	position: relative;
    background-color: #FBFBFB;
	text-align: center;
    height: 60px;
	display: block;
	cursor: pointer;
    border: 1px solid #D3D6D9;
    border-radius: 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 60px;
    color: #21313F;
}
label.transfer {
    background-image: url('../../../assets/icon/custom-pay-transfer.svg');
    background-repeat: no-repeat;
    background-position: 5% center;
    padding-left: 35px;
    margin-right: 20px !important;
}
label.cash {
    background-image: url('../../../assets/icon/custom-money.svg');
    background-repeat: no-repeat;
    background-position: 10% center;
    padding-left: 35px;
}
label.online {
    background-image: url('../../../assets/icon/custom-digital-wallet.svg');
    background-repeat: no-repeat;
    background-position: 35% center;
    padding-left: 45px;
}
.plan input:checked + label, .form .payment-plan input:checked + label, .form .payment-type input:checked + label{
    border: 1px solid #009AC9;
    border-radius: 8px;
	background-color: none;
}

.plan input:checked + label:after, form .payment-plan input:checked + label:after, .form .payment-type input:checked + label:after{
    // content: "\2713";
    content: url(../../../assets/icon/custom-checkmark.svg);
    font-size: 16px;
    color: #ffffff;
	border-radius: 100%;
	z-index: 999;
	position: absolute;
	top: -10px;
	right: 10px;
}