<ion-content class="content-wrap">
  <div class="content-container">
    <ion-item lines="none" class="header-item ion-no-padding">
      <ion-title class="popup-title">{{ 'MY_ACCOUNT.feedback' | translate }}</ion-title>
      <ion-buttons slot="end" (click)="closeModal()" class="btn-close-popup">
        <ion-icon name="close"></ion-icon>
      </ion-buttons>
    </ion-item>
    <ion-item class="modal-item feedback-textarea" lines="none">
      <ion-textarea class="feedback-textarea-placeholder" rows="6" placeholder="{{ 'MY_ACCOUNT.feeback_placeholder' | translate }}" [(ngModel)]="message"></ion-textarea>
    </ion-item>
    <ion-toolbar lines="none" class="ion-text-center modal-toolbar">
      <ion-button class="cancel-button" *ngIf="message == ''">
        <ion-label class="cancel-button-label">{{ 'MY_ACCOUNT.send' | translate }}</ion-label>
      </ion-button>
      <ion-button class="delete-button" *ngIf="message != ''" (click)="sendFeedback()">
        <ion-label class="delete-button-label">{{ 'MY_ACCOUNT.send' | translate }}</ion-label>
      </ion-button>
    </ion-toolbar>
  </div>
</ion-content>