.account-info {
    margin: 30px 17px 0 17px;
}
ion-datetime.ios {
    padding-bottom: 5px !important;
    padding-top: 0 !important;
}
ion-select.ios {
    padding-bottom: 5px !important;
    padding-top: 0 !important;
}
.input-text-50 {
    --padding-end: 0;
    --padding-bottom: 6px;
}
.no-padding {
    padding: 0;
}
.padding-left-10 {
    padding-left: 10px;
}
.padding-right-10 {
    padding-right: 10px;
}
.margin-left-0 {
    margin-left: 0 !important;
}

.select-icon {
    font-size: 14px;
    color: #21313F;
}