<ion-header class="ion-no-border">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'ADD_HOME.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-input">
    <p class="message_text">{{ 'ADD_HOME.message' | translate }}</p>
    <ion-item class="input-item" lines="none">
      <ion-icon class="input-icon" name="custom-mobile" src="/assets/icon/custom-mobile.svg" slot="start"></ion-icon>
      <ion-label class="input-floating-label" position="floating">{{ 'ADD_HOME.placeholder_activeCode' | translate }}</ion-label>
      <ion-input class="input-text" type="tel" [(ngModel)]="activeCode" name="activeCode"></ion-input>
      <!-- <ion-icon class="clear-input check-default" name="close-circle" slot="end"></ion-icon> -->
    </ion-item>
    <!-- <ion-label color="danger" class="ion-text-wrap" *ngIf="errorMessage != ''">{{errorMessage}}</ion-label> -->
  </div>
  <ion-button expand="block" class="" [ngClass]="!checkIsEnabled() ? 'button-common login-button' : 'button-common login-button button-common-active'" [disabled]="!checkIsEnabled()">
    <ion-label>{{ 'ADD_HOME.btn_done' | translate }}</ion-label>
  </ion-button>
</ion-content>
