<ion-header class="ion-no-border add-home-header">
  <ion-buttons class="back-button">
    <ion-back-button color="light" text="" icon="chevron-back" class="ion-back-button"></ion-back-button>
  </ion-buttons>
  <ion-label class="header-title">{{ 'ADD_HOME.title' | translate }}</ion-label>
  <ion-label class="header-sub-title">{{ 'ADD_HOME.message' | translate }}</ion-label>
</ion-header>

<ion-content class="">
  <ion-item lines="none" class="padding-none margin-none ion-item-pincode">
    <ion-grid class="pinCodeGrid">
      <form [formGroup]='pinCodeFormGroup' class="form-class">
        <ion-row>
          <ion-col *ngFor="let controlItem of this.pinCodeArray;let i = index;let last=last" class="pincode-col">
            <input ng-pattern="/^[0-9]*$/" ng-maxlength="1" maxlength="1" class="pinCodeInput" type="number"
              formControlName="{{controlItem}}" (keyup)="onKeyUp($event,controlItem, i)" (keydown)="onKeyDown($event)" />
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </ion-item>

  <ion-button (click)="checkingPincode()" expand="block" class=""
    [ngClass]="!isValid ? 'button-common login-button' : 'button-common login-button button-common-active'" [disabled]="!isValid">
    <ion-label>{{ 'ADD_HOME.btn_done' | translate }}</ion-label>
  </ion-button>
</ion-content>