<ion-header class="page-header ion-no-border">
  <ion-toolbar color="#FFC144" class="ion-toolbar-title">
    <ion-title class="page-header-title">{{ 'NEWS.top' | translate }}</ion-title>
  </ion-toolbar>
  <div class="custum-tab">
    <div class="tab-btn tab-btn-left" [class]="isNews == 1 ? 'active': '' " (click)="toNews($event)">
      <ion-label>{{ 'NEWS.title' | translate }}</ion-label>
    </div>
    <div class="tab-btn tab-btn-right" [class]="isNews != 1 ? 'active': '' " (click)="toNot($event)">
      <ion-label>{{ 'NOTIFICATION.title' | translate }}</ion-label>
    </div>
  </div>
</ion-header>
<ion-content class="main-content" >
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="circles" refreshingSpinner="" refreshingText=""></ion-refresher-content>
  </ion-refresher>
  <ion-list class="news" *ngIf="isNews == 1">
    <ion-card class="info-card" button *ngFor="let item of listArticlesNew" (click)="detailPage(item)" id="{{item._id}}">
      <div class="card-img">
        <ion-img *ngIf="item.thumbnail != null" src="{{item.thumbnail}}"></ion-img>
        <ion-img *ngIf="item.thumbnail == null" src="assets/common/no-thumbnail.png"></ion-img>
        <ion-label class="badge-corner badge-corner-base">{{formatString(item.updatedAt)}}</ion-label>
        <ion-label class="badge-corner-right badge-corner-icon hide">
          <ion-icon class="custom-pined" name="custom-pined" src="assets/icon/custom-pined.svg"></ion-icon>
        </ion-label>
      </div>
      <ion-item lines="none">
        <ion-card-title class="ion-text-wrap content-two-line content-title">{{item.title}}</ion-card-title>
      </ion-item>
    </ion-card>
  </ion-list>


  <ion-list class="news" *ngIf="isNews != 1">
    <ion-card class="info-card" button *ngFor="let item of listArticlesNoti" (click)="detailPage(item)" id="{{item._id}}">
      <div class="card-img">
        <ion-img *ngIf="item.thumbnail != null" src="{{item.thumbnail}}"></ion-img>
        <ion-img *ngIf="item.thumbnail == null" src="assets/common/no-thumbnail.png"></ion-img>
        <ion-label class="badge-corner badge-corner-base">{{formatString(item.updatedAt)}}</ion-label>
        <ion-label class="badge-corner-right badge-corner-icon hide">
          <ion-icon class="custom-pined" name="custom-pined" src="assets/icon/custom-pined.svg"></ion-icon>
        </ion-label>
      </div>
      <ion-item lines="none">
        <ion-card-title class="ion-text-wrap content-two-line content-title">{{item.title}}</ion-card-title>
      </ion-item>
    </ion-card>
  </ion-list>
  <ion-infinite-scroll class="infinite-scroll" threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="" loadingText=""></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <div class="bottom-frame-wrapper">
    <div class="bottom-frame">
    </div>
  </div>
</ion-content>