.pading-margin-none {
    padding: 0;
    margin: 0;
}

.button-call {
    width: 100%;
    height:100%;
    --background: #556080;
    --background-activated: #556080;
    --background-checked: #556080;
    --background-hover: #556080;
}
.custom-row{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.custom-col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
.custom-col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.home-title {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    max-height: 40px;
    color: #556080;
}
.home-infor {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color: #556080;
}

.content-two-line{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.button-call-text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;

    color: #FFFFFF;

}

.button-call-icon{
    color: #FFFFFF;
}
.function-section{
    // position: absolute;
    // bottom: 16px;
}