<ion-header class="ion-no-border">
  <ion-toolbar class="header-toolbar">
    <ion-title>{{ 'MY_HOME.title' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="list-content">
    <ion-card class="card-content" *ngFor="let item of listDepartment; let i = index" (click)="detailPage($event)" id="{{item._id}}">
      <ion-text class="number-watermark ion-float-right">
        <h1 class="number-watermark-text">{{i <= 9 ? "0"+ (i +1): (i+1)}}</h1>
      </ion-text>
      <ion-card-header>
        <ion-card-title class="home-title">{{item.apartment.title + ' - ' + item.campaign.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content class="home-content">
        <ion-label class="home-address">{{item.campaign.address}}</ion-label>
        <ion-item lines="none" class="hotline-item">
          <ion-label class="hotline-title">{{ 'MY_HOME.hotline_label' | translate }}</ion-label>
          <ion-button slot="end" class="hotline-number clear-background" (click)="buildingManagementPhoneModal($event)">
            <ion-icon class="hotline-icon" name="call-outline"></ion-icon>
            (427) 253-7047
          </ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar lines="none" class="ion-text-center">
    <ion-button class="add-button" (click)="addNewHome()">
      <ion-label class="add-button-label">{{ 'MY_HOME.button_add' | translate }}</ion-label>
    </ion-button>
  </ion-toolbar>
</ion-footer>
