.pading-margin-none {
    padding: 0;
    margin: 0;
}

.button-call {
    width: 100%;
    height:100%;
    --background: #556080;
    --background-activated: #556080;
    --background-checked: #556080;
    --background-hover: #556080;
}
.custom-row{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.custom-col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
.custom-col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.home-title {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #21313F;
}
.home-content {
    padding-bottom: 0;
}
.home-infor {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color: #556080;
}
.home-address {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #7A838C;
}
.content-two-line{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.button-call-text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;

    color: #FFFFFF;

}

.button-call-icon{
    color: #FFFFFF;
}

ion-card-header {
    padding: 16px 20px 5px 20px;
}
.hotline-item {
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-end: 0;
}
.hotline-title {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #21313F;
}
.hotline-icon {
    font-size: 14px;
    color: #009AC9;
    margin-right: 10px;
}
.hotline-number {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    text-decoration-line: underline;
    color: #009AC9;
    margin-right: 0;
    margin-left: 0;
    --box-shadow: none !important;
}
.clear-background {
    // --color-activated:#556080;
    --background: transparent;
    --background-activated: transparent;
}
.function-item {
    position: fixed;
    bottom: 0;
    --background: transparent;
    // --padding-start: 0;
    // --padding-end: 0;
    // --inner-padding-end: 0;
    // right: 16px;
    // left: 16px;
}
.delete-button{
    background: rgba(250, 114, 104, 0.15);
    --background-focused: rgba(250, 114, 104, 0.45);
    --background-hover:rgba(250, 114, 104, 0.45);
    --background: rgba(250, 114, 104, 0.15);
    --background-activated: rgba(250, 114, 104, 0.45);
    mix-blend-mode: normal;
    border-radius: 5px;
    left: 16px;
    width: 100%;
    height: 44px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FA7268;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
}
.add-button{
    --background-focused: #bee6f3;
    --background-hover:#bee6f3;
    --background: #D4EBF3;
    --ion-toolbar-color: #D4EBF3;
    --background-activated: #bee6f3;
    mix-blend-mode: normal;
    --border-radius: 8px;
    height: 44px;
    margin-top: 10px;
    margin-bottom: 10px;
    --box-shadow: none;
}
.add-button-label {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #009AC9;
    padding: 10px 20px;
}
.number-watermark {
    position: absolute;
    right: 10px;
}
.number-watermark-text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 75px;
    color: #F4F5F5;
}

// custom list apartments 
.list-content.md {
    // margin: 10px 16px;
    padding: 0;
}
.card-content {
    margin: 20px 16px 20px 16px;
    box-shadow: 0px 10px 30px rgba(33, 49, 63, 0.1);
    border-radius: 8px;
}