<ion-content class="content-wrap">
  <div class="content-container">
    <ion-item lines="none" class="header-item ion-no-padding">
      <ion-title class="popup-title">{{ 'PAYMENT_COMMENT.title' | translate }}</ion-title>
      <ion-buttons slot="end" (click)="closeModal()" class="btn-close-popup">
        <ion-icon name="close"></ion-icon>
      </ion-buttons>
    </ion-item>
    <ion-content #content class="list-chat-content">
      <ion-list lines="full" class="ion-no-margin ion-no-padding padding-top-10 padding-bottom-20 ion-list-class">
        <ion-item *ngFor="let message of data_chat" class="ion-item-message {{getMarginTop(message)}}">
          <div *ngIf="message.type == 'left' && (message.message != '' || message.images != '')" class="div-avatar">
            <ion-avatar> <img src="{{message.avatar}}"></ion-avatar>
          </div>
          <div *ngIf="message.type == 'left' && message.message != ''" class="col-7">
            <ion-label class="label-message-left-bql">{{ 'PAYMENT_COMMENT.bql' | translate }}</ion-label>
            <div class="div-label-message-left">
              <ion-label class="label-message-left">{{message.message}}</ion-label>
            </div>
          </div>
          <div *ngIf="message.type == 'left' && message.message == '' && message.images != ''" class="col-7 div-image-message-left">
            <ion-label class="label-message-left-bql">{{ 'PAYMENT_COMMENT.bql' | translate }}</ion-label>
            <img class="" src="{{message.images}}"/>
          </div>
          <div *ngIf="message.type == 'right' && message.message != ''" class="col-7 div-label-message-right" slot="end">
            <ion-label class="label-message-right">{{message.message}}</ion-label>
          </div>
          <div *ngIf="message.type == 'right' && message.message == '' && message.images != ''" class="col-7 div-image-message-right" slot="end">
            <img class="" src="{{message.images}}"/>
          </div>
        </ion-item>
      </ion-list>
    </ion-content>
  </div>
</ion-content>
<ion-footer class="ion-no-border footer-content">
  <ion-item lines="none" class="add-comment-item">
    <div class="div-select-image" (click)="selectImage()">
      <ion-icon name="image" slot="start" class="add-image-icon"></ion-icon>
    </div>
    <ion-textarea class="input-area" #chat_input
      rows="1" wrap="soft" maxlength="500"
      [(ngModel)]="editorMsg" 
      auto-grow
      placeholder="{{ 'REQUEST_DETAIL.place_holder_input' | translate }}">
      <ion-icon name="paper-plane" class="icon-send icon-send-default" (click)="sendMsg()"></ion-icon>
    </ion-textarea>    
  </ion-item>
</ion-footer>
