root{
    --borderColor:gray;
    --charShape:none;
}
.content-wrap {
    --background: rgba(33,49,63,0);
}
.content-container {
    position: fixed;
    width: 100%;
    height: auto;
    bottom: 0;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    background: #ffffff;
    display: block;
    justify-content: end;
}
.header-item {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}
.modal-item {
    margin: 10px 0;
    padding: 0 10px;
}
.modal-toolbar {
    margin-top: 10px;
    margin-bottom: 20px;
}
.modal-icon {
    font-size: 60px;
    color: #333333;
}
.delete_message {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #21313F;
    margin-bottom: 0;
}
.col:last-child {
    width:1% !important;
}

.pinCodeInput {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(23, 21, 48, 0.102546);
    border-radius: 8px;
    width: 40px;
    height: 40px;
    border: 1px solid #c4c4c4;
    font-size: 24px;
    text-align: center;
    -webkit-text-security:var(--charShape);
    -moz-text-security: var(--charShape);
}

.pinCodeGrid{
    direction: ltr;
}

.pinCodeInput[disabled]{
   border-bottom: 2px solid #e3e3e3;
   background-color: transparent;
}

.image-item {
    --padding-start: 0px;
    --inner-padding-end: 0px;
}

.image-icon-check {
    height: 20px;
    width: 20px;
    left: 0;
    right: 0;
    margin:0 auto;
}

.form-class {
    padding-left: 10%;
    padding-right: 10%;
}

.note-style .label-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #556080;
}

.btn-done{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #556080;
}

.wrong-code{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #333333;
}

.margin-top-16{
    margin-top: 24px;
}


.btn-resend {
    --background-focused:transparent;
    --background-hover:transparent;
    --background: transparent;
    --ion-toolbar-color: transparent;
    --box-shadow: none;
}
.btn-resend-label {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #009AC9;
}
.timecounter-label {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #7A838C;
}
.timecounter {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #21313F;
}