<!-- <ion-backdrop></ion-backdrop> -->
<ion-content class="content-wrap">
  <div class="content-container">
    <ion-item lines="none" class="header-item">
      <ion-buttons slot="end" class="" (click)="closeModal()" class="btn-close-popup">
        <ion-icon name="close"></ion-icon>
      </ion-buttons>
    </ion-item>
    <ion-item lines="none" class="ion-text-center modal-header">
      <ion-text class="normal_message">
        <p class="no-margin-bottom">{{dataTransfer.description}}</p>
        <!-- <p class="no-margin-bottom">{{ 'PAYMENT_INFOR.payment_transfer_message' | translate }}</p> -->
        <!-- <p>({{ 'PAYMENT_INFOR.payment_transfer_subtitle' | translate }})</p> -->
      </ion-text>
    </ion-item>
    <ion-item lines="none" class="ion-text-center modal-item">
      <ion-label class="small_message">{{ 'PAYMENT_INFOR.bank_account_management' | translate }}</ion-label>
    </ion-item>
    <ion-item lines="none" class="ion-text-center modal-item">
      <ion-label class="back_account">{{dataTransfer.bankAccountNumber}}</ion-label>
      <ion-button slot="end" class="button-save" (click)="copyBankNumber()">
          <ion-icon name="copy-outline" slot="start" class="icon-save"></ion-icon>
          <ion-label class="button-save-label">{{ 'PAYMENT_INFOR.btn_copy' | translate }}</ion-label>
      </ion-button>
    </ion-item>
    <div lines="none" class="ion-text-center ion-text-justify modal-footer">
      <p class="small_message">{{dataTransfer.bankAccountHolder}} - {{dataTransfer.bankName}}</p>
    </div>
  </div>
  
</ion-content>
