<ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text=""></ion-back-button>
      </ion-buttons>
      <ion-title>{{ 'NOTIFICATION_COMMENT.title' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <div class="input-wrap">
        <!-- <button ion-button clear icon-only item-right (click)="switchEmojiPicker()">
          <ion-icon name="md-happy"></ion-icon>
        </button> -->
        <ion-textarea #chat_input
                  placeholder="{{ 'NOTIFICATION_COMMENT.place_holder_input' | translate }}"
                  [(ngModel)]="editorMsg">
        </ion-textarea>
        <ion-button class="button-send" item-right (click)="sendMsg()">
          <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
        </ion-button>
    </div>
    <ion-content class="list-home-content" [style.height.px]="heightScreen">
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="circles" refreshingSpinner="" refreshingText=""></ion-refresher-content>
      </ion-refresher>
      <ion-list class="list-chat-content">
        <div class="message-wrap">
          <div *ngFor="let item of listArticlesComment.reverse()">
            <div *ngIf="item.status == 'approve' || item.createdBy.phone == profile.phone" class="message left">
              <img class="user-img" *ngIf="item.createdBy" src="{{item.createdBy.avatar}}"/>
              <img  class="user-img"*ngIf="!item.createdBy" src="../assets/icon/avatar-default.png"/>
              <!-- <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner> -->
              <div class="msg-detail">
                <div class="msg-info">
                  <p>{{item.createdBy.displayName}}</p>
                  <p>{{formatString(item.createdAt)}}</p>
                </div>
                <div class="msg-content">
                  <span class="triangle"></span>
                  <p [innerHTML]="convertText(item.content)" ></p>
                </div>
              </div>
            </div>
            <div *ngFor="let itemRep of item.replies.reverse()"
                class="message right">
              <img class="user-img" *ngIf="itemRep.createdBy" src="{{itemRep.createdBy.avatar}}"/>
              <img  class="user-img"*ngIf="!itemRep.createdBy" src="../assets/icon/avatar-default.png"/>
              <!-- <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner> -->
              <div class="msg-detail">
                <div class="msg-info">
                  <p>{{itemRep.createdBy.displayName}}</p>
                  <p>{{formatString(itemRep.createdAt)}}</p>
                </div>
                <div class="msg-content">
                  <span class="triangle"></span>
                  <p [innerHTML]="convertText(itemRep.content)" ></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <ion-card *ngFor="let item of listArticlesComment">
          <ion-item>
            <ion-avatar slot="start">
              <img *ngIf="item.createdBy" src="{{item.createdBy.avatar}}"/>
              <img *ngIf="!item.createdBy" src="../assets/icon/avatar-default.png"/>
            </ion-avatar>
            <ion-label>
              <h2 [innerHTML]="convertText(item.content)" ></h2>
              <p *ngIf="item.createdBy != null">{{item.createdBy.displayName}}</p>
              <p>{{formatString(item.createdAt)}}</p>
            </ion-label>
          </ion-item>
          <ion-item *ngFor="let itemRep of item.replies.reverse()">
            <ion-avatar slot="start">
              <img *ngIf="itemRep.createdBy" src="{{itemRep.createdBy.avatar}}"/>
              <img *ngIf="!itemRep.createdBy" src="../assets/icon/avatar-default.png"/>
            </ion-avatar>
            <ion-label>
              <h2 [innerHTML]="convertText(itemRep.content)" ></h2>
              <p *ngIf="itemRep.createdBy != null">{{itemRep.createdBy.displayName}}</p>
              <p>{{formatString(item.createdAt)}}</p>
            </ion-label>
          </ion-item>
        </ion-card> -->
      </ion-list>
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="{{ 'NOTIFICATION_COMMENT.loadding_more' | translate }}">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-content>
</ion-content>