.header-toolbar.ios {
    margin: 0 16px;
}
.error-input {
    border: 1px solid #FA7268;
}

.error-message {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color: #FA7268;
}

.change-password-input {
    margin: 20px 17px 0 17px;
}
.change-pass-button{
    margin: 0;
    padding: 0;
    font-size: 16px;
}