.error-input {
    border: 1px solid #FA7268;
}

.error-message {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color: #FA7268;
}

.change-password-input {
    margin: 20px 17px 0 17px;
}
.password-input{
    height: 3.5em;
    mix-blend-mode: normal;
    border: 1px solid #D3D6D9;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 20px;
}
.password-input-text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    --padding-start: 10px;
    color: #7A838C;
}
.input-text {
    color: #21313F;
    margin-top: -20px;
}
.input-icon {
    margin: 17px 17px 17px 2px;
    font-size: 20px;
}
.label-floating {
    transform: translate3d(0,11px,0);
    margin-top: 7px;
}

.change-pass-button{
    margin: 0;
    padding: 0;
}
.pass-hide-icon {
    margin: 19px 13px 17px 2px;
    font-size: 18px;
}
.clear-input {
    color: #D3D6D9;
    
}