<ion-header class="ion-no-border change-password-header">
  <ion-buttons class="back-button">
    <ion-back-button color="light" text="" icon="chevron-back" class="ion-back-button"></ion-back-button>
  </ion-buttons>
  <ion-label class="header-title">{{ 'CHANGE_PASSWORD.title' | translate }}</ion-label>
</ion-header>

<ion-content class="change-password-content">
  <div class="change-password-input">
    <ion-item class="input-item" lines="none">
      <ion-icon class="input-icon" name="custom-locker" src="/assets/icon/account/lock.svg" slot="start"></ion-icon>
      <ion-label class="input-floating-label" position="floating">{{ 'CHANGE_PASSWORD.place_holder_old_password' | translate }}</ion-label>
      <ion-input class="input-text" [(ngModel)]="oldPassword" [type]="passwordOld_type" name="oldPassword"></ion-input>
      <ion-icon class="clear-input check-default" name="checkmark-circle" slot="end"></ion-icon>
      <ion-icon class="pass-hide-icon" [name]="passwordOldToggleIcon" (click)="togglePasswordOld()" slot="end"></ion-icon>
    </ion-item>
    <ion-item class="input-item" lines="none">
      <ion-icon class="input-icon" name="custom-locker" src="/assets/icon/account/lock.svg" slot="start"></ion-icon>
      <ion-label class="input-floating-label" position="floating">{{ 'CHANGE_PASSWORD.place_holder_new_password' | translate }}</ion-label>
      <ion-input class="input-text" [(ngModel)]="newPassword" [type]="passwordNew_type" name="newPassword"></ion-input>
      <ion-icon [ngClass]="!checkNewPassword() ? 'clear-input check-default' : 'clear-input check-success'" name="checkmark-circle" slot="end"></ion-icon>
      <ion-icon class="pass-hide-icon" [name]="passwordNewToggleIcon" (click)="togglePasswordNew()" slot="end"></ion-icon>
    </ion-item>
    <ion-item class="input-item" lines="none">
      <ion-icon class="input-icon" name="custom-locker" src="/assets/icon/account/lock.svg" slot="start"></ion-icon>
      <ion-label class="input-floating-label" position="floating">{{ 'CHANGE_PASSWORD.place_holder_confirm_password' | translate }}</ion-label>
      <ion-input class="input-text" [(ngModel)]="confirmPassword" [type]="password_type" name="confirmPassword"></ion-input>
      <ion-icon [ngClass]="!checkConfirmPassword() ? '' : 'error-input'" class="clear-input check-success" name="checkmark-circle" slot="end"></ion-icon>
      <ion-icon class="pass-hide-icon" [name]="passwordToggleIcon" (click)="togglePassword()" slot="end"></ion-icon>
    </ion-item>

    <ion-label color="danger" *ngIf="errorMessage != ''" class="error-message ion-text-wrap">{{errorMessage}}</ion-label>

    <ion-button (click)="changePass()" expand="block" class="" [ngClass]="!checkIsEnabled() ? 'button-common change-pass-button' : 'button-common change-pass-button button-common-active'" [disabled]="!checkIsEnabled()">
      <ion-label class="button-change-pass-label">{{ 'CHANGE_PASSWORD.btn_change_pass' | translate }}</ion-label>
    </ion-button>
  </div>
  

  <!-- <section>
    <ion-item lines="none" class="margin-top-10">
      <ion-input [ngClass]="!errorOldPass ? 'custom-common-input custom-common-input-text' : 'custom-common-input custom-common-input-text error-input'" placeholder="{{ 'CHANGE_PASSWORD.place_holder_old_password' | translate }}" [(ngModel)]="oldPassword" type="password" name="oldPassword"></ion-input>
    </ion-item>
    <ion-item lines="none" class="margin-top-10">
      <ion-input [ngClass]="!errorNewPass ? 'custom-common-input custom-common-input-text' : 'custom-common-input custom-common-input-text error-input'" placeholder="{{ 'CHANGE_PASSWORD.place_holder_new_password' | translate }}" [(ngModel)]="newPassword" type="password" name="newPassword"></ion-input>
    </ion-item>
    <ion-item lines="none" class="margin-top-10">
      <ion-input [ngClass]="!errorConfirmPass ? 'custom-common-input custom-common-input-text' : 'custom-common-input custom-common-input-text error-input'" placeholder="{{ 'CHANGE_PASSWORD.place_holder_confirm_password' | translate }}" [(ngModel)]="confirmPassword" type="password" name="confirmPassword"></ion-input>
    </ion-item>
    <ion-item lines="none" class="margin-top-10" *ngIf="errorMessage != ''">
        <ion-label color="danger" class="error-message">{{errorMessage}}</ion-label>
    </ion-item>
  </section>
  <section class="full-width function-section margin-top-10" (click)="changePass()">
      <ion-button expand="block" class="amo-button-custom">{{ 'CHANGE_PASSWORD.btn_change_pass' | translate }}</ion-button>
    </section> -->
</ion-content>
