ion-toolbar{
    --border-width: 0px !important;
}
.ion-color-primary {
    --ion-color-base: #ffffff !important;
    --ion-color-base-rgb: var(--ion-color-primary-rgb, 56, 128, 255) !important;
    --ion-color-contrast: #fa7268 !important;
    --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb, 255, 255, 255) !important;
    --ion-color-shade: var(--ion-color-primary-shade, #3171e0) !important;
    --ion-color-tint: var(--ion-color-primary-tint, #4c8dff) !important;
}
super-tab-button ion-label{
    color: #7A838C;
    text-transform: unset;
}
super-tab-button.active ion-label{
    color: #000000;
}
.margin-top-20 {
    margin-top: 20px;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-left-10 {
    margin-left: 10px;
}
ion-item{
    --inner-padding-end: 0px;
    --padding-start:0px
}
.ion-label-1 {
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #fcf4db;
    border-radius: 4px;
    padding: 3px 15px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #F2C94C;
}
.ion-label-2 {
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #fcf4db;
    border-radius: 4px;
    padding: 3px 15px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #F2C94C;
}
.ion-label-3 {
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #fcf4db;
    border-radius: 4px;
    padding: 3px 15px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #F2C94C;
}
.ion-label-4 {
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #dcf6f0;
    border-radius: 4px;
    padding: 3px 15px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #51D2B5;
}
.ion-label-5 {
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #fbe0de;
    border-radius: 4px;
    padding: 3px 15px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #FA7268;
}
.div-status {
    padding-bottom: 15px;
    padding-top: 5px;
}
.div-title-row-2-col-1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #21313F;
}
.div-title-row-2-col-2 {
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #21313F;
    font-weight: 500;
}
.item-date-time {
    float: right;
    --border-width: 0;
}
.item-date-time ion-label {
    font-size: 14px;
    line-height: 20px;
    color: #7A838C;
}
.group-2-col-2 {
    display: flex;
}
.group-2-col-2 .div-logo {
    width: 25%;
}
.group-2-col-2 .div-text {
    padding-left: 10px;
}
.div-col-1, .div-col-2{
    font-size: 14px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.div-col-2 {
    margin-top: 2px;
}
.center-div {
    display: inline-grid;
    vertical-align: middle;
    align-items: center;
}
.line-bottom {
    padding-bottom: 25px;
    margin-bottom: 10px;
    border-bottom: 1px solid #F4F5F5;
}
.col-1, 
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12
{
    padding: 0;
}

.avatar-class {
    height: 20px;
    width: 20px;
    margin-inline-end: 10px;
}
.label-name {
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    color: #21313F;
    margin: 0;
}
.no-border {
    --border-width: 0;
}
.div-button-chat {
    float: right;
}
.user-order-inf ion-item{
    --min-height: 32px;
}