<!-- <ion-header>
  <ion-toolbar>
    <ion-title>confirm-modal</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
    <ion-item lines="none" class="image-item header-infor">
      <ion-label>Delete</ion-label>
    </ion-item>
    <ion-item lines="none" class="image-item"> 
        <ion-img class="image-icon-check" src="/assets/common/delete-circle-o.png"></ion-img>
    </ion-item>
    <ion-item lines="none" class="image-item">
        <ion-label class="label-confirm">Are you sure you want to delete?</ion-label>
    </ion-item>
    <section class="full-width function-section">
      <ion-button expand="block" class="amo-button-custom amo-button-custom-1">Cancel</ion-button>
      <ion-button expand="block" class="amo-button-custom amo-button-custom-2">OK</ion-button>
    </section>

</ion-content>
