<!-- <ion-backdrop></ion-backdrop> -->
<ion-content class="content-wrap">
  <div class="content-container">
    <ion-item lines="none" class="header-item">
      <ion-buttons slot="end" class="" (click)="closeModal()" class="btn-close-popup">
        <ion-icon name="close"></ion-icon>
      </ion-buttons>
    </ion-item>
    <ion-toolbar lines="none" class="ion-text-center">
      <ion-icon name="checkmark-circle-outline" class="trash-icon"></ion-icon>
    </ion-toolbar>
    <ion-toolbar class="ion-text-center modal-item">
      <p class="normal-message">{{ 'REGISTRATION_GUEST.send_success_message' | translate }}</p>
    </ion-toolbar>
    <ion-toolbar class="ion-text-center modal-bottom">
      <p class="extra-message">{{ 'REGISTRATION_GUEST.back_registration_tab' | translate }}</p>
    </ion-toolbar>
  </div>
  
</ion-content>
