.error-input {
    border: 1px solid #333333;
}

.error-message {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color: #333333;
}
.change-password-input {
    margin: 20px 17px 0 17px;
}
.change-pass-button{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.login-header {
    background: #333333;
    color: #fff;
    padding: 54px 15px 25px 15px;
    border-radius: 0 0 20px 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin-bottom: 25px;

    &::after {
        content: "";
        background-image: url(/assets/icon/login/login-header.svg);
        background-repeat: no-repeat;
        width: 200px;
        height: 80px;
        position: absolute;
        top: 42px;
        opacity: 0.5;
        right: -80px;
    }

    .login-title {
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 41px;
        color: #ffffff;
    }
}
