<ion-header id="main-header" class="ion-no-border" [ngStyle]="{'display': getStyleHeader(1)}">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-header id="sub-header" class="ion-no-border" [ngStyle]="{'display': getStyleHeader(2)}">
  <ion-toolbar>
    <ion-title>{{data_gian_hang.text_title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item lines="none" class="ion-no-padding">
      <ion-img class="image-page" src="{{data_gian_hang.thumbnail}}"></ion-img>
      <div class="group-1-text-star">
        <div></div>
        <img class="group-1-icon-star" src="../assets/icon/svg/icon-star.svg"/>
        <ion-label class="class-label-rate">{{data_gian_hang.text_star_rate}}</ion-label>
      </div>
    </ion-item>
    <ion-item lines="none" class="margin-top-20">
      <ion-item lines="none" class="item-common">
        <div>
          <div>
            <ion-label class="ion-text-wrap title-1 font-weight-bold">{{data_gian_hang.text_title}}</ion-label>
          </div>
          <div id="div-text-place" class="group-1-text-place">
            <img class="group-1-icon-place" src="../assets/icon/svg/icon-place.svg"/>
            <ion-label>{{data_gian_hang.text_place}}</ion-label>
          </div>
        </div>
      </ion-item>
    </ion-item>
  </ion-list>
  <ion-slides [options]="slideOpts" class="margin-top-10">
    <ion-slide *ngFor="let object of data_gian_hang.group_1">
      <ion-item lines="none" class="ion-no-padding" id="{{object.id}}">
        <!-- <ion-img src="{{object.bg_url}}" class="img-responsive" alt=""></ion-img> -->
        <div class="div-promotion-code">
          <ion-grid class="ion-grid-class">
            <ion-row class="">
              <ion-col class="ion-col-class" size="3">
                <ion-img src="{{object.thumbnail}}" class="img-responsive" alt=""></ion-img>
              </ion-col>
              <ion-col class="ion-col-class" size="9">
                <div class="row col-12 promotion-code-1">
                  <div class="col-12 object_title"><ion-label>{{object.title}}</ion-label></div>
                </div>
                <div class="col-12">
                  <ion-label class="promotion-code-2">{{ 'SEVICE_NEW.promotion_code_detail' | translate }}</ion-label>
                </div>
              </ion-col>
            </ion-row>
            <ion-row class="margin-top-10">
              <ion-col class="ion-col-class" size="12">
                <div class="col-12 promotion-code-3">
                  <img src="../assets/icon/svg/people.svg" class="item-1" alt=""/>
                  <ion-label class="item-2">{{object.actual_order}}</ion-label>
                </div>
                <div class="col-12">
                  <div class="range-1" [ngStyle]="{'width': getStyleRange1(object.id)}"></div>
                  <div class="range-2"></div>
                </div>
                <div class="row col-12">
                  <div class="col-4 promotion-code-4">{{object.moc_1}}</div>
                  <div class="col-4 promotion-code-5">{{object.moc_2}}</div>
                  <div class="col-4 promotion-code-6">{{object.moc_3}}</div>
                </div>
              </ion-col>
            </ion-row>
            <ion-row class="margin-top-10">
              <ion-col class="ion-col-class" size="7">
                <div class="group-1-button-change-number">
                  <button class="button-3-1" (click)="downNumberProduct(object.id)"><img class="icon-button-3" src="../assets/icon/svg/tru.svg"/></button>
                  <label class="group-1-label-1 font-weight-bold text-white">{{object.number}}</label>
                  <button class="button-3-2" (click)="upNumberProduct(object.id)"><img class="icon-button-3" src="../assets/icon/svg/plus.svg"/></button>
                </div>
              </ion-col>
              <ion-col class="ion-col-class" size="5">
                <div class="col-12 object_money">
                  <ion-label>{{object.money}}</ion-label>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div *ngIf="object.deadline != ''" class="group-1-slider-title">
          <ion-label>{{object.deadline}}</ion-label>
        </div>
      </ion-item>
    </ion-slide>
  </ion-slides>
  <super-tabs *ngIf="data_gian_hang.group_3.length != 0" class="line-1 class-super-tabs margin-top-10" activeTabIndex="0" [config]="{ debug: true, sideMenu: 'left', allowElementScroll: true, nativeSmoothScroll: true }">
    <super-tabs-toolbar slot="top" scrollable="true" scrollable-padding="false">
      <super-tab-button *ngFor="let object of data_gian_hang.group_3">
        <ion-label>{{object.title}}</ion-label>
      </super-tab-button>
    </super-tabs-toolbar>
    <super-tabs-container autoScrollTop>
      <super-tab class="ion-padding hidden-overflow" *ngFor="let object of data_gian_hang.group_3">
        <!-- <ion-grid class="ion-no-padding margin-bottom-15">
          <ion-row class="">
            <ion-col class="group-2-label-1 ion-align-self-start" size="6">
              <ion-label class="group-3-sub-title">{{object.title}}</ion-label>
            </ion-col>
            <ion-col class="group-2-label-2 ion-align-self-end" size="6" (click)="selectAllEvent(object.id_tab)">
              <ion-label class="group-3-select-all">{{ 'SEVICE_29.group_3_label' | translate }}</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid> -->

        <ion-grid class="ion-no-padding scroll-class">
          <ion-row class="row-data-product" *ngFor="let data of object.data" id="{{data.id}}">
            <ion-col class="ion-col-class group-2-col-1" size="3">
              <div class="div-logo">
                <ion-img src="{{data.image}}"></ion-img>
                <div *ngIf="data.text_note != '' && data.type_note == 1" class="note-1">
                  <ion-label>{{data.text_note}}</ion-label>
                </div>
                <div *ngIf="data.text_note != '' && data.type_note == 2" class="note-2">
                  <ion-label>{{data.text_note}}</ion-label>
                </div>
              </div>
            </ion-col>
            <ion-col class="item ion-col-class group-2-col-2" size="9">
              <div class="row div-title-col-2">
                <div class="col-8">
                  <ion-label class="font-weight-bold">{{data.title}}</ion-label>
                </div>
                <div class="col-4">
                  <ion-label class="font-weight-bold">{{data.money}}</ion-label>
                </div>
              </div>
              <div class="div-note-col-2">
                  <ion-label>{{data.note}}</ion-label>
              </div>
              <div class="group-1-button-change-number">
                <button class="button-3-1" (click)="downNumberProduct_1(object.id_tab, data.id)"><img class="icon-button-3" src="../assets/icon/svg/tru.svg"/></button>
                <label class="group-1-label-1 font-weight-bold">{{data.number}}</label>
                <button class="button-3-2" (click)="upNumberProduct_1(object.id_tab, data.id)"><img class="icon-button-3" src="../assets/icon/svg/plus.svg"/></button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </super-tab>
    </super-tabs-container>
  </super-tabs>
</ion-content>
<section class="full-width function-section shadow-section">
  <ion-button expand="block" class="amo-button-custom padding-0 {{disable_button_send}}" (click)="goToPageGioHang()">{{ 'SEVICE_29.button_send' | translate }}{{total_money}}</ion-button>
</section>
