.note-text{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 171% */
    color: #556080;
}


.button-next {
    width: 100%;
    padding: 0;
    height: 2.8em;
}

.button-next-label {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}

.text_me_item{
    position: absolute;
    width: 100%;
    bottom: 7.65%;
    padding: 0;
}

.forgot-password-input {
    margin: 20px 16px;
}

.input-icon {
    margin: 17px 17px 17px 2px;
    font-size: 20px;
}

.next-button{
    // height: 3.5em;
    margin: 0;
    position: absolute;
    left: 4.27%;
    width: 91.46%;
    bottom: 25px;
    padding: 0;
}

    