<ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
      </ion-buttons>
      <ion-title>{{ 'FORGOT_PASSWORD.title' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-item lines="none" class="margin-top-10">
      <ion-label class="ion-text-wrap note-text">{{ 'FORGOT_PASSWORD.forgot_password_note' | translate }}</ion-label>
    </ion-item>
    <div class="forgot-password-input">
      <ion-item class="phone-input phone-input-text">
        <ion-icon name="custom-mobile" class="input-icon" src="/assets/icon/custom-mobile.svg" slot="start"></ion-icon>
        <ion-label class="item-inner" position="floating">{{ 'LANDING.phone_number_text' | translate }}</ion-label>
        <ion-input class="input-text" [(ngModel)]="phoneNumber" clearInput type="tel"></ion-input>
      </ion-item>
    </div>
    <ion-button (click)="sendSMS()" expand="block" class="" [ngClass]="!checkIsEnabled() ? 'button-common next-button' : 'button-common next-button button-common-active'" [disabled]="!checkIsEnabled()">
      <ion-label class="button-next-label">{{ 'FORGOT_PASSWORD.btn_text_me' | translate }}</ion-label>
    </ion-button>
</ion-content>
