.note-text{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    color: #556080;
}

.phone-input {
    width: 91.46%;
    height: 3.5em;
    // height: 40px;
    mix-blend-mode: normal;
    // opacity: 0.15;
    border: 1px solid  rgba(85, 96, 128, 0.15);
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(23, 21, 48, 0.102546);
    border-radius: 8px;
}

.phone-input-text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    --padding-start: 10px !important;
    color: #556080;
}

.button-next {
    width: 100%;
    padding: 0;
    height: 2.8em;
}

.button-next-label {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}

.text_me_item{
    position: absolute;
    width: 100%;
    bottom: 7.65%;
    padding: 0;
}
    