<!-- <ion-header class="ion-no-border">
    <ion-toolbar class="header-toolbar">
      <ion-buttons slot="start">
        <ion-back-button text="" icon="chevron-back"></ion-back-button>
      </ion-buttons>
      <ion-title>{{ 'FORGOT_PASSWORD.title' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header> -->
<ion-header class="ion-no-border">
  <div class="login-header">
    <ion-buttons>
      <ion-back-button color="light" text="" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-label class="login-title">{{ 'FORGOT_PASSWORD.title' | translate }}</ion-label>
    <ion-label></ion-label>
  </div>
</ion-header>


<ion-content>
  <ion-item lines="none" class="margin-top-10">
    <ion-label class="ion-text-wrap note-text">{{ 'FORGOT_PASSWORD.forgot_password_note' | translate }}</ion-label>
  </ion-item>
  <div class="forgot-password-input">
    <ion-item class="input-item" lines="none">
      <img class="input-icon" name="custom-mobile" src="../assets/icon/svg/profile.svg" slot="start" />
      <ion-label class="input-floating-label" position="floating">{{ 'LANDING.phone_number_text' | translate }}
      </ion-label>
      <ion-input class="input-text" [(ngModel)]="phoneNumber" type="phone"></ion-input>
      <!-- <ion-icon class="clear-input check-default" name="close-circle" slot="end"></ion-icon> -->
    </ion-item>
    <!-- <ion-item class="phone-input phone-input-text">
        <ion-icon name="custom-mobile" class="input-icon" src="/assets/icon/custom-mobile.svg" slot="start"></ion-icon>
        <ion-label class="item-inner" position="floating">{{ 'LANDING.phone_number_text' | translate }}</ion-label>
        <ion-input class="input-text" [(ngModel)]="phoneNumber" clearInput type="tel"></ion-input>
      </ion-item> -->
  </div>
  <ion-button (click)="sendSMS()" expand="block" class=""
    [ngClass]="!checkIsEnabled() ? 'button-common next-button' : 'button-common next-button button-common-active'"
    [disabled]="!checkIsEnabled()">
    <ion-label class="button-next-label">{{ 'FORGOT_PASSWORD.btn_text_me' | translate }}</ion-label>
  </ion-button>
</ion-content>