<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text=""></ion-back-button>
      </ion-buttons>
      <ion-title>{{ 'FORGOT_PASSWORD.title' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-item lines="none" class="margin-top-10">
      <ion-label class="ion-text-wrap note-text">{{ 'FORGOT_PASSWORD.forgot_password_note' | translate }}</ion-label>
    </ion-item>
    <ion-item lines="none" class="margin-top-10">
      <ion-input class="phone-input phone-input-text" [(ngModel)]="phoneNumber" clearInput type="tel" placeholder="{{ 'LANDING.phone_place_holder' | translate }}"></ion-input>
    </ion-item>
    <ion-item lines="none" class="text_me_item">
      <ion-button expand="block" class="amo-button-custom" [ngClass]="!checkIsEnabled() ? 'button-common button-next' : 'button-common button-next button-common-active'" [disabled]="!checkIsEnabled()" (click)="sendSMS()">
        <ion-label class="button-next-label">{{ 'FORGOT_PASSWORD.btn_text_me' | translate }}</ion-label>
      </ion-button>
    </ion-item>
</ion-content>
