ion-button.md {
  .button-native {
    --padding-start: 0 !important;
  }
}
.error-input {
  border: 1px solid #FFC144;
}

.error-message {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  color: #FFC144;
}
.account-back-button {
  margin-left: 10px !important;
}

.input-num {
  color: #21313f;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
.input-flag-icon {
  font-size: 24px;
  margin-left: 5px;
}

.change-pass-button {
  margin: 0;
  padding: 0;
}
.pass-hide-icon {
  margin: 19px 13px 17px 2px;
  font-size: 18px;
}
.clear-input {
  color: #d3d6d9;
}
.check-valid {
  color: #009ac9;
}
.check-unvalid {
  color: #FFC144;
}
.check-success {
  color: #51d2b5;
}
::slotted(ion-buttons) {
  --min-height: 32px;
}
.button-save {
  --ion-toolbar-color: rgba(0, 154, 201, 0.15);
  --background-activated: rgba(0, 154, 201, 0.25);
  --background-focused: rgba(0, 154, 201, 0.25);
  --background-hover: rgba(0, 154, 201, 0.25);
  --border-radius: 100px;
  padding: 0 12px;
  margin-right: 14px;
  height: 32px;
  --min-height: 32px;
}
.button-save.md {
  --box-shadow: none !important;
  padding: 0;
}
.button-save-label {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #009ac9;
}
.icon-save {
  font-size: 16px !important;
  color: #009ac9;
}

.icon-bottom {
  bottom: -3px;
}
.no-padding {
  padding: 0;
}
.padding-left-10 {
  padding-left: 10px;
}
.padding-right-10 {
  padding-right: 10px;
}
.margin-left-0 {
  margin-left: 0 !important;
}
.pointer-events-none {
  pointer-events: none;
}
.label-phone-code {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #21313f;
  overflow: auto;
  text-overflow: initial;
  pointer-events: none;
  position: absolute;
}
.opacity-0 {
  opacity: 0;
}

// new css =========================
.account-detail-header {
  background-color: #FFC144;
  height: 155px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .back-button {
    position: absolute;
    left: 10px;
    top: 60px;
    .ion-back-button {
      --icon-font-size: 22px;
      margin-left: 0;
      width: 25px;
    }
  }
  .header-title {
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    position: absolute;
    left: 15px;
    right: 15px;
    top: 57px;
    font-size: 28px;
    line-height: 41px;
    color: #ffffff;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: 25px;
    left: -1px;
    right: -1px;
    box-shadow: 0 30px 0 0 #f9fcff;
    height: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
}
.my-account-avatar {
  z-index: 999;
  .account-avatar {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .icon-camera {
    font-size: 24px;
    color: #FFC144;
    position: absolute;
    left: 0;
    right: 0;
    top: 185px;
    margin: 0 auto;
  }
}
.account-detail-content {
  font-family: Open Sans;
  background: #f9fcff;
  --background: #f9fcff;
  --padding-start: 15px;
  --padding-end: 15px;
  --padding-top: 65px;

  .input-item {
    width: 100%;
    display: flex;
    border: 1px solid #d3d6d9;
    border-radius: 8px;
    height: 60px;
    --background: #fbfbfb !important;
    margin-bottom: 10px;
    mix-blend-mode: normal;
    --padding-start: 10px;
    --padding-end: 10px;
    .input-icon {
      margin-right: 15px;
    }
  }
  .button-send {
    --background: #FFC144 !important;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #ffffff !important;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  // custom floating input
  ion-datetime.ios {
    padding-bottom: 0px !important;
    padding-top: 0 !important;
  }
  ion-select.ios {
    padding-bottom: 5px !important;
    padding-top: 0 !important;
  }
  .input-text-50 {
    --padding-end: 0;
    --padding-bottom: 6px;
  }
}
