<ion-content class="content-wrap">
  <div class="content-container">
    <ion-item lines="none" class="header-item ion-no-padding">
      <ion-title class="popup-title">{{ 'REGISTRATION_GUEST.select_apartment_title' | translate }}</ion-title>
      <ion-buttons slot="end" (click)="closeModal()" class="btn-done">
        <ion-icon name="close"></ion-icon>
      </ion-buttons>
    </ion-item>
    <ion-item lines="none" class="select-item ion-no-padding btn-select-active">
      <ion-text class="select-title">
        <p class="apartment-name">A1511 - Central Point Bắc Hà</p>
        <p class="apartment-address">219 Trung Kính - Yên Hòa - Cầu Giấy - Hà Nội</p>
      </ion-text>
      <ion-buttons slot="end" class="btn-done">
        <ion-icon name="checkmark-circle" class="active"></ion-icon>
      </ion-buttons>
    </ion-item>
    <ion-item lines="none" class="select-item ion-no-padding">
      <ion-text class="select-title">
        <p class="apartment-name">1207 - Vincom Times City</p>
        <p class="apartment-address">Minh Khai - Hà Nội</p>
      </ion-text>
      <ion-buttons slot="end" class="btn-done">
        <ion-icon name="checkmark-circle" class="hide"></ion-icon>
      </ion-buttons>
    </ion-item>
    <ion-item lines="none" class="select-item ion-no-padding">
      <ion-text class="select-title">
        <p class="apartment-name">B2511 - Royal City</p>
        <p class="apartment-address">Nguyễn Trãi - Thanh Xuân - Hà Nội</p>
      </ion-text>
      <ion-buttons slot="end" class="btn-done">
        <ion-icon name="checkmark-circle" class="hide"></ion-icon>
      </ion-buttons>
    </ion-item>
  </div>
  
</ion-content>