<ion-content class="content-wrap">
  <div class="content-container">
    <ion-item lines="none" class="header-item ion-no-padding">
      <ion-title class="popup-title">{{ 'REGISTRATION_GUEST.select_apartment_title' | translate }}</ion-title>
      <ion-buttons slot="end" (click)="closeModal()" class="btn-close-popup">
        <ion-icon name="close"></ion-icon>
      </ion-buttons>
    </ion-item>
    <div class="data-apartment">
      <ion-item lines="none" class="select-item ion-no-padding {{checkSelectOption(item.apartment._id)[0]}}" *ngFor="let item of listDepartment" (click)="selectApartment(item.apartment._id)">
        <ion-text class="select-title">
          <p class="apartment-name">{{item.apartment.title}} - {{item.campaign.title}}</p>
          <p class="apartment-address">{{item.campaign.address}}</p>
        </ion-text>
        <ion-buttons slot="end" class="btn-done">
          <ion-icon name="checkmark-circle" class="{{checkSelectOption(item.apartment._id)[1]}}"></ion-icon>
        </ion-buttons>
      </ion-item>
    </div>
  </div>
  
</ion-content>