<ion-header class="ion-no-border delete-home-member-header">
  <ion-buttons class="back-button">
    <ion-back-button color="light" text="" icon="chevron-back" class="ion-back-button"></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content>
  <div class="account-info">
    <ion-item class="input-item" lines="none">
      <ion-icon class="input-icon" name="custom-user" src="/assets/icon/custom-user.svg" slot="start"></ion-icon>
      <ion-label class="input-floating-label" position="floating">{{ 'ADD_HOME_MEMBER.placeholder_name' | translate }}</ion-label>
      <ion-input class="input-text" type="text" name="userName" value="" [ngModel]="memberObject.name"></ion-input>
      <!-- <ion-icon class="clear-input check-valid" name="checkmark-circle" slot="end"></ion-icon> -->
    </ion-item>
    <ion-item class="input-item" lines="none" >
      <ion-icon class="input-icon" name="custom-user-check" src="/assets/icon/custom-user-check.svg" slot="start"></ion-icon>
      <ion-label class="input-floating-label" position="floating">{{ 'ADD_HOME_MEMBER.placeholder_relationship' | translate }}</ion-label>
      <ion-input class="input-text pointer-events-none" type="text" name="relationShip" value="{{memberObject.relationShip}}" readonly></ion-input>
      <ion-icon class="select-icon" name="caret-down-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item class="input-item" lines="none">
      <ion-icon class="input-icon" name="custom-card" src="/assets/icon/custom-card.svg" slot="start"></ion-icon>
      <ion-label class="input-floating-label" position="floating">{{ 'ADD_HOME_MEMBER.placeholder_memberID' | translate }}</ion-label>
      <ion-input class="input-text" type="text" name="userEmail" value="" [ngModel]="memberObject.personalLicense"></ion-input>
      <!-- <ion-icon class="clear-input check-valid" name="checkmark-circle" slot="end"></ion-icon> -->
    </ion-item>
    <ion-row>
      <ion-col class="no-padding padding-right-10" size="5">
        <ion-item class="input-item" lines="none">
          <ion-icon class="input-icon" name="flag-vn" src="{{avatarCountry}}" slot="start"></ion-icon>
          <ion-label class="label-phone-code">+{{memberObject.phoneCode}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col class="no-padding padding-left-10" size="7">
        <ion-item lines="none" class="input-item">
          <ion-input class="input-text no-floating-label" type="number" value="" [ngModel]="memberObject.phone"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="no-padding padding-right-10" size="6">
        <ion-item class="input-item" lines="none">
          <ion-icon class="input-icon" name="custom-gift" src="/assets/icon/custom-gift.svg" slot="start"></ion-icon>
          <ion-label class="input-floating-label" position="floating">{{ 'ADD_HOME_MEMBER.placeholder_DOB' | translate }}</ion-label>
          <ion-datetime [ngModel]="memberObject.dateOfBirth" class="input-text input-text-50" displayFormat="DD/MM/YYYY" value="01-01-1990"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col class="no-padding padding-left-10" size="6">
        <ion-item class="input-item" lines="none">
          <ion-icon class="input-icon" name="custom-gender" src="/assets/icon/custom-gender.svg" slot="start"></ion-icon>
          <ion-label class="input-floating-label" position="floating">{{ 'ADD_HOME_MEMBER.placeholder_gender' | translate }}</ion-label>
          <ion-select class="input-text select-text" value="male" [ngModel]="memberObject.gender">
            <ion-select-option value="female">{{ 'ADD_HOME_MEMBER.female' | translate }}</ion-select-option>
            <ion-select-option value="male">{{ 'ADD_HOME_MEMBER.male' | translate }}</ion-select-option>
          </ion-select>
        </ion-item>        
      </ion-col>
    </ion-row>
    
    <ion-button (click)="deleteMemberModal()" expand="block" class="button-common button-common-bottom button-next button-common-active">
      <ion-label>{{ 'MY_HOME_DETAIL.delete_member' | translate }}</ion-label>
    </ion-button>
  </div>
  
</ion-content>
