<ion-backdrop></ion-backdrop>
<ion-content class="content-wrap">
  <div class="content-container">
    <ion-item lines="none" class="header-item ion-no-padding">
      <ion-title class="popup-title">{{ 'MY_ACCOUNT.language' | translate }}</ion-title>
      <ion-buttons slot="end" (click)="closeModal()" class="btn-close-popup">
        <ion-icon name="close"></ion-icon>
      </ion-buttons>
    </ion-item>
    <ion-item lines="none" [ngClass]="selectedLanguage == 'vi' ? 'select-item ion-no-padding btn-language-active' : 'select-item ion-no-padding'" (click)="languageChanged('vi')">
      <ion-title class="select-title">{{ 'MY_ACCOUNT.vn' | translate }}</ion-title>
      <ion-buttons slot="end" class="btn-done">
        <ion-icon name="checkmark-circle" [ngClass]="selectedLanguage == 'vi' ? 'active' : 'hide'"></ion-icon>
      </ion-buttons>
    </ion-item>
    <ion-item lines="none" [ngClass]="selectedLanguage == 'en' ? 'select-item ion-no-padding btn-language-active' : 'select-item ion-no-padding'" (click)="languageChanged('en')">
      <ion-title class="select-title">{{ 'MY_ACCOUNT.en' | translate }}</ion-title>
      <ion-buttons slot="end" class="btn-done">
        <ion-icon name="checkmark-circle" [ngClass]="selectedLanguage == 'en' ? 'active' : 'hide'"></ion-icon>
      </ion-buttons>
    </ion-item>
  </div>
</ion-content>