<ion-header class="ion-no-border">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'REGISTRATION_GUEST.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="owner-info">
    <ion-item class="input-item" lines="none" (click)="selectApartmentModal()">
      <ion-icon class="input-icon" name="custom-apartment" src="/assets/icon/custom-apartment.svg" slot="start"></ion-icon>
      <ion-label class="input-floating-label" position="floating">{{ 'REGISTRATION_GUEST.apartment' | translate }}</ion-label>
      <ion-input class="input-text" type="text" name="userName" value=""></ion-input>
      <ion-icon class="select-icon" name="caret-down-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item class="input-item" lines="none">
      <ion-icon class="input-icon" name="custom-calendar" src="/assets/icon/custom-calendar.svg" slot="start"></ion-icon>
      <ion-label class="input-floating-label" position="floating">{{ 'REGISTRATION_GUEST.arrival_time' | translate }}</ion-label>
      <!-- <ion-input class="input-text" type="text" name="userEmail" value=""></ion-input> -->
      <ion-datetime class="input-text input-text-50" displayFormat="DD/MM/YYYY" value=""></ion-datetime>
      <ion-icon class="select-icon" name="caret-down-outline" slot="end"></ion-icon>
    </ion-item>
  </div>
  <div class="devider-line"></div>
  <div class="guest-info">
    <ion-item class="guest-quantity ion-no-padding" lines="none">
      <ion-label class="quantity-title">{{ 'REGISTRATION_GUEST.guest_quantity' | translate }}</ion-label>
      <ion-buttons class="quantity-buttons" slot="end">
        <ion-button class="icon-button btn-minus"><ion-icon name="custom-minus" src="/assets/icon/custom-minus.svg"></ion-icon></ion-button>
        <ion-label class="quantity">1</ion-label>
        <ion-button class="icon-button btn-plus"><ion-icon name="custom-plus" src="/assets/icon/custom-plus.svg"></ion-icon></ion-button>
      </ion-buttons>
      
    </ion-item>
    <ion-item class="input-item" lines="none">
      <ion-icon class="input-icon" name="custom-guest" src="/assets/icon/custom-guest.svg" slot="start"></ion-icon>
      <ion-label class="input-floating-label" position="floating">{{ 'REGISTRATION_GUEST.guest_name' | translate }}</ion-label>
      <ion-input class="input-text" type="text" name="userEmail" value=""></ion-input>
    </ion-item>
    <ion-item class="input-item" lines="none">
      <ion-icon class="input-icon" name="custom-card" src="/assets/icon/custom-card.svg" slot="start"></ion-icon>
      <ion-label class="input-floating-label" position="floating">{{ 'REGISTRATION_GUEST.guest_ID' | translate }}</ion-label>
      <ion-input class="input-text" type="text" name="userEmail" value=""></ion-input>
    </ion-item>
    
  </div>
  <div class="devider-line"></div>
  <div class="guest-info">
    <ion-item class="textarea-item" lines="none">
      <ion-textarea class="note-content" rows="4" placeholder="{{ 'REGISTRATION_GUEST.note' | translate }}"></ion-textarea>
    </ion-item>
    <ion-button expand="block" class="button-common button-common-bottom button-next" (click)="popupRegistrationSuccessModal()">
      <ion-label>{{ 'REGISTRATION_GUEST.btn_send' | translate }}</ion-label>
    </ion-button>
  </div>
  
</ion-content>
