<ion-header no-border>
  <ion-toolbar>
    <ion-title>{{data_history.title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="full" class="ion-no-margin ion-no-padding padding-top-10 padding-bottom-20 ion-list-class">
    <ion-item *ngFor="let message of data_chat" class="ion-item-message">
      <div *ngIf="message.type == 'left' && (message.message != '' || message.images != '')" class="div-avatar">
        <ion-avatar> <img src="{{message.avatar}}"></ion-avatar>
      </div>
      <div *ngIf="message.type == 'left' && message.message != ''" class="col-7 div-label-message-left">
        <ion-label class="label-message-left">{{message.message}}</ion-label>
      </div>
      <div *ngIf="message.type == 'left' && message.message == '' && message.images != ''" class="col-7 div-image-message-left">
          <img class="" src="{{message.images}}"/>
      </div>
      <div *ngIf="message.type == 'right' && message.message != ''" class="col-7 div-label-message-right" slot="end">
        <ion-label class="label-message-right">{{message.message}}</ion-label>
      </div>
      <div *ngIf="message.type == 'right' && message.message == '' && message.images != ''" class="col-7 div-image-message-right" slot="end">
        <img class="" src="{{message.images}}"/>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
<section class="full-width function-section shadow-section center-div">
  <div class="col-2 center-div">
    <ion-button expand="block" class="button-section" (click)="selectImage()">
      <img class="icon-select-image" src="../assets/icon/icon-select-image.png"/>
    </ion-button>
  </div>
  <div class="col-8 center-div div-text-area-1">
    <ion-textarea class="text-area-1" auto-grow="true" rows="1"
      placeholder="{{ 'SEVICE_10.placeholder_textarea' | translate }}"
      [(ngModel)]="message_content"
    ></ion-textarea>
  </div>
  <div class="col-2 center-div">
    <ion-button expand="block" class="button-section" *ngIf="message_content == ''">
      <img class="icon-send-inactive" src="../assets/icon/icon-send-inactive.png"/>
    </ion-button>
    <ion-button expand="block" class="button-section" *ngIf="message_content != ''" (click)="eventButtonSendMessage()">
      <img class="icon-send-active" src="../assets/icon/icon-send-active.png"/>
    </ion-button>
  </div>
</section>
  