ion-toolbar {
  --border-width: 0px !important;
}
.ion-color-primary {
  --ion-color-base: #ffffff !important;
  --ion-color-base-rgb: var(--ion-color-primary-rgb, 56, 128, 255) !important;
  --ion-color-contrast: #333333 !important;
  --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb, 255, 255, 255) !important;
  --ion-color-shade: var(--ion-color-primary-shade, #3171e0) !important;
  --ion-color-tint: var(--ion-color-primary-tint, #4c8dff) !important;
}
super-tab-button ion-label {
  color: #7a838c;
  text-transform: unset;
}
super-tab-button.active ion-label {
  color: #000000;
}

.order-chat-header {
  font-family: Open Sans;
  background-color: #ffffff;
  height: 60px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #c4c4c4;
  .back-button {
    position: absolute;
    left: 10px;
    top: 13px;
    .ion-back-button {
      --icon-font-size: 22px;
      margin-left: 5px;
      display: block;
      width: 25px;
      color: #666666;
    }
  }
  .header-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #221c1e;
    margin-left: 35px;
  }
}
.ion-list-class {
  padding-left: 17px;
  padding-right: 17px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-left-10 {
  margin-left: 10px;
}
ion-item {
  --inner-padding-end: 0px;
  --padding-start: 0px;
}

.center-div {
  display: inline-grid;
  vertical-align: middle;
  align-items: center;
}
.line-bottom {
  padding-bottom: 25px;
  margin-bottom: 10px;
  border-bottom: 1px solid #f4f5f5;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0;
}
.line-bottom-10 {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 10px solid #f4f5f5;
}
.margin-top-15 {
  margin-top: 15px;
}
.function-section {
  z-index: 999;
  bottom: 0px;
  width: 100%;
  padding: 10px 0px;
  // background-color: #f4f5f5;
  display: flex;
}

.padding-top-10 {
  padding-top: 10px;
}
.padding-bottom-20 {
  padding-bottom: 20px;
}
.text-area-1 {
  padding-left: 13px;
  max-height: 110px;
}
.div-text-area-1 {
  border: 1px solid #d3d6d9;
  box-sizing: border-box;
  border-radius: 8px;
  height: fit-content;
}
.button-section {
  --background: transparent;
  --background: transparent;
  --background-activated: transparent;
  --background-focused: transparent;
  --background-hover: transparent;
  --background-activated-opacity: 1;
  --background-focused-opacity: 1;
  --background-hover-opacity: 1;
  --box-shadow: unset;
}
.shadow-section {
  box-shadow: 0px -20px 20px 0px rgba(37, 34, 77, 0.1);
}
.label-message-left {
  text-overflow: unset;
  white-space: pre-wrap;
  overflow: unset;
  font-size: 16px;
  line-height: 24px;
}
.div-label-message-left {
  background: #e9ebec;
  border-radius: 8px;
  padding: 10px 10px;
  margin-left: 35px;
}
.div-image-message-left {
  margin-left: 35px;
}
.ion-item-message {
  --border-width: 0;
  margin-bottom: 10px;
  --min-height: 0px;
}
.div-avatar {
  height: 100%;
  margin-right: 10px;
  display: flex;
  align-items: center;

  ion-label {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #21313f;
  }
}
.div-avatar ion-avatar {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.div-label-message-right {
  background: #21313f;
  border-radius: 8px;
  padding: 10px 10px;
  float: right;
  margin-top: 5px;
}
.label-message-right {
  text-overflow: unset;
  white-space: pre-wrap;
  overflow: unset;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
