
<ion-header class="payment-confirm-header">
  <ion-buttons class="back-button">
    <ion-back-button color="#666666" text="" icon="chevron-back" class="ion-back-button" (click)="goBack()"></ion-back-button>
  </ion-buttons>
  <ion-label class="header-title">{{ 'PAYMENT_INFOR.payment_confirm_booking' | translate }}</ion-label>
  <!-- <ion-label class="header-sub-title">{{ 'PAYMENT_INFOR.payment_confirm_sub_title' | translate }}</ion-label> -->
</ion-header>

<ion-content class="payment-confirm-content">
  <ion-list lines="full" class="ion-no-margin ion-no-padding ion-list">
    <ion-grid class="ion-grid-class ion-no-padding">
      <ion-row>
        <ion-col class="ion-col-class" size="12">
          <img class="shop-icon" src="{{ shop_info.thumbnail }}">
          <ion-label class="shop-name">{{ shop_info.title }}</ion-label>
        </ion-col> 
      </ion-row>
      <ion-row *ngFor="let object of list_product; last as isLast" id="{{object._id}}">
        <ion-col class="ion-col-class" size="12">
          <ion-label class="title-product">{{object.title}}</ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-row>
            <ion-col size="7" class="col-data-money">
              <ion-label class="font-weight-bold white-space-normal">{{object.money_convert}}đ</ion-label>
            </ion-col>
            <ion-col class="group-1-button-change-number" size="5">
              <img class="icon-button-3" src="../assets/common/minus.svg" (click)="downNumberProduct(object._id)" />
              <label class="booking-product-number">{{object.number}}</label>
              <img class="icon-button-3" src="../assets/common/plus.svg" (click)="upNumberProduct(object._id)" />
            </ion-col>
          </ion-row>
        </ion-col>
        <div class="devider-line-confirm-item" *ngIf="!isLast"></div>
      </ion-row>
      <div class="devider-line-info-payment"></div>
      <ion-row>
        <ion-col size="5" class="col-total-title">
          <ion-label class="payment-confirm-total-title">{{'PAYMENT_INFOR.payment_confirm_total' | translate}}</ion-label>
        </ion-col>
        <ion-col size="7" class="col-total-money">
          <label class="payment-confirm-total-money">{{total_money}}</label>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item lines="none" class="payment-more-info booking-padding-12">
      <label class="payment-more-info-title">{{ 'SEVICE_05.detail_title' | translate }}</label>
    </ion-item>

    <ion-item lines="none">
      <ion-item lines="none" class="item-common booking-padding-12">
        <img class="icon-home" src="../assets/icon/request/home.svg" />
        <img class="icon-pulldown-down" src="../assets/icon/svg/Down.svg" />
        <label *ngIf="form_apartment_id != ''" class="pulldown-1-placeholder">{{ 'SEVICE_05.apartment_placeHolder_1' | translate }}</label>
        <div class="width-100 {{form_apartment_class}}">
          <ion-select class="pulldown-apartment-select" placeholder="{{ 'SEVICE_05.apartment_placeHolder_2' | translate }}"
            interface="action-sheet" name="form_apartment_id" [(ngModel)]="form_apartment_id"
            (ionChange)="ionChangePulldownApartment($event)">
            <ion-select-option *ngFor="let item of listDepartment" value="{{item.apartment._id}}">{{item.apartment.title + ' - ' +
              item.campaign.title}}</ion-select-option>
          </ion-select>
        </div>
      </ion-item>
    </ion-item>

    <ion-item lines="none" class="margin-top-10 booking-padding-12">
      <ion-item lines="none" class="item-common">
        <img class="icon-home" src="../assets/icon/request/time.svg" />
        <img class="icon-pulldown-down" src="../assets/icon/svg/Down.svg" />
        <label *ngIf="form_start_time != ''" class="pulldown-1-placeholder">{{ 'PAYMENT_INFOR.payment_confirm_time_receive' | translate
          }}</label>
        <div class="width-100 {{form_start_time_class}}">
          <ion-datetime placeholder="{{ 'SEVICE_05.datetime_placeHolder' | translate }}" class="datetime-commom" name="form_start_time"
            [(ngModel)]="form_start_time" displayFormat="DD/MM/YYYY HH:mm" (ionChange)="ionChangeStartTime()" min="{{dateNow}}" max="2050">
          </ion-datetime>
        </div>
      </ion-item>
    </ion-item>
    <ion-item lines="none" class="margin-top-10 margin-bottom-30">
      <ion-item lines="none" class="item-common booking-padding-12">
        <ion-textarea class="text-area-1" rows="4" cols="20" placeholder="{{ 'SEVICE_05.note_placeHolder' | translate }}"
          [(ngModel)]="form_note"></ion-textarea>
      </ion-item>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer class="full-width function-section">
  <ion-item lines="none">
    <ion-item lines="none" class="item-common no-border margin-right-5" (click)="eventButton1(0)">
      <div class="{{button_1_class}}"></div>
      <img class="image-button-payment" src="../assets/icon/svg/money-1.svg" />
      <label class="button-1-text padding-right-10">{{ 'SEVICE_05.payment_methods_transfer' | translate }}</label>
      <img *ngIf="button_active == 0" class="button-1-icon" src="../assets/icon/svg/Fill.svg" />
    </ion-item>
    <ion-item lines="none" class="item-common no-border margin-left-5" (click)="eventButton1(1)">
      <div class="{{button_2_class}}"></div>
      <img class="image-button-payment" src="../assets/icon/svg/money-2.svg" />
      <label class="button-1-text padding-right-10">{{ 'SEVICE_05.payment_methods_cash' | translate }}</label>
      <img *ngIf="button_active == 1" class="button-1-icon" src="../assets/icon/svg/Fill.svg" />
    </ion-item>
  </ion-item>
  <ion-button (click)="eventButtonSend()" expand="block" class="amo-button-custom {{checkStatusButtonSend()}}">
    {{ 'PAYMENT_INFOR.payment_confirm_btn_send' | translate }}
  </ion-button>
</ion-footer>