.header-title {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 40px;
    color: #21313F;
}
ion-toolbar ion-title.md {
    padding-inline-start: 16px;
}
ion-toolbar ion-title.ios {
    padding-inline-start: 0;
}
.margin-none {
    margin: 0;
}
.request-card {
    box-shadow: 0px 10px 30px rgba(33, 49, 63, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
}
.request-title {
    margin: 0 16px 16px 16px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #21313F;
}
// custom super-tab
:host {  
    --super-tabs-toolbar-background: black;
    --st-indicator-color: #FA7268;
    --st-indicator-width: 10px;
    --ion-color-base: transparent;
}
.segment-toolbar {
    border-bottom: 1px solid #F4F5F5;
    box-shadow: 0px 10px 30px rgba(33, 49, 63, 0.1);
    background: transparent;
}
.button-tab-custom {
    border-radius: 0;
    box-shadow: none;
}
.super-tab-button-label {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #7A838C;
}
.update-time {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #7A838C;
}

.toolbar-button {
    position: sticky;
    bottom: 0;
    --background: transparent;
}
.add-button {
    --background: #009AC9;
    --ion-toolbar-color: #009AC9;
    --background-activated: #048ab3;
    --background-focused: #048ab3;
    --background-hover: #048ab3;
    margin: 14px 10px;
    --box-shadow: 0px 10px 30px rgba(33, 49, 63, 0.1);
    --color: #ffffff;
    
}
.add-button-icon {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    //line-height: 24px;
    text-align: center;
    text-transform: none;
}
.normal-button {
    width: 60px;
    height: 60px;
    --border-radius: 50%;
    float: right;
}