<div class="request-background-color">
  <ion-header class="ion-no-border request-ion-header bar bar-header">
    <ion-label class="header-title">{{ 'REQUEST.title' | translate }}</ion-label>
  </ion-header>
</div>

<div class="request-category">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col [ngClass]="!isSettingRequestReceiver ? 'item-icon-col disabled' : 'item-icon-col'" (click)="registrationNavigate('/register-to-receive-goods')">
        <ion-badge class="item-icon-content">
          <img name="custom-archive" class="item-icon" src="assets/icon/request/delivery-box.svg" />
        </ion-badge>
        <ion-label class="item-label">{{ 'REGISTRATION_TYPE.receive' | translate }}</ion-label>
      </ion-col>
      <ion-col [ngClass]="!isSettingRequestVisitors ? 'item-icon-col disabled' : 'item-icon-col'" (click)="registrationNavigate('/registration-guest')">
        <ion-badge class="item-icon-content">
          <img name="custom-archive" class="item-icon" src="assets/icon/request/user.svg" />
        </ion-badge>
        <ion-label class="item-label">{{ 'REGISTRATION_TYPE.guest' | translate }}</ion-label>
      </ion-col>
      <ion-col [ngClass]="!isSettingRequestTranferGood ? 'item-icon-col disabled' : 'item-icon-col'" (click)="registrationNavigate('/register-for-shipping')">
        <ion-badge class="item-icon-content">
          <img name="custom-archive" class="item-icon" src="assets/icon/request/cart.svg" />
        </ion-badge>
        <ion-label class="item-label">{{ 'REGISTRATION_TYPE.shipping' | translate }}</ion-label>
      </ion-col>
      <ion-col [ngClass]="!isSettingRequestParking ? 'item-icon-col disabled' : 'item-icon-col'" (click)="registrationNavigate('/register-keep-vehicle')">
        <ion-badge class="item-icon-content" >
          <img name="custom-archive" class="item-icon" src="assets/icon/request/sports-car.svg" />
        </ion-badge>
        <ion-label class="item-label">{{ 'REGISTRATION_TYPE.parking' | translate }}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<div class="super-tabs-div">
  <super-tabs
    [activeTabIndex]="activeTabIndex"
    [config]="{ sideMenu: 'left', allowElementScroll: true, nativeSmoothScroll: true }"
    class="super-tabs-content request-background-color"
    (tabChange)="onTabChange($event)"
  >
    <super-tabs-toolbar no-border class="segment-toolbar" slot="top" scrollable-padding="false">
      <super-tab-button class="request-super-tab-button" id="tab_all">
        <ion-label class="super-tab-button-label">{{ 'REQUEST.tab_all' | translate }}</ion-label>
      </super-tab-button>
      <super-tab-button class="request-super-tab-button">
        <ion-label class="super-tab-button-label">{{ 'REQUEST.status_new' | translate }}</ion-label>
      </super-tab-button>
      <super-tab-button class="request-super-tab-button">
        <ion-label class="super-tab-button-label">{{ 'REQUEST.status_processing' | translate }}</ion-label>
      </super-tab-button>
      <super-tab-button class="request-super-tab-button">
        <ion-label class="super-tab-button-label">{{ 'REQUEST.status_done' | translate }}</ion-label>
      </super-tab-button>
    </super-tabs-toolbar>
    <super-tabs-container>
      <super-tab></super-tab>
    </super-tabs-container>
  </super-tabs>
</div>

<ion-content class="has-header request-background-color">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMin="100">
    <ion-refresher-content pullingIcon="circles" refreshingSpinner="" refreshingText=""></ion-refresher-content>
  </ion-refresher>
  <ion-list class="request-background-color" *ngIf="activeTabIndex == 0">
    <ion-card *ngFor="let item of listRequestAll" (click)="detailPage($event)" id="{{item._id}}" class="request-card">
      <ion-item lines="none" class="request-card-item">
        <ion-label slot="start" class="update-time">{{formatString(item.updatedAt)}}</ion-label>
        <ion-badge slot="end" class="badge-status badge-danger" *ngIf="item.status == 'new'"
          >{{ 'REQUEST.status_new' | translate }}</ion-badge
        >
        <ion-badge slot="end" class="badge-status badge-warning" *ngIf="item.status == 'processing'"
          >{{ 'REQUEST.status_processing' | translate }}</ion-badge
        >
        <ion-badge slot="end" class="badge-status badge-success" *ngIf="item.status == 'completed'"
          >{{ 'REQUEST.status_done' | translate }}</ion-badge
        >
        <ion-badge slot="end" class="badge-status badge-cancel" *ngIf="item.status == 'cancelled'"
          >{{ 'REQUEST.status_cancelled' | translate }}</ion-badge
        >
      </ion-item>
      <ion-text class="">
        <p class="request-title">{{item.title}}</p>
      </ion-text>
    </ion-card>
  </ion-list>
  <ion-list class="request-background-color" *ngIf="activeTabIndex == 1">
    <ion-card *ngFor="let item of listRequestNew" (click)="detailPage($event)" id="{{item._id}}" class="request-card">
      <ion-item lines="none" class="request-card-item">
        <ion-label slot="start" class="update-time">{{formatString(item.updatedAt)}}</ion-label>
        <ion-badge slot="end" class="badge-status badge-danger">{{'REQUEST.status_new' | translate }}</ion-badge>
      </ion-item>
      <ion-text class="">
        <p class="request-title">{{item.title}}</p>
      </ion-text>
    </ion-card>
  </ion-list>
  <ion-list class="request-background-color" *ngIf="activeTabIndex == 2">
    <ion-card *ngFor="let item of listRequestProcessing" (click)="detailPage($event)" id="{{item._id}}" class="request-card">
      <ion-item lines="none" class="request-card-item">
        <ion-label slot="start" class="update-time">{{formatString(item.updatedAt)}}</ion-label>
        <ion-badge slot="end" class="badge-status badge-warning">{{'REQUEST.status_processing' | translate }} </ion-badge>
      </ion-item>
      <ion-text class="">
        <p class="request-title">{{item.title}}</p>
      </ion-text>
    </ion-card>
  </ion-list>
  <ion-list class="request-background-color" *ngIf="activeTabIndex == 3">
    <ion-card *ngFor="let item of listRequestCompleted" (click)="detailPage($event)" id="{{item._id}}" class="request-card">
      <ion-item lines="none" class="request-card-item">
        <ion-label slot="start" class="update-time">{{formatString(item.updatedAt)}}</ion-label>
        <ion-badge slot="end" class="badge-status badge-success">{{'REQUEST.status_done' | translate }}</ion-badge>
      </ion-item>
      <ion-text class="">
        <p class="request-title">{{item.title}}</p>
      </ion-text>
    </ion-card>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="" loadingText=""></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <div class="bottom-frame-wrapper">
    <div class="bottom-frame"></div>
  </div>
</ion-content>
<ion-toolbar class="toolbar-button">
  <ion-fab-button color="danger" class="reflect-button" (click)="addRequest()">
    <ion-icon name="custom-archive" class="reflect-icon" src="assets/icon/request/reflect.svg"></ion-icon>
  </ion-fab-button>
  <ion-label class="reflect-label">{{ 'REQUEST.reflect_lable' | translate }}</ion-label>
</ion-toolbar>
