.request-background-color {
  background: #f9fcff !important;
  ion-infinite-scroll {
    background: #f9fcff !important;
  }
}
.request-ion-header {
  font-family: Open Sans;
  width: 100%;
  height: 150px;
  left: 0px;
  top: 0px;
  background: #E64037;
  border-radius: 200%/0 0 50px 50px;
  margin-bottom: 30px;

  .header-title {
    position: absolute;
    left: 15px;
    right: 147px;
    top: 44px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 41px;
    display: flex;
    align-items: center;

    color: #ffffff;
    background: #E64037;
    width: 100%;
  }
}

.request-category {
  font-family: Open Sans;
  position: absolute;
  height: 78px;
  left: 15px;
  right: 15px;
  top: 98px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  z-index: 999;
  display: flex;
  align-items: center;

  .item-icon-col {
    display: flex;
    align-items: center;
    flex-flow: column;
    padding: 0;

    .item-icon-content {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      background: #fbe7e5;
      border-radius: 8px;
      --padding-start: 0px;
      --padding-end: 0px;

      .item-icon {
        width: 20px;
        height: 20px;
      }
    }
    .item-label {
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 21px;
    }
  }
}

.super-tabs-div {
  width: 100%;
  height: 40px;
}
// custom super-tab
:host {
  --st-indicator-color: #E64037;
  --st-indicator-width: 10px;
  --ion-color-base: transparent;
  --st-label-color-active: #E64037;
  --st-label-color-inactive: #a7a4a5;
}
.segment-toolbar {
  background: transparent;
  margin-bottom: 15px;
}

.request-super-tab-button {
  padding: 0 10px;
  height: 35px;
}
.super-tab-button-label {
  text-transform: none !important;
  font-size: 14px;
  line-height: 15px;
  display: flex;
  align-items: center;
}
.update-time {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #666666;
}

.toolbar-button {
  position: absolute;
  bottom: 40px;
  --background: transparent;
  right: 0;
  width: 170px;

  .reflect-button {
    width: 40px;
    height: 40px;
    --border-radius: 50%;
    float: right;
    margin-right: 15px;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    z-index: 99;
    .reflect-icon {
      width: 22px;
      height: 22px;
    }
  }
  .reflect-label {
    padding: 2px 29px 2px 11px;
    line-height: 40px;
    float: right;
    color: #E64037;
    margin-right: 5px;
    font-size: 12px;
    border-radius: 20px;
    background-color: #fbeae8;
    width: 143px;
    height: 24px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-15%, -50%);
  }
}

.request-card {
  background: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin: 10px 15px;
  .request-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #221c1e;
    margin-left: 20px;
  }
  .request-card-item {
    height: 35px;
  }
  .badge-status {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: #ffffff;
    border-radius: 0px 8px;
    width: 80px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
  }
  .badge-danger {
    background: #E64037;
  }
  .badge-warning {
    background: #f2c94c;
  }
  .badge-success {
    background: #33a54c;
  }
  .badge-cancel {
    background: #d3d6d9;
  }
}
.custom-infinite-scroll {
  --color: #E64037;
  background: #f9fcff !important;
}
.footer-content{
  background: #f9fcff !important;
}

.bottom-frame {
  width: 100%;
  height: 100px;
  background-image: url('/assets/common/frame.png');
}

.infinite-scroll, .bottom-frame-wrapper {
  background: #f9fcff;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}