<ion-app>
  <ion-router-outlet main></ion-router-outlet>
  <div class="backPopupLayput" *ngIf="isShowPopup == true">
    <div class="backPopup" (click)="closePopup()"></div>
    <div id="popupThumbnail">
        <img class="iconClose" src="../assets/icon/close.png" (click)="closePopup()"/>
        <img class="popupImage" src="{{ popupThumbnail }}"/>
        <ion-button class="transparentButton actitonButton" [ngStyle]="{'background':getButtonBackgroud(),'color': getButtonColor()}" expand="block" (click)="changeScreenPopup()" type="submit">{{ popupButtonTitle }}</ion-button>
    </div>
  </div>
</ion-app>
