<ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title>{{ 'INBOX_35.title' | translate }}</ion-title>
      <ion-buttons slot="start">
        <ion-back-button text=""></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <super-tabs class="class-super-tabs" activeTabIndex="0" [config]="{ debug: true, sideMenu: 'left', allowElementScroll: true, nativeSmoothScroll: true }">
      <super-tabs-toolbar slot="top" scrollable="true" scrollable-padding="false">
        <super-tab-button *ngFor="let object of data_history">
          <ion-label class="font-weight-bold">{{object.title}}</ion-label>
        </super-tab-button>
      </super-tabs-toolbar>
      <super-tabs-container autoScrollTop>
        <super-tab class="ion-padding hidden-overflow" *ngFor="let object of data_history">
          <ion-list lines="full" class="ion-no-margin ion-no-padding">
            <ion-grid class="ion-no-padding scroll-class line-bottom" *ngFor="let data of object.data" id="{{data.id}}" (click)="gotoHistoryDetail()">
              <ion-row class="ion-no-padding">
                <ion-col class="group-2-col-1 center-div" size="8">
                  <div class="">
                    <ion-label *ngIf="data.status == 1" class="ion-label-1">{{ 'INBOX_35.status_1' | translate }}</ion-label>
                    <ion-label *ngIf="data.status == 2" class="ion-label-2">{{ 'INBOX_35.status_2' | translate }}</ion-label>
                    <ion-label *ngIf="data.status == 3" class="ion-label-3">{{ 'INBOX_35.status_3' | translate }}</ion-label>
                  </div>
                </ion-col>
                <ion-col size="4">
                  <ion-item class="group-1-text-star">
                    <img class="group-1-icon-star" src="../assets/icon/svg/icon-star.svg"/>
                    <ion-label class="class-label-rate">{{data.text_rate}}</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row class="ion-no-padding">
                <ion-col class="group-2-col-1" size="8">
                  <div class="div-title-row-2-col-1">
                    <ion-label class="font-weight-bold">{{data.title}}</ion-label>
                  </div>
                </ion-col>
                <ion-col class="group-2-col-1" size="4">
                  <div class="div-title-row-2-col-2">
                    <ion-label class="font-weight-bold">{{data.money}}</ion-label>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row class="ion-no-padding">
                <ion-col class="" size="12">
                  <ion-item class="no-border">
                    <ion-avatar class="avatar-class" slot="start">
                      <img src="{{data.avatar}}">
                    </ion-avatar>
                    <ion-label class="label-name">{{data.name}}</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row class="ion-no-padding">
                <ion-col size="8">
                  <div class="div-col-1">
                    <ion-label class="">{{ 'INBOX_35.code_orders' | translate }} {{data.code_orders}}</ion-label>
                  </div>
                  <div class="div-col-2">
                    <ion-label class="">{{data.date_time}}</ion-label>
                  </div>
                </ion-col>
                <ion-col class="group-2-col-3" size="4">
                  <div class="div-button-chat">
                    <img class="group-1-icon-star" src="../assets/icon/svg/button-chat.svg"/>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-list>
        </super-tab>
      </super-tabs-container>
    </super-tabs>
  </ion-content>
  