<ion-header no-border>
    <ion-toolbar>
      <ion-title>{{ 'REQUEST_DETAIL.title' | translate }}</ion-title>
      <ion-buttons slot="start">
        <ion-back-button text=""></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card button class="custom-card margin-none">
        <ion-item lines="none" style="margin-top: 10px;">
            <ion-card-title class="ion-text-wrap content-two-line">{{requestTitle}}</ion-card-title>
        </ion-item>
        <ion-item lines="none">
          <ion-grid>
            <ion-row class="row-height-note text-node">
              <ion-col class="ion-float-left padding-none">
                <ion-label>{{formatString(createdAt)}}</ion-label>
              </ion-col>
              <ion-col class="ion-float-left padding-none">
                  <ion-label>{{createBy}}</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
    </ion-card>
    <p [innerHTML]="requestContent" #contentRequest class="padding-left-right-card"></p>
    <ion-content #content class="list-chat-content" [style.height.px]="heightScreen">
      <div class="message-wrap">
        <div *ngFor="let msg of msgList"
             class="message"
             [class.left]=" msg.createdBy._id !== currentUser._id "
             [class.right]=" msg.createdBy._id === currentUser._id ">
          <img class="user-img" [src]="msg.createdBy.avatar" alt="" >
          <!-- <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner> -->
          <div class="msg-detail">
            <div class="msg-info">
              <p>{{msg.createdBy.displayName}}</p>
              <p>{{formatStringFull(msg.createdAt)}}</p>
            </div>
            <div class="msg-content">
              <span class="triangle"></span>
              <p class="line-breaker ">{{msg.content}}</p>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
    <div class="input-wrap">
      <!-- <button ion-button clear icon-only item-right (click)="switchEmojiPicker()">
        <ion-icon name="md-happy"></ion-icon>
      </button> -->
      <ion-textarea #chat_input
                placeholder="{{ 'REQUEST_DETAIL.place_holder_input' | translate }}"
                [(ngModel)]="editorMsg"
                (keyup.enter)="sendMsg()"
                (focusin)="onFocus()">
      </ion-textarea>
      <ion-button class="button-send" item-right (click)="sendMsg()">
        <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
      </ion-button>
    </div>
    <!-- <emoji-picker [(ngModel)]="editorMsg"></emoji-picker> -->
  </ion-content>
  