.col:last-child {
    width:1% !important;
}

.pinCodeInput {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(23, 21, 48, 0.102546);
    border-radius: 8px;
    //width: 100% !important;
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    height: 40px;
    //height: 100%;
    border: 1px solid #c4c4c4;
    font-size: 24px;
    text-align: center;
    -webkit-text-security:var(--charShape);
    -moz-text-security: var(--charShape);
}


.pinCodeGrid{
    direction: ltr;
}


.pinCodeInput[disabled]{
   border-bottom: 2px solid #e3e3e3;
   background-color: transparent;
}

.image-item {
    --padding-start: 0px;
    --inner-padding-end: 0px;
}

.image-icon-check {
    height: 20px;
    width: 20px;
    left: 0;
    right: 0;
    margin:0 auto;
    --color: #333333;
}
.label-item {
    left: 0;
    right: 0;
    margin:0 auto;
}

.form-class {
    padding-left: 10%;
    padding-right: 10%;
}

.note-style .label-text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #21313F;
}

.btn-done{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #556080;
}

.wrong-code{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: left;
    color: #333333;
}

.margin-top-16{
    margin-top: 24px;
}

.login-button{
    margin: 15px 0;
    position: absolute;
    left: 4.27%;
    width: 91.46%;
    bottom: 0;
    padding: 0;
    --box-shadow: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
.pincode-input {
    display: flex;
    align-items: center !important;
    align-content: center !important;
    border: 1px solid #D3D6D9;
    border-radius: 8px;
    margin: 10px 5px;
    text-align: center;
    height: 44px;
    text-transform: uppercase;
}
ion-input.has-focus {
    border: 1px solid #009AC9;
}
ion-item.item-has-focus {
    border: none !important;
}

.button-qrcode {
    --ion-toolbar-color: rgba(0, 154, 201, 0);;
    --background-activated: rgba(0, 154, 201, 0);
    --background-focused: rgba(0, 154, 201, 0);
    --background-hover: rgba(0, 154, 201, 0); 
}
.button-qrcode.md {
    --box-shadow: none !important;
    padding: 0;
}
.icon-qrcode {
    font-size: 20px !important;
    color: #21313F;
}
.icon-qrcode.ios {
    margin-right: 10px;
}


.login-header {
    background: #333333;
    color: #fff;
    padding: 54px 15px 25px 15px;
    border-radius: 0 0 20px 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin-bottom: 25px;

    &::after {
        content: "";
        background-image: url(/assets/icon/login/login-header.svg);
        background-repeat: no-repeat;
        width: 200px;
        height: 80px;
        position: absolute;
        top: 42px;
        opacity: 0.5;
        right: -80px;
    }

    .login-title {
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 41px;
        color: #ffffff;
    }
}