<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'MY_ACCOUNT.title' | translate }}</ion-title>
    <!-- <ion-buttons slot="end" class="white-color btn-save" (click)="updateAccount()">
      <ion-label>{{ 'MY_ACCOUNT.btn_save' | translate }}</ion-label>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" class="avatar-content">
    <ion-row class="row-avatar">
      <ion-col class="col-avatar"  size="2">
        <ion-avatar class="account-avatar">
          <img src="{{avatar}}"/>
        </ion-avatar>
      </ion-col>
      <ion-col class="col-user" size="9">
        <ion-label class="account-name">{{userName}}</ion-label>
        <ion-label class="account-phone">0367026842</ion-label>
        <ion-icon name="arrow-back-outline" slot="end"></ion-icon>
      </ion-col>
      <ion-col class="col-link" size="1">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-item>
    
  <ion-item lines="none" class="item-content">
    <div class="setting-content">
      <ion-label class="setting-label">{{ 'MY_ACCOUNT.setting' | translate }}</ion-label>
    </div>
  </ion-item>

  <ion-grid class="setting-item">
    <ion-row class="row-setting-item" id="setting-language" (click)="selectLanguage()">
      <ion-col class="setting-item-icon"  size="1">
        <ion-icon name="language-outline"></ion-icon>
      </ion-col>
      <ion-col class="setting-item-label" size="10">
        <ion-label class="">{{ 'MY_ACCOUNT.language' | translate }}</ion-label>
      </ion-col>
      <ion-col class="setting-item-forward" size="1">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="row-setting-item">
      <ion-col class="setting-item-icon"  size="1">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-col>
      <ion-col class="setting-item-label" size="9">
        <ion-label class="">{{ 'MY_ACCOUNT.app_notification' | translate }}</ion-label>
      </ion-col>
      <ion-col class="setting-item-forward" size="2">
        <ion-toggle checked></ion-toggle>
      </ion-col>
    </ion-row>
    <ion-row class="row-setting-item" (click)="changePassword()">
      <ion-col class="setting-item-icon"  size="1">
        <ion-icon name="lock-open-outline"></ion-icon>
      </ion-col>
      <ion-col class="setting-item-label setting-item-last" size="10">
        <ion-label class="">{{ 'MY_ACCOUNT.change_password' | translate }}</ion-label>
      </ion-col>
      <ion-col class="setting-item-forward setting-item-last" size="1">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item lines="none" class="item-content">
    <div class="setting-content">
      <ion-label class="setting-label">{{ 'MY_ACCOUNT.app_infomation' | translate }}</ion-label>
    </div>
  </ion-item>

  <ion-grid class="setting-item">
    <ion-row class="row-setting-item" (click)="callHelpCenter()">
      <ion-col class="setting-item-icon"  size="1">
        <ion-icon name="call-outline"></ion-icon>
      </ion-col>
      <ion-col class="setting-item-label" size="10">
        <ion-label class="">{{ 'MY_ACCOUNT.contact' | translate }}</ion-label>
      </ion-col>
      <ion-col class="setting-item-forward" size="1">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="row-setting-item">
      <ion-col class="setting-item-icon"  size="1">
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      </ion-col>
      <ion-col class="setting-item-label" size="10">
        <ion-label class="">{{ 'MY_ACCOUNT.feedback' | translate }}</ion-label>
      </ion-col>
      <ion-col class="setting-item-forward" size="1">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="row-setting-item">
      <ion-col class="setting-item-icon"  size="1">
        <ion-icon name="custom-terms" src="/assets/icon/custom-terms.svg"></ion-icon>
      </ion-col>
      <ion-col class="setting-item-label" size="10">
        <ion-label class="">{{ 'MY_ACCOUNT.terms' | translate }}</ion-label>
      </ion-col>
      <ion-col class="setting-item-forward" size="1">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="row-setting-item">
      <ion-col class="setting-item-icon"  size="1">
        <ion-icon name="book-outline"></ion-icon>
      </ion-col>
      <ion-col class="setting-item-label" size="10">
        <ion-label class="">{{ 'MY_ACCOUNT.guideline' | translate }}</ion-label>
      </ion-col>
      <ion-col class="setting-item-forward" size="1">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="row-setting-item">
      <ion-col class="setting-item-icon"  size="1">
        <ion-icon name="custom-star-outline" src="/assets/icon/custom-star-outline.svg"></ion-icon>
      </ion-col>
      <ion-col class="setting-item-label setting-item-last" size="10">
        <ion-label class="">{{ 'MY_ACCOUNT.vote' | translate }}</ion-label>
      </ion-col>
      <ion-col class="setting-item-forward setting-item-last" size="1">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item lines="none" class="item-content">
    <div class="setting-content-none">
    </div>
  </ion-item>

  <ion-grid>
    <ion-row class="row-setting-item" (click)="logout()">
      <ion-col class="logout-icon"  size="1">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-col>
      <ion-col class="logout-label" size="11">
        <ion-label class="">{{ 'MY_ACCOUNT.btn_log_out' | translate }}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item lines="none" class="item-content">
    <div class="version-content">
      <ion-label class="version-label">AMO app 5.0.0</ion-label>
    </div>
  </ion-item>

</ion-content>


