<ion-header class="ion-no-border my-account-header">
  <ion-buttons class="back-button">
    <ion-back-button color="light" text="" icon="chevron-back" class="ion-back-button"></ion-back-button>
  </ion-buttons>
  <ion-avatar class="account-avatar">
    <img src="{{avatar}}" />
  </ion-avatar>
  <ion-label class="account-name">{{userName}}</ion-label>
  <ion-label class="account-phone">{{phone}}</ion-label>
  <ion-button class="ion-button-edit" (click)="changeToMyAccountDetail()">{{'MY_ACCOUNT.btn_edit' | translate}}</ion-button>
</ion-header>

<ion-content class="my-account-content">
  <ion-label class="setting-label">{{ 'MY_ACCOUNT.setting' | translate }}</ion-label>
  <ion-list class="ion-list">
    <ion-item lines="inset" class="ion-list-item" id="setting-language" (click)="changePasswordModal()">
      <ion-icon class="setting-item-icon" [src]="'../assets/icon/account/translate.svg'" slot="start"></ion-icon>
      <ion-label class="setting-item-label">{{ 'MY_ACCOUNT.language' | translate }}</ion-label>
      <ion-icon class="setting-item-forward" [src]="'../assets/icon/account/arrow-down.svg'" slot="end"></ion-icon>
    </ion-item>
    <ion-item lines="inset" class="ion-list-item">
      <ion-icon class="setting-item-icon" [src]="'../assets/icon/account/notification.svg'" slot="start"></ion-icon>
      <ion-label class="setting-item-label">{{ 'MY_ACCOUNT.app_notification' | translate }}</ion-label>
      <ion-toggle class="setting-item-toggle" slot="end" checked></ion-toggle>
    </ion-item>
    <ion-item lines="inset" class="ion-list-item" (click)="changePassword()">
      <ion-icon class="setting-item-icon" [src]="'../assets/icon/account/lock.svg'" slot="start"></ion-icon>
      <ion-label class="setting-item-label">{{ 'MY_ACCOUNT.change_password' | translate }}</ion-label>
      <ion-icon class="setting-item-forward" [src]="'../assets/icon/account/arrow-down.svg'" slot="end"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-label class="setting-label">{{ 'MY_ACCOUNT.app_infomation' | translate }}</ion-label>
  <ion-list class="ion-list">
    <ion-item lines="inset" class="ion-list-item" (click)="hotlineModal()">
      <ion-icon class="setting-item-icon"  [src]="'../assets/icon/account/calling.svg'" slot="start"></ion-icon>
      <ion-label class="setting-item-label">{{ 'MY_ACCOUNT.contact' | translate }}</ion-label>
      <ion-icon class="setting-item-forward" [src]="'../assets/icon/account/arrow-down.svg'" slot="end"></ion-icon>
    </ion-item>
    <ion-item lines="inset" class="ion-list-item" (click)="feedbackModal()">
      <ion-icon class="setting-item-icon"  [src]="'../assets/icon/account/chat.svg'" slot="start"></ion-icon>
      <ion-label class="setting-item-label">{{ 'MY_ACCOUNT.feedback' | translate }}</ion-label>
      <ion-icon class="setting-item-forward" [src]="'../assets/icon/account/arrow-down.svg'" slot="end"></ion-icon>
    </ion-item>
    <ion-item lines="inset" class="ion-list-item" (click)="changeToTerms()">
      <ion-icon class="setting-item-icon" [src]="'../assets/icon/account/document.svg'" src="/assets/icon/custom-terms.svg" slot="start"></ion-icon>
      <ion-label class="setting-item-label">{{ 'MY_ACCOUNT.terms' | translate }}</ion-label>
      <ion-icon class="setting-item-forward" [src]="'../assets/icon/account/arrow-down.svg'" slot="end"></ion-icon>
    </ion-item>
    <ion-item lines="inset" class="ion-list-item" (click)="changeToGuideline()">
      <ion-icon class="setting-item-icon" [src]="'../assets/icon/account/work.svg'" slot="start"></ion-icon>
      <ion-label class="setting-item-label">{{ 'MY_ACCOUNT.guideline' | translate }}</ion-label>
      <ion-icon class="setting-item-forward" [src]="'../assets/icon/account/arrow-down.svg'" slot="end"></ion-icon>
    </ion-item>
    <ion-item lines="inset" class="ion-list-item" (click)="openToRateApp()">
      <ion-icon class="setting-item-icon"  [src]="'../assets/icon/account/star.svg'" slot="start"></ion-icon>
      <ion-label class="setting-item-label">{{ 'MY_ACCOUNT.vote' | translate }}</ion-label>
      <ion-icon class="setting-item-forward" [src]="'../assets/icon/account/arrow-down.svg'" slot="end"></ion-icon>
    </ion-item>
  </ion-list>


  <!-- <ion-item lines="none" class="item-content">
    <div class="setting-content-none">
    </div>
  </ion-item> -->

  <ion-item lines="none" class="ion-item-logout" (click)="logoutModal()">
    <ion-icon class="setting-item-icon logout-icon" [src]="'../assets/icon/account/logout.svg'" slot="start"></ion-icon>
    <ion-label class="setting-item-label logout-label">{{ 'MY_ACCOUNT.btn_log_out' | translate }}</ion-label>
  </ion-item>

  <ion-item lines="none" class="version-item-content">
    <ion-label class="version-label">AMO app 5.0.0</ion-label>
  </ion-item>

</ion-content>