<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text=""></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end" class="white-color btn-save" (click)="updateAccount()">
        <ion-label>{{ 'MY_ACCOUNT.btn_save' | translate }}</ion-label>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  

<ion-content>
    <div class="header-infor">
        <ion-avatar class="center-avatar">
            <img src="{{avatar}}"/>
        </ion-avatar>
    </div>
    <form class="form-margin">
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item lines="none" class="margin-top-10">
            <ion-input class="custom-common-input custom-common-input-text" placeholder="{{ 'MY_ACCOUNT.placeholder_displayName' | translate }}" [(ngModel)]="displayName" type="text" name="displayName"></ion-input>
        </ion-item>
        <ion-item lines="none" class="margin-top-10">
            <ion-input class="custom-common-input custom-common-input-text" placeholder="{{ 'MY_ACCOUNT.placeholder_email' | translate }}" [(ngModel)]="email" type="email" name="email"></ion-input>
        </ion-item>
        <ion-item lines="none" class="margin-top-10">
          <ion-grid class="padding-none">
              <ion-row class="padding-none">
                <ion-col class="padding-none">
                  <ion-item lines="none" class="custom-common-input padding-none height-auto DOB-custom">
                    <ion-datetime placeholder="YYYY/MM/DD"
                      class="padding-none custom-common-input-text"
                      name="dateOfBirth" [(ngModel)]="dateOfBirth"
                      displayFormat="YYYY/MM/DD"
                      min="1900"
                      max="2030"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col class="padding-none">
                  <ion-item lines="none" class="custom-common-input padding-none height-auto sex-custom">
                    <ion-select class="padding-none custom-common-input-text selection-width-85" placeholder="{{ 'MY_ACCOUNT.placeholder_sex' | translate }}" interface="action-sheet" name="sex" [(ngModel)]="sex">
                      <ion-select-option value="male">{{ 'MY_ACCOUNT.male' | translate }}</ion-select-option>
                      <ion-select-option value="female">{{ 'MY_ACCOUNT.female' | translate }}</ion-select-option>
                      <ion-select-option value="other">{{ 'MY_ACCOUNT.other' | translate }}</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
        </ion-item>
        <ion-item lines="none" class="margin-top-10">
          <ion-input class="custom-common-input custom-common-input-text" placeholder="{{ 'MY_ACCOUNT.placeholder_liscense' | translate }}" [(ngModel)]="personalLiscence" type="number" name="personalLiscence"></ion-input>
        </ion-item>
        <!-- <ion-item lines="none" class="margin-top-10">
          <ion-select class="padding-none" placeholder="Nationality" interface="action-sheet" name="nationality" [(ngModel)]="nationality">
              <ion-select-option *ngFor="let item of listCountries" value="{{item.alpha2}}">{{item.name}}</ion-select-option>
            </ion-select>
        </ion-item> -->
      </ion-list>
      <section class="full-width function-section">
          <ion-item (click)="changeToSetting()">
            <ion-icon slot="end" name="arrow-dropright"></ion-icon>
            <ion-label>{{ 'MY_ACCOUNT.setting' | translate }}</ion-label>
          </ion-item>
          <ion-item (click)="callHelpCenter()">
            <ion-icon slot="end" name="arrow-dropright"></ion-icon>
            <ion-label>{{ 'MY_ACCOUNT.help_center' | translate }}</ion-label>
          </ion-item>
          <ion-item lines="none" class="padding-none margin-none logout-item">
            <ion-button expand="full" color="transparent" class="full-width padding-none margin-none full-height amo-button-custom logout-text" (click)="logout()">{{ 'MY_ACCOUNT.btn_log_out' | translate }}</ion-button>
          </ion-item>
      </section>
    </form>
</ion-content>
