<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{ 'SERVICE.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Disabled Segment -->
  <ion-segment [(ngModel)]="modeService">
    <ion-segment-button checked class="button-tab-custom" value="All">
      <ion-label class="margin-none">{{ 'SERVICE.tab_all' | translate }}</ion-label>
    </ion-segment-button>
    <ion-segment-button class="button-tab-custom" value="History">
      <ion-label class="margin-none">{{ 'SERVICE.tab_history' | translate }}</ion-label>
    </ion-segment-button>
  </ion-segment>
  <section class="custom-tab" [style.height.px]="heightScreen">
    <div [ngSwitch]="modeService">
    <ion-grid *ngSwitchCase="'All'">
      <ion-row *ngFor="let arrayServiceGroup of listServiceCategory">
        <ion-col *ngFor="let item of arrayServiceGroup">
         <ion-card *ngIf="item._id != ''" (click)="detailPage($event)" id="{{item._id}}">
          <img class="service-image-custom" src="{{item.thumbnail}}"/>
          <ion-row class="ion-no-padding">
            <ion-col class="ion-text-center service-text-custom" >
              {{item.title}}
            </ion-col>
          </ion-row>
         </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list class="list-view-custom" *ngSwitchCase="'History'">
      <ion-item class="list-request-all-item" lines="none" *ngFor="let itemServiceLog of listServiceLog">
        <ion-card class="custom-card-avatar">
          <img src="{{itemServiceLog.metadata.icon}}"/>
          <ion-label class="item-content-custom">
              <ion-label class="title-request-all-item ion-text-wrap">{{itemServiceLog.service.title}}</ion-label>
              <ion-label class="node-request-all-item">
                <p class="ion-float-left">{{ 'SERVICE.order_date' | translate }} : {{formatString(itemServiceLog.createdAt)}}</p>
              </ion-label>
              <ion-label class="node-request-all-item">
                  <p class="ion-float-left">{{ 'SERVICE.status' | translate }} : {{itemServiceLog.status}}</p>
                </ion-label>
            </ion-label>
        </ion-card>
      </ion-item>
    </ion-list>
    </div>
  </section>
  <section class="full-width function-section" (click)="addNewService($event)">
    <ion-button expand="block" class="amo-button-custom">{{ 'SERVICE.btn_add_new_services' | translate }}</ion-button>
  </section>
</ion-content>
