.button-tab-custom {
    --background-checked: rgba(255,255,255,0.1);
    mix-blend-mode: normal;
    border-radius: 15px;

    color: rgba(33,38,50,0.5);

    mix-blend-mode: normal;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    width: 40%;
    border-width: 0px;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 24px;
}

.segment-button-checked {
    --background-color: rgba(33,38,50,0.1);
    --background-checked: rgba(33,38,50,0.1);
    color: rgba(33,38,50,1);
    --color-checked:auto;
}

.margin-none {
    margin: 0;
}

.service-text-custom {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */


    color: #556080;
    height: 55px;
}

.service-text-avatart-custom {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    /* identical to box height */

    text-align: center;
}

.service-image-custom {
    padding: 16px 16px 5px 16px;
}

.service-image-custom-avatar{
    width: 40px;
}

.item-content-custom {
    margin-left: 16px;
    margin-top: 10px;
}

.custom-card-avatar {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

ion-card {
    -webkit-margin-start: 5px;
    margin-inline-start: 5px;
    -webkit-margin-end: 5px;
    margin-inline-end: 5px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.custom-tab{
    overflow: auto;
}
.function-section {
    position: fixed;
    width: 100%;
    bottom: 10px;
}


.list-view-custom {
    margin-bottom: 5px;
}

.list-request-all-item {
    margin: 16px;
    --background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(23, 21, 48, 0.102546);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.title-request-all-item {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    max-height: 44px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;

    color: #556080;
    overflow: hidden;
    text-overflow: ellipsis;
}

.node-request-all-item {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: block;
    color: #BBBFCC;
}

.avatar-done {
    color: #01BCC4;
}

.avatar-out-of-date {
    color: #333333;
}

.avatar-paying {
    color: #FAC440;
}

.custom-infinite-scroll {
    min-height: 5px;
}
.custom-avatar {
    margin-top: -5px;
}