<!-- <ion-header id="main-header" class="ion-no-border" [ngStyle]="{'display': getStyleHeader(1)}">
    <ion-toolbar class="header-toolbar">
      <ion-buttons class="btn-account" slot="start" (click)="goToMyAccount()">
        <ion-avatar class="avatar-custom">
            <img src="{{avatar}}" />
        </ion-avatar>
        <ion-label class="avatar-content-title">{{userName}}</ion-label>
      </ion-buttons>
      <ion-chip slot="end" class="button-my-home" (click)="goToMyHome()">
        <img width="12px" src="../../../assets/icon/home-icon.svg" />
          <ion-label class="myhome-content-title">{{ 'HOME.my_home' | translate }}</ion-label>
      </ion-chip>
    </ion-toolbar>
    <div class="amountPay-content">
        <div id="content-button-child" class="function-content-button">
            <div class="ion-float-left div-avatar-content-big btn-paynow" (click)="changePayment()">
                <ion-item lines="none" class="content-item">
                    <ion-icon item-start name="pay-now" class="content-icon" src="/assets/icon/pay_now.svg"></ion-icon>
                    <span class="image-caption-pay">{{ 'HOME.pay_now' | translate }}</span>
                </ion-item>
                <ion-label class="amountPay-number">3.345.000 <span class="amountPay-unit">vnd</span></ion-label>
            </div>
            <div class="ion-float-right div-avatar-content-big btn-new-request" (click)="createRequest()">
                <ion-item lines="none" class="content-item">
                    <ion-icon item-start name="request-icon" class="content-icon" src="/assets/icon/request_icon.svg"></ion-icon>
                    <span class="image-caption-big">{{ 'HOME.create_request' | translate }}</span>
                </ion-item>
                <ion-label class="request-detail">{{ 'HOME.create_request_detail' | translate }}</ion-label>
            </div>
        </div>
    </div>
</ion-header> -->
<ion-header id="sub-header" class="ion-no-border w3-animate-top" [ngStyle]="{'display': getStyleHeader(2)}">
    <!-- <div class="sub-header-toolbar"></div> -->
    <div class="">
        <!-- <div class="sub-header-toolbar"></div> -->
        <div id="content-button-child" class="sub-function-content-button">
            <div class="ion-float-left div-avatar-content-item btn-pay_now ion-text-center" (click)="changePayment()">
                <img class="img-avatar-small"  src="../../../assets/icon/pay_now.svg"/>
            </div>
            <div class="ion-float-left div-avatar-content-item btn-request_icon ion-text-center" (click)="createRequest()">
                <img class="img-avatar-small"  src="../../../assets/icon/request_icon.svg"/>
            </div>
            <div class="ion-float-left div-avatar-content-item btn-book-car ion-text-center" (click)="changeCarBooking()">
                <img class="img-avatar-small"  src="../../../assets/icon/custom-taxi.svg"/>
            </div>
            <div class="ion-float-left div-avatar-content-item btn-helper ion-text-center" (click)="changeHelper()">
                <img class="img-avatar-small"  src="../../../assets/icon/custom-maid.svg"/>
            </div>
            <div class="ion-float-left div-avatar-content-item btn-repairing ion-text-center" (click)="changeReparing()">
                <img class="img-avatar-small"  src="../../../assets/icon/custom-repair.svg"/>
            </div>
            <div class="ion-float-left div-avatar-content-item btn-other ion-text-center" (click)="changeOther()">
                <img class="img-avatar-small"  src="../../../assets/icon/custom-more.svg"/>
            </div>
        </div>
    </div>
</ion-header>

<ion-content #content [style.height.px]="heightScreen" [scrollEvents]="true" (ionScroll)="onScroll($event)">
    <div id="main-header">
        <ion-toolbar class="header-toolbar">
            <ion-buttons class="btn-account" slot="start" (click)="goToMyAccount()">
              <ion-avatar class="avatar-custom">
                  <img src="{{avatar}}" />
              </ion-avatar>
              <ion-label class="avatar-content-title">{{userName}}</ion-label>
            </ion-buttons>
            <ion-chip slot="end" class="button-my-home" (click)="goToMyHome()">
              <img width="12px" src="../../../assets/icon/home-icon.svg" />
                <ion-label class="myhome-content-title">{{ 'HOME.my_home' | translate }}</ion-label>
            </ion-chip>
          </ion-toolbar>
          <div class="amountPay-content">
              <div id="content-button-child" class="function-content-button">
                  <div class="ion-float-left div-avatar-content-big btn-paynow" (click)="changePayment()">
                      <ion-item lines="none" class="content-item">
                          <ion-icon item-start name="pay-now" class="content-icon" src="/assets/icon/pay_now.svg"></ion-icon>
                          <span class="image-caption-pay">{{ 'HOME.pay_now' | translate }}</span>
                      </ion-item>
                      <ion-label class="amountPay-number">{{formatMoney(totalPayment)}} <span class="amountPay-unit">vnd</span></ion-label>
                  </div>
                  <div class="ion-float-right div-avatar-content-big btn-new-request" (click)="createRequest()">
                      <ion-item lines="none" class="content-item">
                          <ion-icon item-start name="request-icon" class="content-icon" src="/assets/icon/request_icon.svg"></ion-icon>
                          <span class="image-caption-big">{{ 'HOME.create_request' | translate }}</span>
                      </ion-item>
                      <ion-label class="request-detail">{{ 'HOME.create_request_detail' | translate }}</ion-label>
                  </div>
              </div>
          </div>
    </div>
    <div id="function-content-big" class="function-content">
        <div class="ion-float-left div-avatar-content" (click)="changeCarBooking()">
            <img class="img-avatar"  src="../../../assets/icon/book-car.svg"/>
            <ion-label class="image-caption">{{ 'HOME.book_car' | translate }}</ion-label>
        </div>
        <!-- <div class="ion-float-left clear-avatar-rect"></div> -->
        <div class="ion-float-left div-avatar-content" (click)="changeHelper()">
            <img class="img-avatar"  src="../../../assets/icon/helper.svg"/>
            <ion-label class="image-caption">{{ 'HOME.helper' | translate }}</ion-label>
        </div>
        <!-- <div class="ion-float-left clear-avatar-rect"></div> -->
        <div class="ion-float-left div-avatar-content" (click)="changeReparing()">
            <img class="img-avatar"  src="../../../assets/icon/reparing.svg"/>
            <ion-label class="image-caption">{{ 'HOME.reparing' | translate }}</ion-label>
        </div>
        <!-- <div class="ion-float-left clear-avatar-rect"></div> -->
        <div class="ion-float-left div-avatar-content" (click)="changeOther()">
            <img class="img-avatar"  src="../../../assets/icon/others.svg"/>
            <ion-label class="image-caption">{{ 'HOME.other' | translate }}</ion-label>
        </div>
    </div>
    <div class="noti-content" id="div-text-place">
        <!-- noti-content -->
        <ion-label class="title-top-new">{{ 'HOME.top_notification' | translate }}</ion-label>
        <div class="ion-float-right" (click)="goToNotification()">
            <ion-label class="view-all-label">{{ 'HOME.view_all' | translate }}</ion-label>
        </div>
        <ion-list class="list-view-custom">
            <ion-card button class="card-content-custom" *ngFor="let item of listArticles" (click)="detailPageNoti($event)" id="{{item._id}}">                       
                <div class="card-img">
                    <ion-img *ngIf="item.thumbnail != null" src="{{item.thumbnail}}" class="img-responsive" alt=""></ion-img>
                    <ion-img *ngIf="item.thumbnail == null" src="assets/common/no-thumbnail.png" class="img-responsive" alt=""></ion-img>
                    <ion-label class="badge-corner badge-corner-base">{{formatString(item.updatedAt)}}</ion-label>
                    <ion-label class="badge-corner-right badge-corner-icon hide"><ion-icon class="custom-pined" name="custom-pined" src="assets/icon/custom-pined.svg"></ion-icon></ion-label>
                </div>
                
                <ion-item lines="none" style="margin-top: 10px;">
                    <ion-card-title class="ion-text-wrap content-two-line content-title">{{item.title}}</ion-card-title>
                </ion-item>
                <div class="ion-float-left">
                    <ion-item lines="none" class="card-bottom">
                        <ion-icon item-start name="eye-outline" class="card-bottom-icon"></ion-icon>
                        <span class="card-bottom-label">{{item.readsCount}}</span>
                    </ion-item>
                </div>
                <div class="ion-float-left">
                    <ion-item lines="none" class="card-bottom">
                        <ion-icon item-start name="custom-comment" class="card-bottom-icon" src="assets/icon/custom-comment.svg"></ion-icon>
                        <span class="card-bottom-label"> {{item.commentsCount}} </span>
                    </ion-item>
                </div>
                <div class="ion-float-left">
                    <ion-item lines="none" class="card-bottom">
                        <ion-icon item-start name="custom-attach" class="card-bottom-icon" src="assets/icon/custom-attach.svg"></ion-icon>
                        <span class="card-bottom-label"> {{item.attachments.length}} </span>
                    </ion-item>
                </div>
            </ion-card>
        </ion-list> 
        <!-- news-content -->
        <ion-label class="title-top-new">{{ 'HOME.top_news' | translate }}</ion-label>
        <ion-list class="list-view-news">
            <ion-card button class="card-content-news" *ngFor="let item of listNews" (click)="detailPage($event)" id="{{item._id}}">
                <div class="card-img">
                    <!-- <ion-img src="{{item.thumbnail}}" class="img-responsive" alt=""></ion-img> -->
                    <ion-img *ngIf="item.thumbnail != null" src="{{item.thumbnail}}" class="img-responsive"></ion-img>       
                    <ion-img *ngIf="item.thumbnail == null" src="assets/common/no-thumbnail.png" class="img-responsive"></ion-img>
                    <ion-label class="badge-corner badge-corner-base">{{formatString(item.updatedAt)}}</ion-label>
                </div>
                <ion-item lines="none" style="margin-top: 10px;">
                    <ion-card-title class="ion-text-wrap content-two-line content-title">{{item.title}}</ion-card-title>
                </ion-item>
                <div class="ion-float-left">
                    <ion-item lines="none" class="card-bottom">
                        <ion-icon item-start name="eye-outline" class="card-bottom-icon"></ion-icon>
                        <ion-label class="card-bottom-label"> {{item.totalViewers}} </ion-label>
                    </ion-item>
                </div>
                <div class="ion-float-left">
                    <ion-item lines="none" class="card-bottom">
                        <ion-icon item-start name="person-circle-outline" class="card-bottom-icon"></ion-icon>
                        <ion-label class="card-bottom-label"> {{item.createdBy.displayName}} </ion-label>
                    </ion-item>
                </div>
            </ion-card>
        </ion-list>
        <ion-infinite-scroll threshold="50px" (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content class="custom-infinite-scroll"
            loadingSpinner="bubbles"
            loadingText="{{ 'HOME.loadding_more' | translate }}">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
</ion-content>
