.header-infor{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 13.18%;
    background: #FA7268;
}

.amountPay-content{
    position: absolute;
    left: 4.27%;
    width: 95.73%;
    top: 9.13%;
    height: 23.33%;

    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(23, 21, 48, 0.102546);
    border-radius: 8px;
}

.function-content{
    position: absolute;
    left: 4.27%;
    width: 95.73%;
    top: 26.98%;
    height: 35.09%;

    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(23, 21, 48, 0.102546);
    border-radius: 8px;
}