<ion-header class="ion-no-border home-header">
	<div id="main-header">
		<ion-buttons class="btn-account" slot="start" (click)="goToMyAccount()">
			<ion-avatar class="avatar-custom">
				<img src="{{avatar}}" />
			</ion-avatar>

			<div class="user-name-wrapper">
				<ion-label class="hello-text" *ngIf="todatHours <= 12">{{ 'HOME.hello_morning' | translate }}</ion-label>
				<ion-label class="hello-text" *ngIf="todatHours > 12 && todatHours <= 18">{{ 'HOME.hello_afternoon' | translate
					}}
				</ion-label>
				<ion-label class="hello-text" *ngIf="todatHours > 18">{{ 'HOME.hello_evening' | translate }}</ion-label>
				<ion-label class="avatar-content-title">{{userName}}</ion-label>
			</div>
		</ion-buttons>
		<ion-button class="button-wallet" *ngIf="!epayUserInfo" (click)="registrationNavigate('register-wallet')">
			<img class="icon-wallet" src="../assets/icon/home/wallet.svg" />
			<ion-label class="no_wallet_title">{{ 'HOME.no_wallet_title' | translate }}</ion-label>
		</ion-button>
		<ion-button class="button-wallet" *ngIf="epayUserInfo" (click)="presentAlert()">
			<img class="icon-wallet" src="../assets/icon/home/wallet.svg" />
			<ion-label class="wallet_money_title">{{ 'HOME.wallet_money_title' | translate }}</ion-label>
			<ion-label class="wallet_money">{{formatMoney(epayUserInfo?.user_info?.balance)}}đ</ion-label>
		</ion-button>
	</div>

	<div class="notification-block">
		<div class="notification-header">
			<div class="notification-header-text" *ngIf="firstDepartment">
				<ion-label class="header-text-1">{{firstDepartment?.apartment?.title + ' - ' + firstDepartment?.campaign.title}}
				</ion-label>
				<ion-label class="header-text-2">{{firstDepartment?.campaign?.address}}</ion-label>
			</div>
			<div class="notification-header-text" *ngIf="!firstDepartment">
				{{"HOME.not_department_message" | translate }}
			</div>
			<ion-button expand="block" fill="clear" shape="round" (click)="goToMyHome()" class="notification-header-button">
				<ion-icon name="chevron-forward-outline" class="notification-expand"></ion-icon>
			</ion-button>
		</div>
		<div class="notification-list">
			<ion-list class="list-notifications">
				<ion-item class="notification" *ngFor="let item of listArticles;let isLast=last" (click)="detailPageNoti($event)"
					id="{{item._id}}" lines="{{isLast ? 'none' : ''}}">
					<ion-icon name="notifications" class="notification-icon"></ion-icon>
					<ion-label class="notification-text">{{item.title}}</ion-label>
				</ion-item>
				<ion-item lines="none" class="notification" *ngIf="!listArticles || listArticles.length == 0">
					<ion-label class="notification-not-data">{{"HOME.not_noti_message" | translate }}</ion-label>
				</ion-item>
			</ion-list>
		</div>
	</div>
</ion-header>

<ion-content #content [style.height.px]="heightScreen" [scrollEvents]="true" class="home-page">
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content pullingText="{{ 'NOTIFICATION.pull_to_refresh' | translate }}" refreshingSpinner="circles"
			refreshingText="Refreshing...">
		</ion-refresher-content>
	</ion-refresher>

	<div class="request-category">
		<div class="notification-overdue-bill" *ngIf="overDateBill.length > 0 && isShowBill">
			<div class="noti-detail">
				<ion-label class="noti-total-bill"> {{ 'HOME.noti_payment_message' | translate: { billCount: overDateBill.length} }} </ion-label>
				<div class="noti-bill-item" *ngFor="let bill of overDateBill; let idx = index">
					<ion-label *ngIf="idx < 2"> - {{bill.payment.title}} </ion-label>
				</div>
				<div class="three-dots" *ngIf="overDateBill.length >= 3"> ... </div>
			</div>
			<div class="noti-image">
				<img class="image" src="../../../assets/icon/overdue-bill.png" />
			</div>
			<div class="pay-bill-button">
				<button class="button-pay" (click)="registrationNavigate('/dashboard/payment')"> {{ 'HOME.noti_btn_pay' | translate }} </button>
			</div>
			<div class="close-noti-bill" (click)="isShowBill = false">
				<img src="../../../assets/icon/close-noti-bill-icon.png" class="close-icon">
			</div>
		</div>
		<div class="notifi-not-overdue-bill" *ngIf="!overDateBill || overDateBill.length == 0 || !isShowBill"></div>
		
		<ion-label class="request-category-title">{{ 'HOME.request_title' | translate }}</ion-label>
		<ion-grid class="request-categories-wrapper">
			<ion-row class="ion-align-items-center">
				<ion-col size="3" class="item-icon-col" (click)="registrationNavigate('/register-to-receive-goods')">
					<ion-badge class="item-icon-content">
						<img name="custom-archive" class="item-icon" src="assets/icon/request/delivery-box.svg" />
					</ion-badge>
					<ion-label class="cate-title">{{ 'REGISTRATION_TYPE.receive' | translate }}</ion-label>
				</ion-col>
				<ion-col size="3" class="item-icon-col" (click)="registrationNavigate('/registration-guest')">
					<ion-badge class="item-icon-content">
						<img name="custom-archive" class="item-icon" src="assets/icon/request/user.svg" />
					</ion-badge>
					<ion-label class="cate-title">{{ 'REGISTRATION_TYPE.guest' | translate }}</ion-label>
				</ion-col>
				<ion-col size="3" class="item-icon-col" (click)="registrationNavigate('/register-for-shipping')">
					<ion-badge class="item-icon-content">
						<img name="custom-archive" class="item-icon" src="assets/icon/request/cart.svg" />
					</ion-badge>
					<ion-label class="cate-title">{{ 'REGISTRATION_TYPE.shipping' | translate }}</ion-label>
				</ion-col>
				<ion-col size="3" class="item-icon-col">
					<ion-badge class="item-icon-content" (click)="registrationNavigate('/add-request')">
						<img name="custom-archive" class="item-icon" src="assets/icon/home/request.svg" />
					</ion-badge>
					<ion-label class="cate-title">{{ 'HOME.complain_title' | translate }}</ion-label>
				</ion-col>
			</ion-row>
		</ion-grid>

		<div class="function-title-block">
			<ion-label class="funtions-title">{{ 'HOME.home-service' | translate }}</ion-label>
			<ion-label class="funtions-title-2">{{ 'HOME.home-service-2' | translate }}</ion-label>
		</div>
		<div class="function-list">
			<div class="ion-float-left div-avatar-content" *ngFor="let item of listServiceCategory"
				(click)="goToServices(item)">
				<img class="img-avatar" src="{{item.thumbnail}}" />
				<div class="cate-title">{{item.title}}</div>
			</div>
			<div class="ion-float-left div-avatar-content" (click)="changeOther()">
				<img class="img-avatar" src="../../../assets/icon/home/puzzle.svg" />
				<ion-label class="cate-title">{{ 'HOME.other' | translate }}</ion-label>
			</div>
		</div>

		<div class="banner-content">
			<img src="../../../assets/images/banner.jpg" />
		</div>

		<ion-footer class="footer-content">
			<img src="assets/common/frame.png" />
		</ion-footer>
	</div>
</ion-content>