<ion-content>
    <div class="header-infor">
        <div class="avatar-content">
            <ion-chip class="button-avatar" (click)="goToMyAccount()">
                <ion-avatar class="avatar-custom">
                    <img src="{{avatar}}" />
                </ion-avatar>
                <ion-label class="avatar-content-title">{{userName}}</ion-label>
            </ion-chip>
            <ion-chip class="button-my-home" (click)="goToMyHome()">
                <img width="24px" src="../../../assets/icon/home-icon.png" />
                <ion-label class="myhome-content-title">{{ 'HOME.my_home' | translate }}</ion-label>
            </ion-chip>
        </div>
    </div>
    <div id="contentNews" class="amountPay-content">
        <div id="content-button-child" class="function-content-button">
            <div class="ion-float-left div-avatar-content-big btn-paynow" (click)="changePayment()">
                <img class="img-avatar-big" src="../../../assets/common/pay_now.png">
                <ion-label class="image-caption-big">{{ 'HOME.pay_now' | translate }}</ion-label>
                <!-- <svg class="total-cash" width="122" height="64" viewBox="0 0 122 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_d)">
                    <path d="M20 22C20 20.8954 20.8954 20 22 20H100C101.105 20 102 20.8954 102 22V38C102 39.1046 101.105 40 100 40H20V22Z" fill="#FA7268"/>
                    </g>
                    <text _ngcontent-qsl-c4="" class="font-cash-number" fill="white" font-size="14" x="60" y="34" text-anchor="middle">0 đ</text>
                    <g filter="url(#filter1_d)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 43.9961V39.9999H24L20 43.9961Z" fill="#FA7268"/>
                    </g>
                    <defs>
                    <filter id="filter0_d" x="0" y="0" width="122" height="60" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                    <feOffset/>
                    <feGaussianBlur stdDeviation="10"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0.0901961 0 0 0 0 0.0823529 0 0 0 0 0.188235 0 0 0 0.102546 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                    </filter>
                    <filter id="filter1_d" x="0" y="20" width="44" height="43.9962" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                    <feOffset/>
                    <feGaussianBlur stdDeviation="10"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0.0901961 0 0 0 0 0.0823529 0 0 0 0 0.188235 0 0 0 0.102546 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                    </filter>
                    </defs>
                    </svg>   -->
            </div>
            <div class="ion-float-right div-avatar-content-big btn-new-request">
                <div (click)="createRequest()">
                    <img class="img-avatar-big" src="../../../assets/common/request_icon.png">
                    <ion-label class="image-caption-big">{{ 'HOME.create_request' | translate }}</ion-label>
                </div>
            </div>
        </div>
    </div>
    <div id="function-content-big" class="function-content">
        <div class="ion-float-left div-avatar-content" (click)="changeRoomService()">
            <img class="img-avatar"  src="../../../assets/icon/do-le.jpeg"/>
            <ion-label class="image-caption">{{ 'HOME.cleaning' | translate }}</ion-label>
        </div>
        <div class="ion-float-left clear-avatar-rect"></div>
        <div class="ion-float-left div-avatar-content" (click)="changeReparing()">
            <img class="img-avatar"  src="../../../assets/icon/ve-sinh.jpeg"/>
            <ion-label class="image-caption">{{ 'HOME.reparing' | translate }}</ion-label>
        </div>
        <div class="ion-float-left clear-avatar-rect"></div>
        <div class="ion-float-left div-avatar-content" (click)="changeFood()">
            <img class="img-avatar"  src="../../../assets/icon/danh-giay.jpeg"/>
            <ion-label class="image-caption">{{ 'HOME.fresh_food' | translate }}</ion-label>
        </div>
        <div class="ion-float-left clear-avatar-rect"></div>
        <div class="ion-float-left div-avatar-content" (click)="changeOther()">
            <img class="img-avatar"  src="../../../assets/icon/other.png"/>
            <ion-label class="image-caption">{{ 'HOME.other' | translate }}</ion-label>
        </div>
    </div>
    <div id="function-content-small" style="display: none;" class="function-content-small">
        <div class="ion-float-left div-avatar-content-small" (click)="changePayment()">
            <img class="img-avatar-small"  src="../../../assets/common/pay_now.png"/>
        </div>
        <div class="ion-float-left div-avatar-content-small" (click)="createRequest()">
            <img class="img-avatar-small"  src="../../../assets/common/request_icon.png"/>
        </div>
        <div class="ion-float-left div-avatar-content-small" (click)="changeRoomService()">
            <img class="img-avatar-small"  src="../../../assets/icon/do-le.jpeg"/>
        </div>
        <div class="ion-float-left clear-avatar-rect"></div>
        <div class="ion-float-left div-avatar-content-small" (click)="changeReparing()">
            <img class="img-avatar-small"  src="../../../assets/icon/ve-sinh.jpeg"/>
        </div>
        <div class="ion-float-left clear-avatar-rect"></div>
        <div class="ion-float-left div-avatar-content-small" (click)="changeFood()">
            <img class="img-avatar-small"  src="../../../assets/icon/danh-giay.jpeg"/>
        </div>
        <div class="ion-float-left clear-avatar-rect"></div>
        <div class="ion-float-left div-avatar-content-small" (click)="changeOther()">
            <img class="img-avatar-small"  src="../../../assets/icon/other.png"/>
        </div>
    </div>
    <div class="new-content" id="new-content">
        <ion-label class="title-top-new">{{ 'HOME.top_news' | translate }}</ion-label>
        <ion-content class="list-home-content" [style.height.px]="heightScreen" [scrollEvents]="true" (ionScroll)="onScroll($event)">
            <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
                <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="{{ 'HOME.pull_to_refresh' | translate }}"
                refreshingSpinner="circles"
                refreshingText="Refreshing...">
                </ion-refresher-content>
            </ion-refresher>
            <ion-list class="list-view-custom">
                <ion-card button class="card-content-custom" *ngFor="let item of listNews" (click)="detailPage($event)" id="{{item._id}}">
                    <ion-img src="{{item.thumbnail}}"></ion-img>
                    <ion-item lines="none" style="margin-top: 10px;">
                        <ion-card-title class="ion-text-wrap content-two-line content-title">{{item.title}}</ion-card-title>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-label class="ion-text-wrap content-two-line content-sub">{{item.excerpt}}</ion-label>
                    </ion-item>
                    
                </ion-card>
            </ion-list>
            <ion-infinite-scroll threshold="50px" (ionInfinite)="loadData($event)">
                <ion-infinite-scroll-content class="custom-infinite-scroll"
                loadingSpinner="bubbles"
                loadingText="{{ 'HOME.loadding_more' | translate }}">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </ion-content>
    </div>
</ion-content>
<ion-backdrop tappable="true" *ngIf="isShowPopup == true" ionBackdropTap="closePopup()"></ion-backdrop>
<div id="popupThumbnail" *ngIf="isShowPopup == true">
    <img class="iconClose" src="../../../assets/icon/close.png" (click)="closePopup()"/>
    <img class="popupImage" src="{{ popupThumbnail }}"/>
    <ion-button expand="block" id="popupButton" (click)="changeScreenPopup()" type="submit">{{ popupButtonTitle }}</ion-button>
</div>
