.header-infor{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 17%;
    background: #FA7268;
}

.avatar-content {
    position: absolute;
    left: 4.27%;
    top: 24%;
    width: 91.46%;
}

.total-cash {
    position: absolute;
    top: -3em;
    left: 23%;
}

.font-cash-number{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
}

.avatar-content-title {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    vertical-align: super;
    color: #FFFFFF;
}

.myhome-content-title {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    vertical-align: super;
    color: #FFFFFF;
    margin-left: 5px;
}

.amountPay-content{
    position: absolute;
    left: 4.27%;
    width: 91.46%;
    top: 11%;
    
}

.function-content{
    position: absolute;
    left: 4.27%;
    width: 91.46%;
    top: calc(22% + 26px);
    height: 8.11%;
    padding-top: 4px;
    // background: #FFFFFF;
    // box-shadow: 0px 0px 20px rgba(23, 21, 48, 0.102546);
    // border-radius: 8px;
}
.function-content-small{
    position: absolute;
    left: 4.27%;
    width: 91.46%;
    top: calc(25% + 26px);
    height: 8.11%;
    padding-top: 4px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(23, 21, 48, 0.102546);
    border-radius: 8px;
}

.new-content {
    position: absolute;
    left: 4.27%;
    width: 91.46%;
    top: calc(32% + 35px);
}

.title-top-new {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #21313F;
}

.view-all-label {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    text-align: right;
    color: #009AC9;
}

.subContentText {
    max-height: 3.6em;
    line-height: 1.8em;
    height: 75%;
    white-space: normal;
}

.row-height-note {
    height: 2.5em;
}

.panding-15-right{
    padding-right: 15px;
}

.content-two-line{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.content-title {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #21313F;
    --text-transform: capitalize;
}

.content-sub {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    max-height: 38px;

    color: #556080;
}

.title-text-header {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    padding-left: 10px;
}

.card-content-custom {
    width: 260px;
    -webkit-margin-start: 0px;
    margin-inline-start: 0px;
    -webkit-margin-end: 0px;
    margin-inline-end: 0px;
    margin-top: 0px;
    margin-right: 20px;
    border-radius: 8px;
    box-shadow: 0px 10px 30px rgba(33, 49, 63, 0.1);
}

.list-home-content {
    --offset-top: -16px !important;
    --overflow: auto;
}

.list-view-custom {
    padding-top: 10px;

    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    .card-content-custom {
        display: inline-block;
    }
}

.div-avatar-content {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 25%;
    height: 100%;
}
.div-avatar-content-small{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 16%;
    height: 100%;
}

.img-avatar {
    width: 40px;
}

.img-avatar-small {
    width: 2.0em;
    height: 60%;
    margin-top : 20%;
}

.img-avatar-big {
    height: 1.5em;
}

.image-caption {
    /* Make the caption a block so it occupies its own line. */
    display: block;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #21313F;
}

.clear-avatar-rect {
    width: 1px;
    height: 100%;
    background: #F5F5F5;
    box-shadow: 0px 0px 20px rgba(23, 21, 48, 0.102546);
    border-radius: 8px;
}

.function-content-button {
    position: absolute;
    top:35%;
    width:100%;
}

.div-avatar-content-big {
    width: 48%;
    height: 80px;

    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(23, 21, 48, 0.102546);
    border-radius: 8px;
    border: 1px solid #FFFFFF;
}

.content-item {
    --background: transparent;
    border: none;
}

.image-caption-big {
    /* Make the caption a block so it occupies its own line. */
    display: block;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    color: #009AC9;
}


.balance-content{
    position: absolute;
    left: 16px;
    right: 16px;
    top: 30px;
    height: 140px;

    --background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(23, 21, 48, 0.102546);
    border-radius: 8px;
}

.title-blance-content {
    position: absolute;
    height: 22px;
    left: 16px;
    display: flex;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;

    color: #556080;
}

.total-cash-blance-content {
    position: absolute;
    height: 22px;
    right: 16px;
    display: flex;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #556080;
}
.total-cash-blance-content-unit {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 28px;
    color: #556080;
    margin-left: 5px;
}

.clear-balance-rect {
    height: 2px;
    width: 80%;
    background: #F5F5F5;
    border-radius: 10px;
    position: absolute;
    top: 35%;
    left: 10%;
}

ion-content {
    --overflow: hidden;
}

.button-my-home {
    position: absolute;
    right: 0px;
    --background: #E46B64;
}

.button-avatar {
    position: absolute;
    left: 0px;
    --background: transparent;
}

.avatar-custom{
    width: 30px;
    height: 30px;
}

.btn-paynow{
    margin-left: 0;
}

.btn-new-request{
    margin-right: 0;
}

.request-detail {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    padding-left: 16px;
    color: #7A838C;
}

.amountPay-number {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #FA7268;
    padding-left: 16px;
}
.amountPay-unit {
    font-size: 12px;
}

.content-icon {
    font-size: 16px;
}

.card-bottom {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #7A838C; 
}
.card-bottom-icon {
    font-size: 18px;
    color: #7A838C;
}
.card-bottom-label {
    margin-left: 5px;
}
.card-img {
    position: relative;
}
.badge-corner:empty {
    display: inline-block;
}
.badge-corner {
    position: absolute;
    top: 0;
    width: 90px;
    height: 25px;
    // border-top: 25px solid #888;
    // border-top-color: rgba(0, 0, 0, 0.3);
    // border-left: 66px solid transparent;
    padding: 0;
    background-color: #009AC9;
    border-top-left-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 8px;
    color: #FFFFFF;
}
.badge-corner-base {
    background-color: #009AC9;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
}
