root{
    --borderColor:gray;
    --charShape:none;
}

.col:last-child {
    width:1% !important;
}

.pinCodeInput {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(23, 21, 48, 0.102546);
    border-radius: 8px;
    width: 100% !important;
    min-height: 40px;
    height: 100%;
    border: 1px solid #c4c4c4;
    font-size: 24px;
    text-align: center;
    -webkit-text-security:var(--charShape);
    -moz-text-security: var(--charShape);
    text-transform:uppercase;
}


.pinCodeGrid{
    direction: ltr;
}


.pinCodeInput[disabled]{
   border-bottom: 2px solid #e3e3e3;
   background-color: transparent;
}

.image-item {
    --padding-start: 0px;
    --inner-padding-end: 0px;
}

.image-icon-check {
    height: 66px;
    width: 66px;
    left: 0;
    right: 0;
    margin:0 auto;
}

.form-class {
    padding-left: 5%;
    padding-right: 5%;
}

.note-style {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */


    color: #556080;
}

.btn-resend{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */


    color: #556080;

}

.btn-done{
    font-family: Nunito Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 33px;
/* identical to box height */


color: #556080;

}

.wrong-code{
    font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
/* identical to box height */

text-align: right;
color: #FA7268;

}

.margin-top-16{
    margin-top: 24px;
}