<ion-content class="content-wrap">
  <div class="content-container">
    <ion-item lines="none" class="header-item ion-no-padding">
      <ion-title class="popup-title">{{ 'ADD_HOME_MEMBER.placeholder_relationship' | translate }}</ion-title>
      <ion-buttons slot="end" (click)="closeModal()" class="btn-close-popup">
        <ion-icon name="close"></ion-icon>
      </ion-buttons>
    </ion-item>
    <ion-list>
      <ion-item class="modal-item" lines="none" (click)="selectOption(1)">
        <ion-label>{{ 'ADD_HOME_MEMBER.wife' | translate }}</ion-label>
      </ion-item>
      <ion-item class="modal-item" lines="none"  (click)="selectOption(2)">
        <ion-label>{{ 'ADD_HOME_MEMBER.husband' | translate }}</ion-label>
      </ion-item>
      <ion-item class="modal-item" lines="none"  (click)="selectOption(3)">
        <ion-label>{{ 'ADD_HOME_MEMBER.father' | translate }}</ion-label>
      </ion-item>
      <ion-item class="modal-item" lines="none"  (click)="selectOption(4)">
        <ion-label>{{ 'ADD_HOME_MEMBER.mother' | translate }}</ion-label>
      </ion-item>
      <ion-item class="modal-item" lines="none"  (click)="selectOption(5)">
        <ion-label>{{ 'ADD_HOME_MEMBER.son' | translate }}</ion-label>
      </ion-item>
      <ion-item class="modal-item" lines="none"  (click)="selectOption(6)">
        <ion-label>{{ 'ADD_HOME_MEMBER.daughter' | translate }}</ion-label>
      </ion-item>
      <ion-item class="modal-item" lines="none"  (click)="selectOption(7)">
        <ion-label>{{ 'ADD_HOME_MEMBER.brother' | translate }}</ion-label>
      </ion-item>
      <ion-item class="modal-item" lines="none"  (click)="selectOption(8)">
        <ion-label>{{ 'ADD_HOME_MEMBER.sister' | translate }}</ion-label>
      </ion-item>
      <ion-item class="modal-item" lines="none"  (click)="selectOption(9)">
        <ion-label>{{ 'ADD_HOME_MEMBER.relative' | translate }}</ion-label>
      </ion-item>
      <ion-item class="modal-item" lines="none"  (click)="selectOption(10)">
        <ion-label>{{ 'ADD_HOME_MEMBER.friend' | translate }}</ion-label>
      </ion-item>
      <ion-item class="modal-item" lines="none"  (click)="selectOption(11)">
        <ion-label>{{ 'ADD_HOME_MEMBER.housemaid' | translate }}</ion-label>
      </ion-item>
      <ion-item class="modal-item" lines="none"  (click)="selectOption(12)">
        <ion-label>{{ 'ADD_HOME_MEMBER.guest' | translate }}</ion-label>
      </ion-item>
    </ion-list>
  </div>
  
</ion-content>