.survey-wrapper {
    --background: #333333;
    color: #fff;
}

.ion-no-border {
    background-color: #333333;
    height: 185px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.service-header-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 41px;
    color: #ffffff;
}

.service-header-sub-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    margin-top: 10px;
}

.survey-header {
    background-color: #333333;
    height: 70px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    
    .back-button {
        width: 25px;
        position: absolute;
        top: 40px;
        left: 5px;

        .ion-back-button {
            --icon-font-size: 22px;
            margin-left: 0;
            display: block;
        }
    }
}

.survey-title-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 15px 20px 15px;
    background-color: #333333;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.4);

    .survey-title {
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 36px;
        color: #ffffff;
    }
    .survey-sub-title {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.6);
    }
    .survey-detail-link {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.8);
        text-decoration: underline;
    }
}

.question-wrapper {
    display: flex;
    padding-top: 15px;

    .question-order {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #333333;
        border-radius: 50%;
        min-width: 32px;
        width: 32px;
        height: 32px;
        margin-right: 10px;
        font-family: Nunito;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 36px;
        color: #ffffff;
    }

    .question {
        position: relative;
        width: 100%;
        &::before {
            content: "";
            position: absolute;
            top: 40px;
            left: -26px;
            height: calc(100% - 32px);
            width: 1px;
            background: rgba(0, 0, 0, 0.2);
            min-height: 20px;
        }
        .survey-checkbox {
            --border-color: #FFFFFF;
            --background: transparent;
            --checkmark-color: #333333;
        }
    }

    &:last-child {
        .question::before {
            display: none;
        }
    }
}

.survey-content {
    padding: 0 15px;
    background-color: #333333;
    padding-bottom: 100px;
    overflow: scroll;
    height: calc(100% - 240px);
    .survey-padding-bottom {
        padding-bottom: 20px;
    }
    .question-title {
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 26px;
        color: #ffffff;
    }

    .answer-item {
        --background: #333333;

        .answer-label {
            font-family: Open Sans;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #ffffff;
        }
    }
}

.list-anwers {
    padding: 0;
    background: unset !important;
}

.answer-textarea {
    --background: #fff;
    color: #000;
    border-radius: 8px;
    margin-top: 10px;
    padding: 0 10px;
}

.navigation-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 15px;
    height: 80px;
    z-index: 99;

    .navigation-btn {
        width: 60px;
        height: 60px;
        font-size: 20px;
        --padding-start: 20px;
        --padding-end: 20px;
    }
}

.single-button {
    justify-content: center !important;
}

.no-scroll {
    --overflow: hidden;
}
