<ion-header id="main-header-toolbar" class="ion-no-border" [ngStyle]="{'display': getStyleHeader(1)}">
  <ion-toolbar>
    <ion-buttons class="back-button">
      <ion-back-button class="back-btn" color="light" text="" icon="chevron-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-header id="sub-header-toolbar" class="ion-no-border w3-animate-top second-header" [ngStyle]="{'display': getStyleHeader(2)}">
  <ion-toolbar class="header-splash">
    <ion-item lines="none" class="ion-item-second">
      <div class="logo-wrapper" slot="start">
        <img class="shop-logo-2" src="{{shopInfoData?.thumbnail}}" />
      </div>
      <ion-card-title class="ion-text-wrap content-two-line header-title">{{shopInfoData?.title}}</ion-card-title>
    </ion-item>
    <ion-buttons class="back-button-second" slot="start">
      <ion-back-button class="back-btn-second" text="" icon="chevron-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content id="content_page" #content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <ion-item lines="none" class="ion-no-padding">
    <img class="image-page" src="{{shopInfoData?.logo ? shopInfoData?.logo : shopInfoData?.thumbnail}}" />
  </ion-item>
  <div class="group-1-logo" id="shop_info" *ngIf="shopInfoData">
    <div class="logo-wrapper">
      <img class="shop-logo" src="{{shopInfoData?.thumbnail}}" />
    </div>
    <div class="title-wrapper">
      <ion-label class="ion-text-wrap title-1 font-weight-bold">{{shopInfoData.title}}</ion-label>
      <div class="service-infos">
        <div class="group-1-text-star" *ngIf="shopInfoData.stars">
          <ion-img class="group-1-icon-star" src="../assets/icon/svg/icon-star.svg"></ion-img>
          <ion-label class="class-label-rate">{{shopInfoData.stars}}</ion-label>
        </div>
        <div class="group-1-text-discount" *ngIf="shopInfoData.promotionKM">
          <!-- <img class="discount-icon" src="assets/icon/service-info/discount-icon.svg"/> -->
          <div class="discount-icon">{{ shopInfoData.promotionKM }}</div>
          <ion-label class="class-label-promotion">{{ shopInfoData.promotion }}</ion-label>
        </div>
      </div>
    </div>
  </div>

  <div
    class="ion-discount-meter-wrapper {{(shopInfoData?.attachments && shopInfoData.attachments.length > 0) ? '' : 'ion-discount-height' }}">
    <ion-slides pager="false" [options]="slideOpts" class="discount-slider"
      *ngIf="shopInfoData?.attachments && shopInfoData.attachments.length > 0">
      <ion-slide *ngFor="let item of shopInfoData.attachments">
        <img src="{{item?.url}}" />
      </ion-slide>
    </ion-slides>
  </div>

  <super-tabs (tabChange)="tabChange($event)" class="super-tabs-shop-shouse">
    <super-tabs-toolbar slot="top">
      <super-tab-button class="super-tab-button">
        <ion-label>{{ 'SHOP_HOUSE.service' | translate }}</ion-label>
      </super-tab-button>
      <super-tab-button class="super-tab-button">
        <ion-label>{{ 'SHOP_HOUSE.supplier' | translate }}</ion-label>
      </super-tab-button>
      <super-tab-button class="super-tab-button">
        <ion-label>{{ 'SHOP_HOUSE.rating' | translate }}</ion-label>
      </super-tab-button>
    </super-tabs-toolbar>
    <super-tabs-container autoScrollTop="false"></super-tabs-container>
  </super-tabs>
  <!-- TAB DICH VU -->
  <div *ngIf="currentTab == 0" class="super-tabs-content">
    <!-- <ion-content [scrollY]="false"> -->
    <div class="group-data" *ngIf="data_shop_house.group_2.length > 0">
      <ion-grid class="ion-no-padding pading-ion-grid padding-top-20 padding-bottom-10" *ngFor="let object of data_shop_house.group_2"
        id="{{object.id_tab}}">
        <ion-row class="title-shop-product">
          <ion-label class="serviec-title">{{object.title}}</ion-label>
        </ion-row>
        <ion-row class="row-data-product" *ngFor="let data of object.data">
          <ion-col class="item ion-col-class group-2-col-1" size="12">
            <div class="row div-title-col-2">
              <div class="col-12">
                <ion-label class="white-space-normal">{{data.title}}</ion-label>
              </div>
            </div>
            <div class="div-note-col-2">
              <ion-label class="white-space-normal">{{data.note}}</ion-label>
            </div>
          </ion-col>
          <ion-col size="12">
            <ion-row>
              <ion-col size="7" class="col-data-money">
                <ion-label class="font-weight-bold white-space-normal">{{data.money}}đ</ion-label>
              </ion-col>
              <ion-col class="group-1-button-change-number" size="5">
                <img class="icon-button-3" src="../assets/common/minus.svg" (click)="downNumberProduct_1(object.id_tab, data._id)"
                  [ngClass]="{'disabled': data.number === 0}" />
                <label class="group-1-label-1 font-weight-bold">{{data.number}}</label>
                <img class="icon-button-3" src="../assets/common/plus.svg" (click)="upNumberProduct_1(object.id_tab, data._id)" />
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngIf="data_shop_house.group_2.length == 0" class="not-found-service">
      {{ 'SHOP_HOUSE.not_found_data' | translate }}
    </div>
    <!-- </ion-content> -->
  </div>
  <!-- END TAP DICH VU -->

  <!-- TAB THONG TIN -->
  <div *ngIf="currentTab == 1" class="super-tabs-content">
    <!-- <ion-content [scrollY]="false"> -->
    <ion-grid class="ion-no-padding pading-ion-grid padding-top-20 padding-bottom-20">
      <ion-row class="service-general-infos">
        <div class="info-icon">
          <ion-img src="assets/icon/service-info/phone.svg"></ion-img>
        </div>
        <ion-label class="info-label">{{ shopInfoData?.phone }}</ion-label>
      </ion-row>
      <ion-row class="service-general-infos">
        <div class="info-icon">
          <ion-img src="assets/icon/service-info/map-pin.svg"></ion-img>
        </div>
        <ion-label class="info-label">{{ shopInfoData?.address }}</ion-label>
      </ion-row>
      <ion-row>
        <div class="open-time-dropdown">
          <div class="open-time-item-active" (click)="shopOpenTimeExpand = !shopOpenTimeExpand">
            {{(shopOpenTime ? shopOpenTime : 'SHOP_HOUSE.close') | translate}}
            <img src="assets/icon/service-info/down.svg" *ngIf="!shopOpenTimeExpand">
            <img src="assets/icon/service-info/down.svg" *ngIf="shopOpenTimeExpand" class="icon-up">
          </div>
          <div class="open-time-expand" *ngIf="shopOpenTimeExpand">
            <div class="{{item.isOpen ?  'open-time-item-active' : 'open-time-item'}}" *ngFor="let item of shopOpenList">
              {{item.display}}</div>
          </div>
        </div>
      </ion-row>
      <ion-row class="title-shop-product service-intro">
        <ion-label class="serviec-title">{{'SHOP_HOUSE.about_shop' | translate}}</ion-label>
      </ion-row>
      <ion-row class="service-intro-text">
        <ion-label>
          {{shopInfoData?.content}}

        </ion-label>
      </ion-row>
    </ion-grid>
    <!-- </ion-content> -->
  </div>
  <!-- END TAB THONG TIN -->

  <!-- TAB DANH GIA -->
  <div *ngIf="currentTab == 2" class="super-tabs-content">
    <!-- <ion-content [scrollY]="false"> -->
    <ion-grid class="ion-no-padding pading-ion-grid padding-top-20 padding-bottom-20">
      <ion-row>
        <div class="average-rating-wrapper">
          <div class="average-rating-score">
            {{shopInfoData?.stars}}
            <div class="average-rating-star">
              <ion-img src="assets/icon/service-info/star.svg"></ion-img>
            </div>
          </div>
          <ion-label class="total-rating-text"> {{shopInfoData?.numberEvaluation}} {{ 'SEVICE_29.rate' | translate }}</ion-label>
        </div>
      </ion-row>
      <ion-row class="user-rating-wrapper">
        <ion-list class="user-rating-list">
          <ion-item *ngFor="let rating of listRatingShop">
            <div class="user-rating-item">
              <div class="user-rating-avatar">
                <ion-img src="{{rating?.createdBy?.avatar ? rating.createdBy.avatar : 'assets/icon/service-info/user.png'}}">
                </ion-img>
              </div>
              <div class="user-rating-comment-wrapper">
                <ion-label class="user-name">{{rating?.createdBy?.displayName}}</ion-label>
                <ion-label class="user-comment">{{rating?.userComment}}</ion-label>
              </div>
              <div class="user-rating">
                <div class="rating-value">{{rating?.starsProvider}}</div>
                <ion-img class="rating-star-img" src="assets/icon/service-info/star.svg"></ion-img>
              </div>
            </div>
          </ion-item>
        </ion-list>
      </ion-row>
    </ion-grid>
    <!-- </ion-content> -->
  </div>
  <!-- END TAB DANH GIA -->
  <ion-infinite-scroll threshold="50px" (ionInfinite)="loadData($event)" *ngIf="currentTab == 2">
    <ion-infinite-scroll-content loadingSpinner="" loadingText=""></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<section class="full-width function-section shadow-section">
  <ion-button expand="block" class="amo-button-custom padding-0 {{disable_button_send}}" (click)="goToPageBookingShopHouse()">
    <div class="pay-button-text">
      <div class="btn-send-title">{{ 'SEVICE_29.button_send' | translate }}</div>
      <div *ngIf="total_money" class="btn-send-title">{{total_money}}</div>
    </div>
  </ion-button>
</section>