ion-toolbar{
    --border-width: 0px !important;
    --background: transparent;
    --ion-color-base: transparent !important;
}
ion-item {
    --inner-padding-end: 0px;
    --padding-start: 0px;
}
ion-header {
    position: fixed;
}
#sub-header {
//  background-color: #ffffff;
}
.ion-color-primary {
    --ion-color-base: #ffffff !important;
    --ion-color-base-rgb: var(--ion-color-primary-rgb, 56, 128, 255) !important;
    --ion-color-contrast: #fa7268 !important;
    --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb, 255, 255, 255) !important;
    --ion-color-shade: var(--ion-color-primary-shade, #3171e0) !important;
    --ion-color-tint: var(--ion-color-primary-tint, #4c8dff) !important;
}
super-tab-button ion-label{
    color: #7A838C;
    text-transform: unset;
}
super-tab-button.active ion-label{
    color: #000000;
}
super-tabs-toolbar::after {
    background-image: unset;
}
super-tab-button {
    border-bottom: 1px solid #F4F5F5;
}
.margin-top-20 {
    margin-top: 20px;
}
.margin-top-10 {
    margin-top: 10px;
}
.item-common {
    width: 100%;
    background: #FBFBFB;
    mix-blend-mode: normal;
    border: 0px solid #D3D6D9;
    box-sizing: border-box;
    border-radius: 8px;
    margin-left: 17px;
    margin-right: 17px;
}
.title-1 {
    font-size: 18px;
    line-height: 28px;
    margin-inline-end: 0px;
}
.group-1-text-title {
    width: 100%;
    display: inline-flex;
    font-size: 14px;
    color: #21313F;
    margin-top: 10px;
}
.group-1-text-title .div-1 {
    width: calc(100%- 20px);
}
.group-1-text-title .div-2 {
    width: 20px;
}
.group-1-icon-place {
    margin-right: 10px;
    min-width: 10px;
    margin-top: 1px;
}
.group-1-icon-info {
    margin-top: 3px;
}
.group-1-text-place {
    width: 100%;
    display: inline-flex;
    font-size: 14px;
    color: #21313F;
    margin-top: 10px;
}
.group-1-text-star {
    display: inline-flex;
    font-size: 14px;
    color: #21313F;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    position: absolute;
    bottom: 40px;
    right: 18px;
    border-radius: 100px;
    padding: 1px 10px;
    overflow: hidden;
}
.group-1-text-star ion-img, .group-1-text-star ion-label {
    z-index: 99;
}
.group-1-text-star div{
    background: #FFFFFF;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}
.group-1-icon-star {
    // margin-left: 8px;
    margin-right: 3px;
}
.group-1-icon-tag {
    margin-left: 20px;
    margin-right: 8px;
}

.ion-item-class {
    border-bottom: 1px solid #F4F5F5;
    margin: 0px 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    --inner-border-width: 0px;
}
.class-label-rate {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
}

.function-section{
    z-index: 999;
    bottom: 0px;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff;
}
.function-section ion-button{
    padding: 0px;
}
.line-1 {
    border-top: 6px solid #F4F5F5;
}
.group-1-slider-title {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #009AC9;
    border-radius: 8px 0px;
    padding: 3px 10px;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
}
.note-1 {
    position: absolute;
    z-index: 99;
    top: 10px;
    left: 0;
    background-color: #EB5757;
    border-radius: 8px 0px;
    padding: 3px 10px;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
}
.note-2 {
    position: absolute;
    z-index: 99;
    top: 10px;
    left: 0;
    background-color: #009AC9;
    border-radius: 8px 0px;
    padding: 3px 10px;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
}
.ion-grid-class {
    padding: 0px;
}
.group-1-button-change-number {
    position: relative;
    width: 110px;
    height: 32px;
    text-align: center;
}
.text-white {
    color: #FFFFFF;
}
.group-1-label-1 {
    line-height: 32px;
    font-weight: 400;
}
.button-3-1 {
    background: #FBFBFB;
    mix-blend-mode: normal;
    border: 1px solid #D3D6D9;
    box-sizing: border-box;
    border-radius: 8px;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 0;
}
.button-3-2 {
    background: #FBFBFB;
    mix-blend-mode: normal;
    border: 1px solid #D3D6D9;
    box-sizing: border-box;
    border-radius: 8px;
    width: 32px;
    height: 32px;
    position: absolute;
    right: 0;
}
.icon-button-3 {
    margin-top: -1px;
}
.group-2-col-2 {
    padding-left: 20px;
}
.group-2-col-3 ion-label{
    float: right;
}
.div-title-col-2 .col-4{
    text-align: right;
}
.div-title-col-2 ion-label{
    font-weight: 400;
    font-size: 16px;
}
.div-note-col-2 ion-label{
    font-size: 14px;
    line-height: 20px;
    color: #7A838C;
}
.div-note-col-2 {
    margin-top: 3px;
    margin-bottom: 5px;
}
.margin-bottom-30 {
    margin-bottom: 30px;
}
.row-data-product {
    border-bottom: 1px solid #F4F5F5;
    padding: 20px 0px;
}
.col-group-2-image {
    height: 100%;
    display: grid;
    --border-width: 0;
}
.class-super-tabs {
    // height: 70%;
    height: auto;
    display: inherit;
}
.group-3-sub-title {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}
.group-3-select-all {
    float: right;
    font-size: 14px;
    line-height: 20px;
    color: #009AC9;
}
.scroll-class {
    overflow: scroll;
    height: 100%;
}
.hidden-overflow {
    overflow: hidden;
}
.margin-bottom-15 {
    margin-bottom: 15px;
}
.shadow-section {
    box-shadow: 0px -20px 20px 0px rgb(37 34 77 / 10%);
}
.div-logo {
    border-radius: 8px;
    overflow: hidden;
}
.group-1-logo {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    overflow: hidden;
    position: absolute;
    left: 17px;
    bottom: 0;
}
.group-1-logo ion-img{
    width: 100%;
    height: 100%;
}
.button-disable {
    --background: #D3D6D9 !important;
    text-transform: none;
    --background-activated: rgba(250, 114, 104,0.5);
    border-radius: 8px;
    --border-radius: 8px;
    padding: 0px 16px 0px 16px;
    pointer-events: none;
}

.col-1, 
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding: 0;
}
.row {
    margin: 0;
}

// popup
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    background-color: #00000005;
}
.modal-dialog {
    position: absolute;
    width: 100%;
    margin: 0px;
    pointer-events: none;
    bottom: 0px;
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: unset;
    }
}
.modal-content {
    border-radius: 24px 24px 0px 0px;
}
.close {
    float: left;
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
.modal-header {
    border-bottom: 0;
}
.div-header-title .title{
    font-size: 16px;
    line-height: 24px
}
.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem -1rem;
}
.modal-body {
    padding-top: 0;
}
.modal-body .title{
    font-size: 16px;
    line-height: 24px
}
.popup-ion-item {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: grid;
}
.popup-text-1 {
    white-space: unset;
    padding: 20px 15px;
    font-size: 16px;
    white-space: pre-line!important;
}
.popup-text-2 {
    white-space: unset;
    font-size: 14px;
    color: #009AC9;
}

// css promotion-code
.div-promotion-code {
    background: #97171B;
    width: 100%;
    height: 100%;
    box-shadow: 0px 10px 30px rgba(33, 49, 63, 0.1);
    border-radius: 10px;
}
.div-promotion-code .img-responsive{
    border-radius: 8px 0px 8px 0px;
    overflow: hidden;
}
.div-promotion-code .range-1 {
    position: absolute;
    background: #FFFFFF;
    border-radius: 16px;
    width: 50%;
    height: 4px;
}
.div-promotion-code .range-2 {
    background: #FFFFFF;
    opacity: 0.3;
    border-radius: 16px;
    width: 100%;
    height: 4px;
}
.div-promotion-code .promotion-code-1 {

}
.div-promotion-code .promotion-code-1 .col-8 {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.div-promotion-code .promotion-code-1 .col-4{
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #F4F5F5;
}
.div-promotion-code .promotion-code-2 {
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    white-space: normal;
    margin-top: 10px;
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-line-clamp: 3;
    max-height: 60px; 
    -webkit-box-orient: vertical;
}
.div-promotion-code .promotion-code-3 {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #FFFFFF;
    display: block;
}
.div-promotion-code .promotion-code-4 {
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 5px;
}
.div-promotion-code .promotion-code-5 {
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 5px;
    position: absolute;
}
.div-promotion-code .promotion-code-6 {
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 5px;
    position: absolute;
    right: 0;
}
.div-promotion-code .div-promotion-code ion-col {
    padding: 0;
}
.div-promotion-code .promotion-code-3 .item-1{
    vertical-align: initial;
}
.div-promotion-code .promotion-code-3 .item-2{
    float: right;
    margin-left: 5px;
}
.group-1-deadline {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #009AC9;
    border-radius: 8px 0px;
    padding: 2px 10px;
    color: #fff;
    font-size: 12px;
    line-height: 15px;
}

// 
.group-data {
    // max-height: calc(100% - 90px);
    // overflow: scroll;
}
.ion-sub-toolbar-2 {
    --padding-top: 0;
    --padding-end: 0;
    --padding-start: 0;
    --padding-bottom: 0;
}
.ion-sub-toolbar-1 {
    background-color: #ffffff;
}

.pading-ion-grid {
    margin-left: 17px;
    margin-right: 17px;
}