<ion-header id="main-header" class="ion-no-border" [ngStyle]="{'display': getStyleHeader(1)}">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="button-back-custom" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-header id="sub-header" class="ion-no-border" [ngStyle]="{'display': getStyleHeader(2)}">
  <ion-toolbar class="ion-sub-toolbar-1">
    <ion-title>{{data_shop_house.text_title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <ion-toolbar *ngIf="data_shop_house.group_2.length != 0" [ngStyle]="{'display': getStyleHeaderPrduct()[0], 'opacity': getStyleHeaderPrduct()[1]}" class="ion-sub-toolbar-2">
    <super-tabs *ngIf="data_shop_house.group_2.length != 0" class="class-super-tabs margin-top-10" activeTabIndex="0" [config]="{ debug: true, sideMenu: 'left', allowElementScroll: true, nativeSmoothScroll: true }">
      <super-tabs-toolbar slot="top" scrollable="true" scrollable-padding="false" >
        <super-tab-button *ngFor="let object of data_shop_house.group_2" (click)="eventClickTabs(object.id_tab)">
          <ion-label>{{object.title}}</ion-label>
        </super-tab-button>
      </super-tabs-toolbar>
    </super-tabs>
  </ion-toolbar> -->
</ion-header>
<ion-content id="content_page"  [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item lines="none" class="ion-no-padding">
      <ion-img *ngIf="data_shop_house.thumbnail" class="image-page padding-bottom-30" src="{{data_shop_house.thumbnail}}"></ion-img>
      <div class="group-1-text-star" *ngIf="data_shop_house.text_star_rate">
        <div></div>
        <ion-img class="group-1-icon-star" src="../assets/icon/svg/icon-star.svg"></ion-img>
        <ion-label class="class-label-rate">{{data_shop_house.text_star_rate}}</ion-label>
      </div>
      <div class="group-1-logo" *ngIf="data_shop_house.logo">
        <ion-img class="" src="{{data_shop_house.logo}}"></ion-img>
      </div>
    </ion-item>
    <ion-item lines="none" class="">
      <ion-item lines="none" class="item-common">
        <div class="width-100">
          <div class="group-1-text-title" *ngIf="data_shop_house.text_title">
            <div class="div-1 width-100">
              <ion-label class="ion-text-wrap title-1 font-weight-bold">{{data_shop_house.text_title}}</ion-label>
            </div>
            <div class="div-2" (click)="eventButtonShowPopup()">
              <img slot="end" class="group-1-icon-info" src="../assets/icon/svg/Information-circle.svg"/>
            </div>
          </div>
          <div id="div-element-place" class="group-1-text-place" *ngIf="data_shop_house.text_place">
            <div class="group-1-icon-place">
              <ion-img src="../assets/icon/svg/icon-place.svg"></ion-img>
            </div>
            <div>
              <ion-label class="white-space-normal">{{data_shop_house.text_place}}</ion-label>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-item>
  </ion-list>
  <ion-slides [options]="slideOpts" class="margin-top-10" *ngIf="data_shop_house.group_1.length > 0">
    <ion-slide *ngFor="let object of data_shop_house.group_1">
        <ion-item lines="none" class="ion-no-padding" id="{{object._id}}" (click)="eventClickGroupPon(object)">
            <ion-img *ngIf="object.background_image != ''" src="{{object.background_image}}" class="img-responsive" alt=""></ion-img>
            <div *ngIf="object.background_image == ''" class="div-promotion-code">
              <ion-grid class="ion-grid-class">
                <ion-row class="">
                  <ion-col class="ion-col-class padding-0 padding-right-5" size="3">
                    <ion-img src="{{object.thumbnail}}" class="img-responsive" alt=""></ion-img>
                  </ion-col>
                  <ion-col class="ion-col-class padding-top-10 padding-left-10 padding-right-10" size="9">
                    <div class="row col-12 promotion-code-1">
                      <div class="col-8"><ion-label>{{object.title}}</ion-label></div>
                      <div class="col-4"><ion-label>{{object.money}}đ</ion-label></div>
                    </div>
                    <div class="col-12">
                      <ion-label class="promotion-code-2">{{object.detail}}</ion-label>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row class="padding-bottom-10 padding-left-10 padding-right-10">
                  <ion-col class="ion-col-class" size="12">
                    <div class="col-12 promotion-code-3">
                      <img src="../assets/icon/svg/people.svg" class="item-1" alt=""/>
                      <ion-label class="item-2">{{object.actual_order}}</ion-label>
                    </div>
                    <div class="col-12">
                      <div class="range-1" [ngStyle]="{'width': getStyleRange1(object._id)[0]}"></div>
                      <div class="range-2"></div>
                    </div>
                    <div class="row col-12">
                      <div class="promotion-code-4">{{object.moc_1}}</div>
                      <div class="promotion-code-5" [ngStyle]="{'left': getStyleRange1(object._id)[1]}">{{object.moc_2}}</div>
                      <div class="promotion-code-6">{{object.moc_3}}</div>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
            <div *ngIf="object.deadline != ''" class="group-1-deadline">
              <ion-label>{{object.deadline}}</ion-label>
            </div>
          </ion-item>
    </ion-slide>
  </ion-slides>
  <div id="group-data-product" class="group-data line-1 margin-top-20" *ngIf="data_shop_house.group_2.length > 0">
    <ion-grid class="ion-no-padding pading-ion-grid" *ngFor="let object of data_shop_house.group_2" data-id="{{object.id_tab}}">
      <ion-row class="margin-top-20 title-shop-product {{getClassLabelProduct(object)}}" id="{{object._id}}">
        <ion-label>{{object.title}}</ion-label>
      </ion-row>
      <ion-row class="row-data-product" *ngFor="let data of object.data">
        <ion-col class="ion-col-class group-2-col-1" size="3">
          <div class="div-logo">
            <ion-img src="{{data.image}}"></ion-img>
            <div *ngIf="data.text_note != '' && data.type_note == 1" class="note-1">
              <ion-label>{{data.text_note}}</ion-label>
            </div>
            <div *ngIf="data.text_note != '' && data.type_note == 2" class="note-2">
              <ion-label>{{data.text_note}}</ion-label>
            </div>
          </div>
        </ion-col>
        <ion-col class="item ion-col-class group-2-col-2" size="9">
          <div class="row div-title-col-2">
            <div class="col-8">
              <ion-label class="font-weight-bold white-space-normal">{{data.title}}</ion-label>
            </div>
            <div class="col-4">
              <ion-label class="font-weight-bold white-space-normal">{{data.money}}đ</ion-label>
            </div>
          </div>
          <div class="div-note-col-2">
              <ion-label class="white-space-normal">{{data.note}}</ion-label>
          </div>
          <div class="group-1-button-change-number">
            <button class="button-3-1" (click)="downNumberProduct_1(object.id_tab, data._id)"><img class="icon-button-3" src="../assets/icon/svg/tru.svg"/></button>
            <label class="group-1-label-1 font-weight-bold">{{data.number}}</label>
            <button class="button-3-2" (click)="upNumberProduct_1(object.id_tab, data._id)"><img class="icon-button-3" src="../assets/icon/svg/plus.svg"/></button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="flag_show_hide_popup == true" class="modal-backdrop fade show"></div>
  <div *ngIf="flag_show_hide_popup == true" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="div-header-title">
              <ion-label class="title font-weight-bold">{{data_shop_house.text_title}}</ion-label>
              <div class="group-1-text-place">
                <div class="group-1-icon-place">
                  <ion-img src="../assets/icon/svg/icon-place.svg"></ion-img>
                </div>
                <div>
                  <ion-label class="white-space-normal">{{data_shop_house.text_place}}</ion-label>
                </div>
              </div>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="eventButtonClosePopup()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row col-12">
            <div class="row col-12 margin-bottom-15">
              <ion-label class="title font-weight-bold">Giờ hoạt động</ion-label>
            </div>
            <div class="row col-12 margin-bottom-15 padding-left-25">
              <ion-label class="white-space-normal">{{data_shop_house.time_open}}</ion-label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<section class="full-width function-section shadow-section">
  <ion-button expand="block" class="amo-button-custom padding-0 {{disable_button_send}}" (click)="goToPageBookingShopHouse()">{{ 'SEVICE_29.button_send' | translate }}{{total_money}}</ion-button>
</section>
