<ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title>{{data_history.title}}</ion-title>
      <ion-buttons slot="start">
        <ion-back-button text=""></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list lines="full" class="ion-no-margin ion-no-padding padding-bottom-20 ion-list-class">
      <ion-grid class="ion-no-padding scroll-class">
        <ion-row class="ion-no-padding line-bottom-10 margin-top-5">
          <ion-col class="group-2-col-1 center-div" size="8">
            <div class="">
              <ion-label *ngIf="data_history.status == 'processing'" class="ion-label-1">{{ 'PAY_15.status_processing' | translate }}</ion-label>
              <ion-label *ngIf="data_history.status == 'accepted-provider'" class="ion-label-6">{{ 'PAY_15.status_accepted_provider' | translate }}</ion-label>
              <ion-label *ngIf="data_history.status == 'confirm-user'" class="ion-label-2">{{ 'PAY_15.status_accepted_provider_groupon' | translate }}</ion-label>
              <ion-label *ngIf="data_history.status == 'accepted-user'" class="ion-label-6">{{ 'PAY_15.status_accepted_user' | translate }}</ion-label>
              <ion-label *ngIf="data_history.status == 'finish'" class="ion-label-4">{{ 'PAY_15.status_finish' | translate }}</ion-label>
              <ion-label *ngIf="data_history.status == 'cancel-user'" class="ion-label-5">{{ 'PAY_15.status_cancel_user' | translate }}</ion-label>
              <ion-label *ngIf="data_history.status == 'cancel-provider'" class="ion-label-5">{{ 'PAY_15.status_cancel_provider' | translate }}</ion-label>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="div-title-row-2-col-2">
              <ion-label class="font-weight-bold">{{data_history.money}}đ</ion-label>
            </div>
          </ion-col>
        </ion-row>
        
        <ion-row class="list_data_product" *ngFor="let object of data_history_order" id="{{object._id}}">
          <ion-col class="ion-col-class {{object.class_border}}" size="2">
            <ion-item class="css-ion-col-1">
              <ion-label class="margin-0">{{object.number}}x</ion-label>
            </ion-item>
          </ion-col>
          <ion-col class="ion-col-class {{object.class_border}}" size="7">
            <ion-item class="css-ion-col-2">
              <ion-label class="font-weight-600">{{object.title}}</ion-label>
            </ion-item>
          </ion-col>
          <ion-col class="ion-col-class {{object.class_border}}" size="3">
            <ion-item class="css-ion-col-3">
              <ion-label class="font-weight-bold">{{object.money}}đ</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="ion-no-padding line-top-10">
          <ion-col class="" size="5">
            <ion-label class="label-left">{{ 'PAY_15.label_supplier_name' | translate }}</ion-label>
          </ion-col>
          <ion-col class="" size="7">
            <ion-item class="no-border item-avatar">
              <ion-avatar class="avatar-class" slot="start">
                <img src="{{data_history.avatar}}">
              </ion-avatar>
              <ion-label class="font-weight-600 label-name">{{data_history.name}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding margin-top-15">
          <ion-col class="" size="5">
            <ion-label class="label-left">{{ 'PAY_15.label_code_order' | translate }}</ion-label>
          </ion-col>
          <ion-col class="" size="7">
            <ion-label class="font-weight-600 label-right">{{data_history.code_orders}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding margin-top-15">
          <ion-col class="" size="5">
            <ion-label class="label-left">{{ 'PAY_15.label_time' | translate }}</ion-label>
          </ion-col>
          <ion-col class="" size="7">
            <ion-label class="font-weight-600 label-right">{{data_history.date_time}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding margin-top-15" *ngIf="data_history.status == 'finish' && data_history.text_rate != 0">
          <ion-col class="" size="5">
            <ion-label class="label-left">{{ 'PAY_15.label_rating' | translate }}</ion-label>
          </ion-col>
          <ion-col class="" size="7">
            <ion-item class="group-1-text-star">
              <img class="group-1-icon-star" src="../assets/icon/svg/icon-star.svg"/>
              <ion-label class="font-weight-600 class-label-rate">{{data_history.text_rate}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid class="ion-no-padding line-top-16" (click)="eventShowDialog()" *ngIf="data_history.status == 'finish' && data_history.text_rate == 0">
        <ion-row class="ion-no-padding">
          <ion-col class="" size="12">
            <ion-label class="rate-label-left">{{ 'PAY_15.label_rating_service' | translate }}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding padding-0 margin-top-10">
          <ion-item lines="none" class="width-100 group_stars_rate">
            <ion-item lines="none" class="width-20">
              <ion-img src="../assets/icon/svg/stars_rating.svg" class="img-responsive" alt=""></ion-img>
              <ion-img *ngIf="rating_value > 7" src="../assets/icon/svg/stars_rating_fullsize.svg" class="img-responsive position-image-rate" alt=""></ion-img>
            </ion-item>
            <ion-item lines="none" class="width-20">
              <ion-img src="../assets/icon/svg/stars_rating.svg" class="img-responsive" alt=""></ion-img>
              <ion-img *ngIf="rating_value > 27" src="../assets/icon/svg/stars_rating_fullsize.svg" class="img-responsive position-image-rate" alt=""></ion-img>
            </ion-item>
            <ion-item lines="none" class="width-20">
              <ion-img src="../assets/icon/svg/stars_rating.svg" class="img-responsive" alt=""></ion-img>
              <ion-img *ngIf="rating_value > 47" src="../assets/icon/svg/stars_rating_fullsize.svg" class="img-responsive position-image-rate" alt=""></ion-img>
            </ion-item>
            <ion-item lines="none" class="width-20">
              <ion-img src="../assets/icon/svg/stars_rating.svg" class="img-responsive" alt=""></ion-img>
              <ion-img *ngIf="rating_value > 67" src="../assets/icon/svg/stars_rating_fullsize.svg" class="img-responsive position-image-rate" alt=""></ion-img>
            </ion-item>
            <ion-item lines="none" class="width-20">
              <ion-img src="../assets/icon/svg/stars_rating.svg" class="img-responsive" alt=""></ion-img>
              <ion-img *ngIf="rating_value > 87" src="../assets/icon/svg/stars_rating_fullsize.svg" class="img-responsive position-image-rate" alt=""></ion-img>
            </ion-item>
          </ion-item>
        </ion-row>
      </ion-grid>
      <ion-row class="ion-no-padding line-top-16" *ngIf="data_history.status == 'confirm-user'">
        <ion-col class="padding-0" size="12">
          <div class="message-confirm">
            <ion-label class="">{{data_history.message}}</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-list>
    <div *ngIf="flag_show_hide_popup == true" class="modal-backdrop fade show"></div>
    <div *ngIf="flag_show_hide_popup == true" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <ion-label class="rate-label-left font-weight-bold">{{ 'PAY_15.label_feedback' | translate }}</ion-label>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="eventButtonClosePopup()">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="div-header-title"></div>
          </div>
          <div class="modal-body">
            <ion-list lines="full" class="ion-no-margin ion-no-padding margin-top-10">
                <ion-grid class="ion-no-padding">
                  <ion-row class="ion-no-padding">
                    <ion-col class="" size="12">
                      <ion-label class="rate-label-left">{{ 'PAY_15.label_rating_service' | translate }}</ion-label>
                    </ion-col>
                  </ion-row>
                  <ion-row class="ion-no-padding padding-0 margin-top-10">
                    <ion-item lines="none" class="width-100 group_stars_rate">
                      <ion-item lines="none" class="width-20">
                        <ion-img src="../assets/icon/svg/stars_rating.svg" class="img-responsive" alt=""></ion-img>
                        <ion-img *ngIf="rating_value_popup > 7" src="../assets/icon/svg/stars_rating_fullsize.svg" class="img-responsive position-image-rate" alt=""></ion-img>
                      </ion-item>
                      <ion-item lines="none" class="width-20">
                        <ion-img src="../assets/icon/svg/stars_rating.svg" class="img-responsive" alt=""></ion-img>
                        <ion-img *ngIf="rating_value_popup > 27" src="../assets/icon/svg/stars_rating_fullsize.svg" class="img-responsive position-image-rate" alt=""></ion-img>
                      </ion-item>
                      <ion-item lines="none" class="width-20">
                        <ion-img src="../assets/icon/svg/stars_rating.svg" class="img-responsive" alt=""></ion-img>
                        <ion-img *ngIf="rating_value_popup > 47" src="../assets/icon/svg/stars_rating_fullsize.svg" class="img-responsive position-image-rate" alt=""></ion-img>
                      </ion-item>
                      <ion-item lines="none" class="width-20">
                        <ion-img src="../assets/icon/svg/stars_rating.svg" class="img-responsive" alt=""></ion-img>
                        <ion-img *ngIf="rating_value_popup > 67" src="../assets/icon/svg/stars_rating_fullsize.svg" class="img-responsive position-image-rate" alt=""></ion-img>
                      </ion-item>
                      <ion-item lines="none" class="width-20">
                        <ion-img src="../assets/icon/svg/stars_rating.svg" class="img-responsive" alt=""></ion-img>
                        <ion-img *ngIf="rating_value_popup > 87" src="../assets/icon/svg/stars_rating_fullsize.svg" class="img-responsive position-image-rate" alt=""></ion-img>
                      </ion-item>
                    </ion-item>
                    <ion-item lines="none" class="ion-item-range">
                      <ion-range color="danger" pin="true" [(ngModel)]="rating_value_popup"></ion-range>
                    </ion-item>
                  </ion-row>
                </ion-grid>
                <ion-item lines="none" class="margin-top-20 margin-bottom-30">
                  <ion-item lines="none" class="item-common width-100">
                      <ion-textarea class="text-area-1" rows="4" cols="20" placeholder="{{ 'PAY_15.label_write_feedback' | translate }}" [(ngModel)]="form_note"></ion-textarea>
                  </ion-item>
                </ion-item>
                <ion-item lines="none" class="margin-top-20 margin-bottom-10">
                  <ion-button *ngIf="rating_value_popup < 8 
                    || (rating_value_popup >= 8 && rating_value_popup < 68 && form_note == '')"
                     expand="block" class="amo-button-custom-4 font-weight-bold">{{ 'PAY_15.text_button_send_feedback' | translate }}
                  </ion-button>
                  <ion-button *ngIf="rating_value_popup >= 68 
                    || (rating_value_popup >= 8 && rating_value_popup < 68 && form_note != '')" 
                    expand="block" class="amo-button-custom-41 font-weight-bold" (click)="eventSendRating()">{{ 'PAY_15.text_button_send_feedback' | translate }}
                  </ion-button>
                </ion-item>
            </ion-list>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  <section class="full-width function-section shadow-section">
    <div class="col-6 padding-right-5 padding-left-5" *ngIf="data_history.status != 'confirm-user'">
      <ion-button expand="block" class="amo-button-custom-1 padding-0 font-weight-bold">{{ 'PAY_15.text_button_complain' | translate }}</ion-button>
    </div>
    <div class="col-6 padding-right-5 padding-left-5" *ngIf="data_history.status == 'accepted-user' || data_history.status == 'cancel-provider' || data_history.status == 'cancel-user' || data_history.status == 'finish'">
      <ion-button expand="block" class="amo-button-custom-2 padding-0 font-weight-bold" (click)="moveToChatToShopPage()">{{ 'PAY_15.text_button_chat' | translate }}</ion-button>
    </div>
    <div class="col-6 padding-right-5 padding-left-5" *ngIf="data_history.status == 'processing' || data_history.status == 'accepted-provider' || data_history.status == 'confirm-user'" (click)="eventButtonCancel()">
      <ion-button expand="block" class="amo-button-custom-3 padding-0 font-weight-bold">{{ 'PAY_15.text_button_cancel' | translate }}</ion-button>
    </div>
    <div class="col-6 padding-right-5 padding-left-5" *ngIf="data_history.status == 'confirm-user'">
      <ion-button expand="block" class="amo-button-custom-2 padding-0 font-weight-bold" (click)="eventButtonConfirmUser()">{{ 'PAY_15.text_button_confirm' | translate }}</ion-button>
    </div>
  </section>
  