.error-input {
    border: 1px solid #FFC144;
}

.error-message {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color: #FFC144;
}


.login-header {
    background: #FFC144;
    color: #fff;
    padding: 25px 15px;
    border-radius: 0 0 20px 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    &::after {
        content: "";
        background-image: url(/assets/icon/login/login-header.svg);
        background-repeat: no-repeat;
        width: 200px;
        height: 80px;
        position: absolute;
        top: 11px;
        opacity: 0.5;
        right: -80px;
    }

    .login-title {
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 41px;
        color: #ffffff;
    }
}
