.error-input {
    border: 1px solid #FA7268;
}

.error-message {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color: #FA7268;
}