<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{ 'REGISTER_PASSWORD.title' | translate }}</ion-title>
    <ion-buttons slot="start">
        <ion-back-button text=""></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-header class="ion-no-border">
  <div class="login-header">
    <ion-buttons>
      <ion-back-button color="light" text="" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-label class="login-title">{{ 'REGISTER_PASSWORD.title' | translate }}</ion-label>
    <ion-label></ion-label>
  </div>
</ion-header>

<ion-content>
  <section>
    <ion-item lines="none" class="form-class note-style">
      <ion-label class="ion-text-wrap label-text">{{ 'REGISTER_PASSWORD.password_note' | translate }}</ion-label>
    </ion-item>
  </section>
  <section>
    <ion-item lines="none" class="margin-top-10">
      <ion-input [ngClass]="!errorNewPass ? 'custom-common-input custom-common-input-text' : 'custom-common-input custom-common-input-text error-input'" placeholder="{{ 'REGISTER_PASSWORD.place_holder_new_password' | translate }}" [(ngModel)]="newPassword" type="password" name="newPassword"></ion-input>
    </ion-item>
    <ion-item lines="none" class="margin-top-10">
      <ion-input [ngClass]="!errorConfirmPass ? 'custom-common-input custom-common-input-text' : 'custom-common-input custom-common-input-text error-input'" placeholder="{{ 'REGISTER_PASSWORD.place_holder_confirm_password' | translate }}" [(ngModel)]="confirmPassword" type="password" name="confirmPassword"></ion-input>
    </ion-item>
    <ion-item lines="none" class="margin-top-10" *ngIf="errorMessage != ''">
        <ion-label color="danger" class="error-message">{{errorMessage}}</ion-label>
    </ion-item>
  </section>
  <section class="full-width function-section margin-top-10" (click)="changePass()">
      <ion-button expand="block" class="amo-button-custom">{{ 'REGISTER_PASSWORD.btn_change_pass' | translate }}</ion-button>
  </section>
</ion-content>
