<ion-header class="ion-no-border payment-history-header">
  <ion-buttons class="back-button">
    <ion-back-button color="light" text="" icon="chevron-back" class="ion-back-button"></ion-back-button>
  </ion-buttons>
  <ion-label class="header-title">{{ 'PAYMENT.title' | translate }}</ion-label>
  <super-tabs [activeTabIndex]="activeTabIndex"
    [config]="{ debug: false, sideMenu: 'left', allowElementScroll: true, nativeSmoothScroll: true }" class="super-tabs-content"
    (tabChange)="onTabChange($event)">
    <super-tabs-toolbar slot="top" scrollable="true" no-border scrollable-padding="false" class="super-tabs-toolbar">
      <super-tab-button class="super-tab-button">
        <ion-label class="tab-button-label">{{ 'PAYMENT.all_payment' | translate }}</ion-label>
        <ion-label class="under_line"></ion-label>
      </super-tab-button>
      <super-tab-button class="super-tab-button">
        <ion-label class="tab-button-label">{{ 'PAYMENT.badge_paid' | translate }}</ion-label>
        <ion-label class="under_line"></ion-label>
      </super-tab-button>
      <super-tab-button class="super-tab-button">
        <ion-label class="tab-button-label">{{ 'PAYMENT.badge_outdate' | translate }}</ion-label>
        <ion-label class="under_line"></ion-label>
      </super-tab-button>
      <super-tab-button class="super-tab-button">
        <ion-label class="tab-button-label">{{ 'PAYMENT.status_pending' | translate }}</ion-label>
        <ion-label class="under_line"></ion-label>
      </super-tab-button>
      <super-tab-button class="super-tab-button">
        <ion-label class="tab-button-label">{{ 'PAYMENT.badge_unpaid' | translate }}</ion-label>
        <ion-label class="under_line"></ion-label>
      </super-tab-button>
    </super-tabs-toolbar>
    <super-tabs-container>
      <super-tab></super-tab>
    </super-tabs-container>
  </super-tabs>
</ion-header>

<ion-content [scrollEvents]="false" class=" payment-history-content" slot="fixed">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMin="150">
    <ion-refresher-content pullingIcon="circles" refreshingSpinner="" refreshingText=""></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="activeTabIndex == 0">
    <ion-card *ngFor="let item of listPaymentBills" (click)="detailPage(item._id)" class="payment-card">
      <ion-item lines="none" class="payment-card-item">
        <ng-container [ngSwitch]="item.status">
          <ion-label slot="start" class="update-time" *ngSwitchCase="'publish'">
            {{formatString(item.updatedAt)}} - {{ 'PAYMENT.paid_in_days' | translate: { inOutDays: item.inOutDays } }}
          </ion-label>
          <ion-label slot="start" class="update-time" *ngSwitchCase="'outdate'">
            {{formatString(item.updatedAt)}} - {{ 'PAYMENT.paid_out_days' | translate: { inOutDays: item.inOutDays } }}
          </ion-label>
          <ion-label slot="start" class="update-time" *ngSwitchDefault>{{formatString(item.updatedAt)}}</ion-label>
        </ng-container>
        <ion-badge class="badge-status badge-paid" *ngIf="item.status == 'completed'">{{ 'PAYMENT.badge_paid' | translate }}
        </ion-badge>
        <ion-badge class="badge-status badge-unpaid" *ngIf="item.status == 'publish'">{{ 'PAYMENT.badge_unpaid' | translate }}
        </ion-badge>
        <ion-badge class="badge-status badge-pending" *ngIf="item.status == 'pending'">{{ 'PAYMENT.status_pending' | translate }}
        </ion-badge>
        <ion-badge class="badge-status badge-outdate" *ngIf="item.status == 'outdate'">{{ 'PAYMENT.badge_outdate' | translate }}
        </ion-badge>
      </ion-item>
      <ion-text class="">
        <p class="payment-title">{{item?.payment?.title}}</p>
      </ion-text>
      <div class="devider-line-detail-payment"></div>
      <ion-item lines="none" class="payment-money-item">
        <ion-label fixed slot="start" class="money-title">{{"PAYMENT.number_money_label" | translate}} </ion-label>
        <ion-label class="mone-number">{{formatMoney(item.total)}}đ</ion-label>
        <ion-button class="btn-paid" slot="end" *ngIf="item.status == 'publish' || item.status == 'outdate'">
          {{"PAYMENT.btn_paid_label" | translate}}</ion-button>
      </ion-item>
    </ion-card>
  </ion-list>

  <ion-list *ngIf="activeTabIndex == 1">
    <ion-card *ngFor="let item of listPaymentBillsPaid" (click)="detailPage(item._id)" class="payment-card">
      <ion-item lines="none" class="payment-card-item">
        <ion-label slot="start" class="update-time">{{formatString(item.updatedAt)}}</ion-label>
        <ion-badge class="badge-status badge-paid">{{ 'PAYMENT.badge_paid' | translate }}</ion-badge>
      </ion-item>
      <ion-text class="">
        <p class="payment-title">{{item?.payment?.title}}</p>
      </ion-text>
      <div class="devider-line-detail-payment"></div>
      <ion-item lines="none" class="payment-money-item">
        <ion-label fixed slot="start" class="money-title">{{"PAYMENT.number_money_label" | translate}} </ion-label>
        <ion-label class="mone-number">{{formatMoney(item.total)}}đ</ion-label>
      </ion-item>
    </ion-card>
  </ion-list>

  <ion-list *ngIf="activeTabIndex == 2">
    <ion-card *ngFor="let item of listPaymentBillsOutdate" (click)="detailPage(item._id)" class="payment-card">
      <ion-item lines="none" class="payment-card-item">
        <ion-label slot="start" class="update-time">
          {{formatString(item.updatedAt)}} - {{ 'PAYMENT.paid_out_days' | translate: { inOutDays: item.inOutDays } }}
        </ion-label>
        <ion-badge class="badge-status badge-outdate">{{ 'PAYMENT.badge_outdate' | translate }}</ion-badge>
      </ion-item>
      <ion-text class="">
        <p class="payment-title">{{item?.payment?.title}}</p>
      </ion-text>
      <div class="devider-line-detail-payment"></div>
      <ion-item lines="none" class="payment-money-item">
        <ion-label fixed slot="start" class="money-title">{{"PAYMENT.number_money_label" | translate}} </ion-label>
        <ion-label class="mone-number">{{formatMoney(item.total)}}đ</ion-label>
        <ion-button class="btn-paid" slot="end">{{"PAYMENT.btn_paid_label" | translate}}</ion-button>
      </ion-item>
    </ion-card>
  </ion-list>

  <ion-list *ngIf="activeTabIndex == 3">
    <ion-card *ngFor="let item of listPaymentBillsPending" (click)="detailPage(item._id)" class="payment-card">
      <ion-item lines="none" class="payment-card-item">
        <ion-label slot="start" class="update-time">{{formatString(item.updatedAt)}}</ion-label>
        <ion-badge class="badge-status badge-pending">{{ 'PAYMENT.status_pending' | translate }}</ion-badge>
      </ion-item>
      <ion-text class="">
        <p class="payment-title">{{item?.payment?.title}}</p>
      </ion-text>
      <div class="devider-line-detail-payment"></div>
      <ion-item lines="none" class="payment-money-item">
        <ion-label fixed slot="start" class="money-title">{{"PAYMENT.number_money_label" | translate}} </ion-label>
        <ion-label class="mone-number">{{formatMoney(item.total)}}đ</ion-label>
      </ion-item>
    </ion-card>
  </ion-list>

  <ion-list *ngIf="activeTabIndex == 4">
    <ion-card *ngFor="let item of listPaymentBillsUnpaid" (click)="detailPage(item._id)" class="payment-card">
      <ion-item lines="none" class="payment-card-item">
        <ion-label slot="start" class="update-time">
          {{formatString(item.updatedAt)}} - {{ 'PAYMENT.paid_in_days' | translate: { inOutDays: item.inOutDays } }}
        </ion-label>
        <ion-badge class="badge-status badge-unpaid">{{ 'PAYMENT.badge_unpaid' | translate }}</ion-badge>
      </ion-item>
      <ion-text class="">
        <p class="payment-title">{{item?.payment?.title}}</p>
      </ion-text>
      <div class="devider-line-detail-payment"></div>
      <ion-item lines="none" class="payment-money-item">
        <ion-label fixed slot="start" class="money-title">{{"PAYMENT.number_money_label" | translate}} </ion-label>
        <ion-label class="mone-number">{{formatMoney(item.total)}}đ</ion-label>
        <ion-button class="btn-paid" slot="end">{{"PAYMENT.btn_paid_label" | translate}}</ion-button>
      </ion-item>
    </ion-card>
  </ion-list>
  <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content class="custom-infinite-scroll" loadingSpinner="bubbles"
      loadingText="{{ 'REQUEST.loadding_more' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>