.text-note {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

.phone-input {
  height: 3.5em;
  mix-blend-mode: normal;
  border: 1px solid #d3d6d9;
  box-sizing: border-box;
  border-radius: 8px;
}

.phone-input-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  --padding-start: 10px;
  color: #7a838c;
}
.pass-input {
  height: 3.5em;
  mix-blend-mode: normal;
  border: 1px solid #d3d6d9;
  box-sizing: border-box;
  border-radius: 8px;
}

.pass-input-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  --padding-start: 10px;
  color: #7a838c;
}
.bottom-toolbar {
  margin-top: 5px;
}
.login-button {
  --box-shadow: none;
  --ion-toolbar-color: #d3d6d9;
  opacity: 1;
  margin-bottom: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
.login-button.ios {
  padding: 0 12px;
}
.login-button.md {
  padding: 0 16px;
}
.button-skip {
  height: 19px;
  margin-bottom: 20px;
  border: 0px;
  --box-shadow: none;
  --ion-toolbar-color: transparent;
  --background-activated: var(--ion-color-primary-shade, #ffffff);
  --background-focused: var(--ion-color-primary-shade, #ffffff);
  --background-hover: var(--ion-color-primary-tint, #ffffff);
  --background-activated-opacity: 0;
  --background-focused-opacity: 0;
  --background-hover-opacity: 0;
}
.button-skip-label {
  font-family: Open Sans;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  text-decoration-line: underline;
  color: #E64037;
}
.padding-content {
  padding-top: 50px;
}

.padding-10 {
  padding: 10px;
}
.padding-0 {
  padding: 0px;
}

.margin-content {
  margin-top: 11px;
}

.margin-20 {
  margin: 20px 0 0 0;
}

.item-native {
  padding-left: 0;
}
.clear-background {
  --color-activated: #556080;
  --background: transparent;
  --background-activated: transparent;
}
.login-input {
  margin-top: 20px;
  ion-item.input-item.item-has-focus {
    border: 1px solid#E64037;
    box-sizing: border-box;
    box-shadow: 0px 2px 10px rgba(234, 122, 110, 0.25);
  }
}

.pass-hide-icon {
  font-size: 18px;
}

.error-message {
  margin-left: -16px;
}
.input-clear-icon {
  --margin: 19px 13px 17px 2px;
}

.button-common-active {
  --ion-toolbar-color: #E64037;
  --background-focused: #df594f;
  --background-hover: #df594f;
  --background-activated: #df594f;
}

.login-header {
  background: #E64037;
  color: #fff;
  padding: 54px 15px 25px 15px;
  border-radius: 0 0 20px 20px;
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    background-image: url(/assets/icon/login/login-header.svg);
    background-repeat: no-repeat;
    width: 200px;
    height: 80px;
    position: absolute;
    top: 42px;
    opacity: 0.5;
    right: -80px;
  }

  .login-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 41px;
    color: #ffffff;
  }
}
.input-password{
  margin-bottom: 5px;
}
