.text-note{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}

.phone-input{
    height: 3.5em;
    mix-blend-mode: normal;
    border: 1px solid #D3D6D9;
    box-sizing: border-box;
    border-radius: 8px;
}

.phone-input-text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    --padding-start: 10px;
    color: #7A838C;
}
.pass-input{
    height: 3.5em;
    mix-blend-mode: normal;
    border: 1px solid #D3D6D9;
    box-sizing: border-box;
    border-radius: 8px;
}

.pass-input-text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    --padding-start: 10px;
    color: #7A838C;
}
.bottom-toolbar {
    position: fixed;
    bottom: 0;
    right: 0;
}
.login-button{
    --box-shadow: none;
    --ion-toolbar-color: #D3D6D9;
    opacity: 1;
    margin-bottom: 20px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
.login-button.ios {
    padding: 0 12px;
}
.login-button.md {
    padding: 0 16px;
}
.button-skip {
    height: 19px;
    margin-bottom: 20px;
    border: 0px;
    --box-shadow: none;
    --ion-toolbar-color: transparent;
    --background-activated: var(--ion-color-primary-shade, #ffffff);
    --background-focused: var(--ion-color-primary-shade, #ffffff);
    --background-hover: var(--ion-color-primary-tint, #ffffff);
    --background-activated-opacity: 0;
    --background-focused-opacity: 0;
    --background-hover-opacity: 0;
}
.button-skip-label {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #21313F;
}
.padding-content {
    padding-top: 50px;
}

.padding-10 {
    padding: 10px;
}
.padding-0 {
    padding: 0px;
}

.margin-content {
    margin-top: 11px;
}

.margin-20 {
    margin: 20px 0 0 0;
}

.item-native {
    padding-left: 0;
}
.clear-background {
    --color-activated:#556080;
    --background: transparent;
    --background-activated: transparent;
}
.login-input {
    margin: 20px 0;
}

.pass-hide-icon {
    font-size: 18px;
}

.error-message {
    margin-left: -16px;
}
.input-clear-icon {
    --margin: 19px 13px 17px 2px;
}


.button-common-active {
    --ion-toolbar-color: #FA7268;
    --background-focused: #df594f;
    --background-hover:#df594f;
    --background-activated: #df594f;
}
