.input-wrap {
    padding: 5px;
    padding-bottom: 14px;
    display: flex; 
    position: absolute;
    z-index: 9999;
    bottom: 0px;
    width: 100%;
    background: white;
}
.input-wrap textarea {
    flex: 1;
    border: 1px #c4c4c4;
    border-style: solid;
    border-radius: 4px;
}

ion-content {
    --overflow: hidden;
}

.list-home-content {
    --offset-top: -16px !important;
    --overflow: auto;
}

ion-textarea{
    border: 1px solid #c3c3c3;
    height: 40px;
    border-radius: 4px 0px 0px 4px;
}


.button-send{
    --border-radius: 0px 4px 4px 0px;
    padding: 0;
    margin: 0;
    height: 40px;
}

.line-breaker {
    white-space: pre-line; 
}