.content-two-line{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    max-height: 44px;
    -webkit-box-orient: vertical;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #556080;
}

.row-height-note {
    height: 2.5em;
}

.custom-card {
    -webkit-box-shadow: none;
    box-shadow: none;

    -webkit-margin-start: 0px;
    margin-inline-start: 0px;
    -webkit-margin-end: 0px;
    margin-inline-end: 0px;
}

ion-header {
    position: fixed;
}

ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}

.function-section{
    position: absolute;
    bottom: 10px;
}