.content-two-line{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    // max-height: 44px;
    -webkit-box-orient: vertical;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #21313F;
}

.row-height-note {
    height: 2.5em;
}

.custom-card {
    -webkit-box-shadow: none;
    box-shadow: none;

    -webkit-margin-start: 0px;
    margin-inline-start: 0px;
    -webkit-margin-end: 0px;
    margin-inline-end: 0px;
}

ion-header {
    position: fixed;
}

ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}

.function-section{
    position: absolute;
    bottom: 10px;
}

.article-content {
    border-top: 5px solid #F4F5F5;
    padding-top: 15px;
}
.text-node {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #7A838C;
    margin-bottom: 15px;
    padding-top: 10px;
}
.information-node {
    display: block;
    margin-left: 20px;
}
.margin-left-0 {
    margin-left: 0;
}
.card-bottom {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #7A838C; 
    background: none;
    margin-top: 0;
    margin-bottom: 5px; 
    margin-right: 10px;
    margin-left: 0;
    box-shadow: none;
}
.card-bottom-icon {
    font-size: 14px;
    vertical-align: middle;
}
.card-bottom-label {
    // margin-left: 5px;
    font-size: 14px;
}
.custom-margin-10 {
    margin-left: -10px !important;
}
.custom-oval {
    font-size: 4px;
    margin-left: 10px;
    vertical-align: middle;
}
.clear-both {
    clear: both;
}
.image-caption-big {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #7A838C;
}