.content-two-line{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    // max-height: 44px;
    -webkit-box-orient: vertical;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #21313F;
}

.row-height-note {
    height: 2.5em;
}

.custom-card {
    -webkit-box-shadow: none;
    box-shadow: none;

    -webkit-margin-start: 0px;
    margin-inline-start: 0px;
    -webkit-margin-end: 0px;
    margin-inline-end: 0px;
}

.btn-back-custom {
    position: absolute;
    left: 4.27%;
    right: 92%;
    top: 6.3%;
    bottom: 91.9%;
}

.margin-left-10 {
    margin-left: 10px;
}

ion-header {
    position: fixed;
}

ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}

.comment-button{
    --background: transparent;
    text-transform: none;
    --background-activated: rgba(196, 196, 196,0.5);
    border-radius: 5px;
    --border-radius: 5px;
    padding: 0px 16px 0px 16px;
}

.padding5 {
    padding-bottom: 8px;
}
.attachments-node{
    display: block;
}

.attachments-div {
    margin-left: 5px;
}
.attachments-card {
    background: none;
    margin-top: 0;
    margin-bottom: 5px; 
    box-shadow: none;
}
.attachments-text{
    color: #009AC9;
    font-style: italic;
    text-decoration: underline;
}
.attachments-icon {
    font-size: 10px;
    margin-right: 5px;
}
.middle-dot {
    font-size: 4px;
    margin-bottom: 2px;
}
.text-node {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #7A838C;
    margin-bottom: 15px;
    padding-top: 10px;
}
.information-node {
    display: block;
    margin-left: 20px;
}
.margin-left-0 {
    margin-left: 0;
}
.card-bottom {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #7A838C; 
    background: none;
    margin-top: 0;
    margin-bottom: 5px; 
    margin-right: 10px;
    margin-left: 0;
    box-shadow: none;
}
.card-bottom-icon {
    font-size: 14px;
    vertical-align: middle;
}
.card-bottom-label {
    // margin-left: 5px;
    font-size: 14px;
}
.custom-margin-10 {
    margin-left: -10px !important;
}
.custom-oval {
    font-size: 4px;
    margin-left: 10px;
    vertical-align: middle;
}
.clear-both {
    clear: both;
}
.image-caption-big {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #7A838C;
}
.article-content {
    border-top: 5px solid #F4F5F5;
    padding-top: 15px;
}
ion-footer > ion-toolbar {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.comment-button{
    background: #FA7268;
    --background-focused: #FA7268;
    --background-hover:#FA7268;
    --background: #FA7268;
    --background-activated: #c5433a;
    mix-blend-mode: normal;
    border-radius: 5px;
    left: 4.27%;
    width: 91.46%;
    height: 44px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 13px;
    margin-bottom: 13px;
}

