<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="showListComment()">
        <ion-icon name="chatboxes"></ion-icon>
      </ion-fab-button>
  </ion-fab> -->
  <ion-img src="{{thumbnail}}"></ion-img>
  <ion-card button class="custom-card margin-none">
      <ion-item lines="none" style="margin-top: 10px;">
          <ion-card-title class="ion-text-wrap content-two-line">{{articleTitle}}</ion-card-title>
      </ion-item>

      <div class="">
        <ion-list class="text-node information-node">
          <ion-card class="ion-float-left padding-none card-bottom">
            <span class="image-caption-big" class="card-bottom-label"> {{formatString(createdAt)}} </span>
            <ion-icon item-start name="custom-oval" class="card-bottom-icon custom-oval" src="assets/icon/custom-oval.svg"></ion-icon>
          </ion-card>
          <ion-card class="ion-float-left padding-none card-bottom margin-left-0">
            <span class="image-caption-big" class="card-bottom-label"> {{createBy}} </span>
            <ion-icon item-start name="custom-oval" class="card-bottom-icon custom-oval" src="assets/icon/custom-oval.svg"></ion-icon>
          </ion-card>
          <ion-card class="ion-float-left padding-none card-bottom margin-left-0">
            <ion-icon item-start name="eye-outline" class="card-bottom-icon"></ion-icon>
            <span class="image-caption-big" class="card-bottom-label"> 1111 </span>
            <ion-icon item-start name="custom-oval" class="card-bottom-icon custom-oval" src="assets/icon/custom-oval.svg"></ion-icon>
          </ion-card>
          <ion-card class="ion-float-left padding-none card-bottom margin-left-0">
            <ion-icon item-start name="custom-comment" class="card-bottom-icon" src="assets/icon/custom-comment.svg"></ion-icon>
              <span class="image-caption-big" class="card-bottom-label"> 2 </span>
          </ion-card>
        </ion-list>
      </div>

      <div class="clear-both attachments-div">
        <ion-list class="text-node attachments-node">
          <ion-card *ngFor="let item of attachments" (click)="detailAttachment($event)" id="{{item._id}}" class="ion-float-left padding-none attachments-card">
            <ion-label class="attachments-text"><ion-icon name="custom-attach-active" class="attachments-icon" src="assets/icon/custom-attach-active.svg"></ion-icon>{{item.fileName}}</ion-label>
          </ion-card>
        </ion-list>
      </div>
          
  </ion-card>
  
  <p [innerHTML]="articleContent" class="padding-left-right-card full-width article-content"></p>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <button expand="block" fill="outline" class="comment-button" (click)="showListComment()">{{ 'NOTIFICATION_DETAIL.btn_comment' | translate }}</button>
  </ion-toolbar>
</ion-footer>
