<ion-header class="ion-no-border">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'ADD_REQUEST.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="general-info">
    <ion-item class="input-item" lines="none" (click)="selectApartmentModal()">
      <ion-icon class="input-icon" name="custom-apartment" src="/assets/icon/custom-apartment.svg" slot="start"></ion-icon>
      <ion-label class="input-floating-label" position="floating">{{ 'ADD_REQUEST.apartment' | translate }}</ion-label>
      <ion-input class="input-text pointer-events-none" type="text" value="{{departmentName}}"></ion-input>
      <ion-icon class="select-icon" name="caret-down-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item class="input-item" lines="none">
      <img class="icon-pulldown-left" src="../assets/icon/svg/Category.svg"/>
      <img class="icon-pulldown-down" src="../assets/icon/svg/Down.svg"/>
      <label *ngIf="form_type != ''" class="pulldown-customize-placeholder">{{ 'ADD_REQUEST.category' | translate }}</label>
      <div class="width-100 {{form_type_class}}">
        <ion-select class="pulldown-customize" placeholder="{{ 'ADD_REQUEST.category' | translate }}" interface="action-sheet" name="form_type" [(ngModel)]="form_type" (ionChange)="ionChangePulldown1($event)">
          <ion-select-option *ngFor="let item of listTopic" value="{{item._id}}">{{item.title}}</ion-select-option>
        </ion-select>
      </div>
    </ion-item>
    <!-- <ion-item class="input-item" lines="none">
      <ion-icon class="input-icon" name="custom-user" src="/assets/icon/custom-user.svg" slot="start"></ion-icon>
      <ion-label class="input-floating-label" position="floating">{{ 'ADD_REQUEST.name' | translate }}</ion-label>
      <ion-input [(ngModel)]="userName" class="input-text" type="text" value=""></ion-input>
    </ion-item> -->
    <ion-item class="input-item" lines="none">
      <ion-icon class="input-icon" name="custom-user" src="/assets/icon/custom-file.svg" slot="start"></ion-icon>
      <ion-label class="input-floating-label" position="floating">{{ 'ADD_REQUEST.title_request' | translate }}</ion-label>
      <ion-input [(ngModel)]="title" class="input-text" type="text" value=""></ion-input>
    </ion-item>
    <ion-item class="textarea-item" lines="none">
      <ion-textarea [(ngModel)]="message" class="note-content" rows="4" placeholder="{{ 'ADD_REQUEST.message_request' | translate }}"></ion-textarea>
    </ion-item>
    <ion-item class="guest-quantity ion-no-padding" lines="none">
      <ion-label class="add-image-title">{{ 'ADD_REQUEST.add_image_label' | translate }}</ion-label>
    </ion-item>
    <ion-item lines="none" class="ion-no-padding">
      <ion-grid *ngIf="number_of_image != 0" class="ion-grid-class">
        <ion-row>
          <ion-col class="ion-col-class" *ngFor="let image of list_image_1" size="4" size-md>
            <ion-item lines="none" class="ion-item-for-image">
              <img class="image-class" src="{{image.src}}"/>
            </ion-item>
            <button type="button" class="close-image-icon" (click)="deleteImageToList(image.index)">
              <span aria-hidden="true">&times;</span>
            </button>
            <div *ngIf="number_of_image > 4 && image.index == 3" class="mask-multiple-image" (click)="showAllImage()">
              <label>+{{number_of_image - 4}}</label>
            </div>
          </ion-col>
          <ion-col class="ion-col-class" size="4" size-md>
            <ion-item lines="none" class="ion-item-for-image" (click)="selectImage()">
              <img class="image-class" src="../assets/icon/add-item.png"/>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-item lines="none" class="ion-no-padding item-common background-fbfbfb" *ngIf="number_of_image == 0" (click)="selectImage()">
        <!-- <img class="icon-camera" src="../assets/icon/Camera.png"/> -->
        <ion-icon name="camera" class="icon-camera"></ion-icon>
      </ion-item>
    </ion-item>
    <ion-button expand="block" class="button-common button-send margin-top-40"
      *ngIf="!checkActiveButton()"
    >
      <ion-label>{{ 'ADD_REQUEST.btn_submit' | translate }}</ion-label>
    </ion-button>
    <ion-button (click)="pushRequestToServer()" expand="block" class="button-common button-common-active button-send margin-top-40"
      *ngIf="checkActiveButton()"
    >
      <ion-label>{{ 'ADD_REQUEST.btn_submit' | translate }}</ion-label>
    </ion-button>
  </div>
</ion-content>
