<ion-header class="service-cate-header">
  <ion-buttons class="back-button">
    <ion-back-button color="light" text="" icon="chevron-back" class="ion-back-button"></ion-back-button>
  </ion-buttons>
  <ion-label class="header-title">{{ category_name }}</ion-label>
  <div class="categories-wrapper">
    <ion-slides pager="false" [options]="slideOpts" class="header-slider">
      <ion-slide class="category-slide" *ngFor="let cate of listCategories" (click)="categoryClick(cate._id)">
        <div class="category-item active" [ngClass]="{'active': selected_category == cate._id}">
          <img class="category-img" src="{{ cate.thumbnail }}" />
          <div class="cate-title">{{ cate.title }}</div>
          <img class="category-img-checked" src="assets/icon/service-info/checked.svg"
            *ngIf="selected_category == cate._id" />
        </div>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="curve-header"></div>
</ion-header>

<ion-content [scrollEvents]="false" class="shop-content" slot="fixed">
  <!-- tags container -->
  <div class="tag-container row">
    <span *ngFor="let tagSearch of listSearchTag" class="tag-text {{ tagSearch.selected ? 'selected' : ''  }}"
      (click)="searchByTag(tagSearch.value)">{{ tagSearch.name }}</span>
  </div>
  <!-- end tags container -->
  <div class="list-title">{{ 'SHOP_BY_CATE.supplier_highlight' | translate }}</div>
  <ion-list class="list-view-custom">
    <ion-item *ngIf="listDataMarket.length == 0" class="ion-item-class">
      <ion-label>
        {{ 'SHOP_BY_CATE.no_service' | translate }}
      </ion-label>
    </ion-item>
    <ion-item *ngFor="let object of listDataMarket" id="{{object._id}}" class="ion-item-class ion-no-padding">
      <ion-grid class="ion-no-padding category-item-grid">
        <ion-row>
          <ion-col size="3" class="ion-no-padding" (click)="moveShopHousePage(object)">
            <div class="div-logo">
              <img src="{{object?.thumbnail}}" class="shop-image" />
              <div class="note-2">{{object.text_note}}</div>
            </div>
          </ion-col>
          <ion-col size="9" class="ion-no-padding">
            <div (click)="moveShopHousePage(object)">
              <div class="group-1-text-title">
                <ion-label class="font-weight-bold">{{object.title}}</ion-label>
              </div>
              <!-- Mô tả gian hàng -->
              <div class="group-1-shop-description">
                {{ object?.content }}
              </div>
              <!-- =========== -->
              <!-- <div class="group-1-text-place">
                <img class="group-1-icon-place" src="../assets/icon/svg/icon-place.svg" />
                <ion-label>{{object.text_place}}</ion-label>
              </div> -->
              <div class="group-1-text-star">
                <div class="group-1-text-star-1" *ngIf="object.text_star_rate != ''">
                  <img class="group-1-icon-star" src="../assets/icon/svg/icon-star.svg" />
                  <ion-label class="class-label-rate">{{object.text_star_rate}}</ion-label>
                </div>
                <div class="group-1-text-sold">
                  <span class="margin-right-10">{{object?.numberEvaluation}} {{ 'SHOP_BY_CATE.rating' | translate
                    }}</span>|<span class="margin-left-10">{{object?.numberOrder}} {{ 'SHOP_BY_CATE.setup' | translate
                    }}</span>
                </div>
              </div>
              <!-- Mốc giá -->
              <div class="group-1-price">
                <div class="price-from">
                  {{ 'SHOP_BY_CATE.price_from' | translate }} {{ object.lowestPrice }} đ
                </div>
              </div>
            </div>

            <!-- ================= -->
            <!-- List tags -->
            <div class="group-1-list-tag row">
              <span class="tag-text {{ shopTag?.isSelected ? 'tag-selected-highlight' : ''}}"
                *ngFor="let shopTag of object.shopHouseTag" (click)="shopTagClick(shopTag._id)">
                #{{shopTag.title}}
              </span>
            </div>
            <!-- ================== -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="50px" (ionInfinite)="loadData($event)" class="infinite-scroll-block">
    <ion-infinite-scroll-content loadingSpinner="" loadingText=""></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>