<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text=""></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-img class="image-page" src="/assets/common/amo visual 2.png"></ion-img>
    <ion-grid *ngIf="apartment != null">
        <ion-row>
            <ion-col>
                <ion-label class="ion-text-wrap apartment-name-style">{{ apartmentTitle }}</ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-label class="ion-text-wrap home-infor" style="display:flex;"><ion-icon style="margin-top:1px;" name="pin"></ion-icon> {{apartment.campaign.address}}</ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-label class="ion-text-wrap home-infor">ID: {{apartment.apartment.activeCode}}</ion-label>
                <ion-label class="ion-text-wrap txt_reset">Reset</ion-label>
            </ion-col>
            <ion-col>
                <button class="btn_apartment_phone">
                    <ion-icon class="call-icon" name="call"></ion-icon>
                    <ion-label>{{'MY_HOME_DETAIL.btn_apartment_phone' | translate}}</ion-label>
                </button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-label class="ion-text-wrap home-infor">{{ 'MY_HOME_DETAIL.owner' | translate }}</ion-label>
                <ion-input [readonly]="true" class="custom-common-input custom-common-input-text color-text-cus margin-top-5" placeholder="" name="owner_name" value="{{apartment.apartment.owner.name}}"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-label class="ion-text-wrap home-infor">{{ 'MY_HOME_DETAIL.phone' | translate }}</ion-label>
                <ion-input [readonly]="true" class="custom-common-input custom-common-input-text color-text-cus margin-top-5" placeholder="" name="phone" type="number"  value="{{apartment.apartment.owner.phone}}"></ion-input>
            </ion-col>
            <ion-col>
                <ion-label class="ion-text-wrap home-infor">{{ 'MY_HOME_DETAIL.area_of_use' | translate }}</ion-label>
                <ion-input [readonly]="true" class="custom-common-input custom-common-input-text color-text-cus margin-top-5" placeholder="" name="area_of_use" value="{{apartment.apartment.area}} m2"></ion-input>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-list *ngIf="apartment != null" style="margin-top: 50px;">
      <div>
        <ion-item (click)="toggleGroupVehicle()">
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
          <ion-label class="color-text-cus">{{ 'MY_HOME_DETAIL.vehicles' | translate }}</ion-label>
        </ion-item>
      </div>
      <div>
          <ion-item (click)="goToFamilyMemberList()">
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
            <ion-label class="color-text-cus">{{ 'MY_HOME_DETAIL.members' | translate }}</ion-label>
          </ion-item>
        </div>
    </ion-list>
</ion-content>
