<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{apartmentTitle}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="false" class="no-scroll" slot="fixed">
  <super-tabs activeTabIndex="0" [config]="{ debug: true, sideMenu: 'left', allowElementScroll: false, nativeSmoothScroll: true }" class="super-tabs-content">
    <!-- super-tab-toolbar -->
    <super-tabs-toolbar no-border class="segment-toolbar" scrollable showIndicator="true" scrollablePadding="false">
      <super-tab-button class="button-tab-custom">
        <ion-label class="margin-none button-tab-label">{{ 'MY_HOME_DETAIL.apartment_info' | translate }}</ion-label>
      </super-tab-button>
      <super-tab-button class="button-tab-custom">
        <ion-label class="margin-none button-tab-label">{{ 'MY_HOME_DETAIL.apartment_owner' | translate }}</ion-label>
      </super-tab-button>
      <super-tab-button class="button-tab-custom">
        <ion-label class="margin-none button-tab-label">{{ 'MY_HOME_DETAIL.members' | translate }}</ion-label>
      </super-tab-button>
      <super-tab-button class="button-tab-custom">
        <ion-label class="margin-none button-tab-label">{{ 'MY_HOME_DETAIL.vehicles' | translate }}</ion-label>
      </super-tab-button>
    </super-tabs-toolbar>
    <!-- super-tabs-container -->
    <super-tabs-container *ngIf="apartment != null">
      <!-- super-tab info -->
      <super-tab class="ion-padding">
        <ion-item lines="none" class="custom-input custom-input-text">
          <ion-icon name="custom-company" class="input-icon" src="/assets/icon/custom-company.svg" slot="start"></ion-icon>
          <ion-label class="item-inner" position="floating">{{ 'MY_HOME_DETAIL.active_code' | translate }}</ion-label>
          <ion-input class="input-text" value="{{apartment.apartment.activeCode}}"></ion-input>
        </ion-item>
        <ion-item lines="none" class="custom-textarea custom-textarea-text">
          <ion-icon name="custom-location" class="input-icon" src="/assets/icon/custom-location.svg" slot="start"></ion-icon>
          <ion-label class="item-inner" position="floating">{{ 'MY_HOME_DETAIL.address' | translate }}</ion-label>
          <ion-textarea class="textarea-text" value="{{apartment.campaign.address}}"></ion-textarea>
        </ion-item>
        <ion-item lines="none" class="custom-input custom-input-text">
          <ion-icon name="custom-area" class="input-icon" src="/assets/icon/custom-area.svg" slot="start"></ion-icon>
          <ion-label class="item-inner" position="floating">{{ 'MY_HOME_DETAIL.area' | translate }}</ion-label>
          <ion-input class="input-text" value="{{apartment.apartment.area}} m2"></ion-input>
        </ion-item>
        <ion-item lines="none" class="custom-input custom-input-text" disabled>
          <ion-icon name="custom-flag" class="input-icon" src="/assets/icon/custom-flag.svg" slot="start"></ion-icon>
          <ion-label class="item-inner" position="floating">{{ 'MY_HOME_DETAIL.apartment_type' | translate }}</ion-label>
          <ion-input class="input-text" value="{{apartment.apartment.status}}"></ion-input>
        </ion-item>
        <ion-toolbar lines="none" class="function-item ion-text-center">
          <ion-button class="delete-button">
            <ion-label class="delete-button-label">{{ 'MY_HOME_DETAIL.btn_delete' | translate }}</ion-label>
          </ion-button>
          <ion-button class="add-button">
            <ion-label class="add-button-label">{{ 'MY_HOME_DETAIL.btn_reset_code' | translate }}</ion-label>
          </ion-button>
        </ion-toolbar>
      </super-tab>
      <!-- super-tab owner -->
      <super-tab class="ion-padding">
        <ion-item lines="none" class="custom-input custom-input-text">
          <ion-icon name="custom-user" class="input-icon" src="/assets/icon/custom-user.svg" slot="start"></ion-icon>
          <ion-label class="item-inner" position="floating">{{ 'MY_HOME_DETAIL.apartment_owner' | translate }}</ion-label>
          <ion-input class="input-text" value="{{apartment.apartment.owner.name}}"></ion-input>
        </ion-item>
        <ion-item lines="none" class="custom-input custom-input-text">
          <ion-icon name="custom-mail" class="input-icon" src="/assets/icon/custom-mail.svg" slot="start"></ion-icon>
          <ion-label class="item-inner" position="floating">{{ 'MY_HOME_DETAIL.apartment_owner_email' | translate }}</ion-label>
          <ion-input class="input-text" value="hoangson115@gmail.com"></ion-input>
        </ion-item>
        <ion-row>
          <ion-col class="no-padding padding-right-10" size="5">
            <ion-item lines="none" class="custom-input custom-input-text">
              <ion-icon name="flag-vn" class="input-flag-icon" src="/assets/icon/flag-vn.svg" slot="start"></ion-icon>
              <!-- <ion-label class="item-inner" position="floating">{{ 'MY_HOME_DETAIL.DOB' | translate }}</ion-label> -->
              <ion-input class="" value="+84"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col class="no-padding padding-left-10">
            <ion-item lines="none" class="custom-input custom-input-text">
              <ion-input type="number" value="986463236"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="no-padding padding-right-10">
            <ion-item lines="none" class="custom-input custom-input-text">
              <ion-icon name="custom-gift" class="input-icon" src="/assets/icon/custom-gift.svg" slot="start"></ion-icon>
              <ion-label class="item-inner" position="floating">{{ 'MY_HOME_DETAIL.DOB' | translate }}</ion-label>
              <ion-datetime class="input-text input-text-50" displayFormat="DD/MM/YYYY" min="1900-01-01" max="2020-12-31" value="1986-06-14"></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col class="no-padding padding-left-10">
            <ion-item lines="none" class="custom-input custom-input-text">
              <ion-icon name="custom-gender" class="input-icon" src="/assets/icon/custom-gender.svg" slot="start"></ion-icon>
              <ion-label class="item-inner" position="floating">{{ 'MY_HOME_DETAIL.sex' | translate }}</ion-label>
              <ion-select placeholder="Select One" class="input-text select-text" value="m" >
                <ion-select-option value="f">Female</ion-select-option>
                <ion-select-option value="m">Male</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </super-tab>
      <!-- super-tab members -->
      <super-tab class="no-padding">
        <ion-list>
          <!-- <ion-card class="member-card">
            <ion-row class="member-card-item">
              <ion-col class="content-col">
                <p class="title-name">{{item.name}}</p>
                <p class="title-content">{{item.gender}} - {{item.phone}} - {{formatString(item.dateOfBirth)}}</p>
              </ion-col>
              <ion-col size="auto" class="border-left button-col">
                <ion-label class="danger-text">{{ 'MY_HOME_DETAIL.delete' | translate }}</ion-label>
              </ion-col>
            </ion-row>
          </ion-card> -->
          <ion-card class="member-card">
            <ion-row class="member-card-item">
              <ion-col class="content-col">
                <p class="title-name">Nguyễn Thùy Dung</p>
                <p class="title-content">Vợ - 0986 145 876 - 20/1/1976</p>
              </ion-col>
              <ion-col size="auto" class="border-left button-col" (click)="deleteMemberModal()">
                <ion-label class="danger-text">{{ 'MY_HOME_DETAIL.delete' | translate }}</ion-label>
              </ion-col>
            </ion-row>
          </ion-card>
          <ion-card class="member-card">
            <ion-row class="member-card-item">
              <ion-col class="content-col">
                <p class="title-name">Nguyễn Hoàng Nam</p>
                <p class="title-content">Con trai - 0947 633 765 - 20/1/1996</p>
              </ion-col>
              <ion-col size="auto" class="border-left button-col">
                <ion-label class="danger-text">{{ 'MY_HOME_DETAIL.delete' | translate }}</ion-label>
              </ion-col>
            </ion-row>
          </ion-card>
          <ion-card class="member-card">
            <ion-row class="member-card-item">
              <ion-col class="content-col">
                <p class="title-name">Nguyễn Hoàng Nam</p>
                <p class="title-content">Con trai - 0947 633 765 - 20/1/1996</p>
              </ion-col>
              <ion-col size="auto" class="border-left button-col">
                <ion-label class="danger-text">{{ 'MY_HOME_DETAIL.delete' | translate }}</ion-label>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-list>    
        <ion-toolbar lines="none" class="function-item ion-text-center">
          <ion-button class="add-button margin-left-0">
            <ion-label class="add-button-label">{{ 'MY_HOME_DETAIL.btn_add_member' | translate }}</ion-label>
          </ion-button>
        </ion-toolbar>    
      </super-tab>
      <!-- super-tab vehicles -->
      <super-tab class="no-padding">
        <ion-list>
          <ion-card class="member-card">
            <ion-row class="member-card-item">
              <ion-col class="content-col">
                <p class="title-name">Camry 2.5Q</p>
                <p class="title-content">Oto - 30A-215.65 - Màu đen</p>
              </ion-col>
              <ion-col size="auto" class="border-left button-col">
                <ion-label class="danger-text">{{ 'MY_HOME_DETAIL.delete' | translate }}</ion-label>
              </ion-col>
            </ion-row>
          </ion-card>
          <ion-card class="member-card">
            <ion-row class="member-card-item">
              <ion-col class="content-col">
                <p class="title-name">Honda Wave Alpha</p>
                <p class="title-content">Xe máy - 30B1-346.73 - Màu trắng</p>
              </ion-col>
              <ion-col size="auto" class="border-left button-col">
                <ion-label class="danger-text">{{ 'MY_HOME_DETAIL.delete' | translate }}</ion-label>
              </ion-col>
            </ion-row>
          </ion-card>
          <ion-card class="member-card">
            <ion-row class="member-card-item">
              <ion-col class="content-col">
                <p class="title-name">Honda Lead</p>
                <p class="title-content">Xe máy - 29B-126.35 - Màu bạc</p>
              </ion-col>
              <ion-col size="auto" class="border-left button-col">
                <ion-label class="danger-text">{{ 'MY_HOME_DETAIL.delete' | translate }}</ion-label>
              </ion-col>
            </ion-row>
          </ion-card>
          <ion-card class="member-card">
            <ion-row class="member-card-item">
              <ion-col class="content-col">
                <p class="title-name">Mini</p>
                <p class="title-content">Xe đạp - Màu hồng</p>
              </ion-col>
              <ion-col size="auto" class="border-left button-col">
                <ion-label class="danger-text">{{ 'MY_HOME_DETAIL.delete' | translate }}</ion-label>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-list>    
        <ion-toolbar lines="none" class="function-item ion-text-center">
          <ion-button class="add-button margin-left-0">
            <ion-label class="add-button-label">{{ 'MY_HOME_DETAIL.btn_add_vehicle' | translate }}</ion-label>
          </ion-button>
        </ion-toolbar> 
      </super-tab>
      
    </super-tabs-container>
  </super-tabs> 


  <!-- <ion-grid *ngIf="apartment != null">
      <ion-row>
        <ion-col>
            <ion-label class="ion-text-wrap home-infor">{{ 'MY_HOME_DETAIL.active_code' | translate }}</ion-label>
        </ion-col>
        <ion-col>
            <ion-label class="ion-text-wrap home-infor">{{apartment.apartment.activeCode}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              <ion-label class="ion-text-wrap home-infor">{{ 'MY_HOME_DETAIL.room' | translate }}</ion-label>
          </ion-col>
          <ion-col>
              <ion-label class="ion-text-wrap home-infor">{{apartment.apartment.title}}</ion-label>
          </ion-col>
        </ion-row>
      <ion-row>
        <ion-col>
            <ion-label class="ion-text-wrap home-infor">{{ 'MY_HOME_DETAIL.user_category' | translate }}</ion-label>
        </ion-col>
        <ion-col>
            <ion-label class="ion-text-wrap home-infor">{{apartment.userCategory.title}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <ion-label class="ion-text-wrap home-infor">{{ 'MY_HOME_DETAIL.area' | translate }}</ion-label>
        </ion-col>
        <ion-col>
            <ion-label class="ion-text-wrap home-infor">{{apartment.apartment.area}} m2</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <ion-label class="ion-text-wrap home-infor">{{ 'MY_HOME_DETAIL.address' | translate }}</ion-label>
        </ion-col>
        <ion-col>
            <ion-label class="ion-text-wrap home-infor">{{apartment.campaign.address}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list>
      <div>
        <ion-item (click)="toggleGroupVehicle()">
          <ion-icon slot="end" name="remove-circle-outline" *ngIf="isGroupVehicleShown()"></ion-icon>
          <ion-icon slot="end" name="add-circle-outline" *ngIf="!isGroupVehicleShown()"></ion-icon>
          <ion-label>{{ 'MY_HOME_DETAIL.vehicles' | translate }}</ion-label>
        </ion-item>
        <ion-card
          *ngFor="let item of listVehicle"
          [ngClass]="isGroupVehicleShown() ? 'item-accordion-vehicle' : 'item-accordion-vehicle item-accordion-inactive'">
          <ion-item lines="none">
            <ion-label class="ion-text-wrap">{{ 'MY_HOME_DETAIL.vehicles_type' | translate }}</ion-label>
            <ion-label class="ion-text-wrap">{{item.type}}</ion-label>
          </ion-item>
          <ion-item lines="none">
              <ion-label class="ion-text-wrap">{{ 'MY_HOME_DETAIL.vehicles_model' | translate }}</ion-label>
              <ion-label class="ion-text-wrap">{{item.model}}</ion-label>
          </ion-item>
          <ion-item lines="none">
              <ion-label class="ion-text-wrap">{{ 'MY_HOME_DETAIL.vehicles_identity' | translate }}</ion-label>
              <ion-label class="ion-text-wrap">{{item.identity}}</ion-label>
          </ion-item>
        </ion-card>
      </div>
      <div>
          <ion-item (click)="toggleGroupMember()">
            <ion-icon slot="end" name="remove-circle-outline" *ngIf="isGroupVehicleMember()"></ion-icon>
            <ion-icon slot="end" name="add-circle-outline" *ngIf="!isGroupVehicleMember()"></ion-icon>
            <ion-label>{{ 'MY_HOME_DETAIL.members' | translate }}</ion-label>
          </ion-item>
          <ion-card
            *ngFor="let item of listMembers"
            [ngClass]="isGroupVehicleMember() ? 'item-accordion-member' : 'item-accordion-member item-accordion-inactive'">
            <ion-item lines="none">
              <ion-label class="ion-text-wrap">{{ 'MY_HOME_DETAIL.name' | translate }}</ion-label>
              <ion-label class="ion-text-wrap">{{item.name}}</ion-label>
            </ion-item>
            <ion-item lines="none">
                <ion-label class="ion-text-wrap">{{ 'MY_HOME_DETAIL.sex' | translate }}</ion-label>
                <ion-label class="ion-text-wrap">{{item.gender}}</ion-label>
            </ion-item>
            <ion-item lines="none">
                <ion-label class="ion-text-wrap">{{ 'MY_HOME_DETAIL.DOB' | translate }}</ion-label>
                <ion-label class="ion-text-wrap">{{formatString(item.dateOfBirth)}}</ion-label>
            </ion-item>
            <ion-item lines="none">
                <ion-label class="ion-text-wrap">{{ 'MY_HOME_DETAIL.phone' | translate }}</ion-label>
                <ion-label class="ion-text-wrap">{{item.phone}}</ion-label>
            </ion-item>
            <ion-item lines="none">
                <ion-label class="ion-text-wrap">{{ 'MY_HOME_DETAIL.personal_license' | translate }}</ion-label>
                <ion-label class="ion-text-wrap">{{item.personalLicense}}</ion-label>
            </ion-item>
            <ion-item lines="none">
                <ion-label class="ion-text-wrap">{{ 'MY_HOME_DETAIL.nationality' | translate }}</ion-label>
                <ion-label class="ion-text-wrap">{{item.nationality}}</ion-label>
            </ion-item>
          </ion-card>
        </div>
    </ion-list> -->
</ion-content>
