<!-- <ion-backdrop></ion-backdrop> -->
<ion-content class="content-wrap">
  <div class="content-container">
    <ion-item lines="none" class="header-item">
      <ion-buttons slot="end" class="" (click)="closeModal()" class="btn-close-popup">
        <ion-icon name="close"></ion-icon>
      </ion-buttons>
    </ion-item>
    <ion-item lines="none" class="ion-text-center modal-item">
      <div><ion-text class="delete_message">{{cash.description}}</ion-text></div>
    </ion-item>
    <ion-item lines="none" class="ion-text-center modal-item">
      <div><ion-text class="delete_message"><ion-text class="delete_message">{{ 'PAYMENT_INFOR.payment_cash_message' | translate }} {{date}}</ion-text></ion-text></div>
    </ion-item>
  </div>
  
</ion-content>
