<ion-content class="content-wrap">
  <div class="content-container">
    <ion-item lines="none" class="header-item">
      <ion-buttons slot="end" class="" (click)="closeModal()" class="btn-close-popup">
        <ion-icon name="close"></ion-icon>
      </ion-buttons>
    </ion-item>
    <ion-icon [src]="'../assets/icon/payment/money1.svg'" class="dialog-icon-money"></ion-icon>
    <ion-item lines="none" class="modal-item">
      <ion-text class="ion-text-title">{{ 'PAYMENT_INFOR.payment_cash_title' | translate }}</ion-text>
    </ion-item>
    <ion-item lines="none" class="modal-item">
      <ion-text class="ion-text-message">{{ 'PAYMENT_INFOR.payment_cash_message' | translate }} {{date}}</ion-text>
    </ion-item>
  </div>
</ion-content>