
.tab-icon {
    width: 16px;
}
.tab-label {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
}
// .tab-selected {
//     color: #FA7268;
//     --font-weight: bold;
// }