<ion-tabs ionTabsDidChange="tabChanged($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" (click)="userRequestTab('home')">
      <ion-icon src="../../../assets/icon/custom-home.svg"></ion-icon>        
    </ion-tab-button>

    <ion-tab-button tab="notification" (click)="userRequestTab('notification')">
      <ion-icon src="../../../assets/icon/custom-notification.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="payment" (click)="userRequestTab('chargeNotice')">
      <ion-icon src="../../../assets/icon/custom-payment.svg"></ion-icon>
    </ion-tab-button>
    
    <ion-tab-button tab="requests" (click)="userRequestTab('request')">
      <ion-icon src="../../../assets/icon/custom-requests.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="services" (click)="userRequestTab('service')">
      <ion-icon src="../../../assets/icon/custom-services.svg"></ion-icon>
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>
