<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon src="../../../assets/icon/custom-home.svg"></ion-icon>        
    </ion-tab-button>

    <ion-tab-button tab="notification">
      <ion-icon src="../../../assets/icon/custom-notification.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="payment">
      <ion-icon src="../../../assets/icon/custom-payment.svg"></ion-icon>
    </ion-tab-button>
    
    <ion-tab-button tab="requests">
      <ion-icon src="../../../assets/icon/custom-requests.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="services">
      <ion-icon src="../../../assets/icon/custom-services.svg"></ion-icon>
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>
