<ion-header no-border>
  <ion-toolbar>
    <ion-title>{{titlePage}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="list-view-custom">
    <ion-card button *ngFor="let item of listServicesByGroup" (click)="detailPage($event)" id="{{item._id}}">
      <ion-img src="{{item.thumbnail}}"></ion-img>
      <ion-item lines="none">
        <ion-card-title class="ion-text-wrap content-two-line">{{item.title}}</ion-card-title>
      </ion-item>
      <ion-item lines="none">
          <ion-button expand="block" class="amo-button-custom" (click)="orderService($event)" id="{{item._id}}">Order</ion-button>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
