.balance-content{
    position: absolute;
    left: 16px;
    right: 16px;
    top: 30px;
    height: 125px;
    // box-shadow: 0px 0px 20px rgba(23, 21, 48, 0.102546);
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(23, 21, 48, 0.102546);
    border-radius: 8px;
}

.title-blance-content {
    position: absolute;
    height: 22px;
    left: 16px;
    display: flex;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;

    color: #556080;
}

.total-cash-blance-content {
    position: absolute;
    height: 22px;
    right: 16px;
    display: flex;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #556080;
}
.total-cash-blance-content-unit {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 28px;
    color: #556080;
    margin-left: 5px;
}

.list-payment-content {
    top: 186px;
    overflow: auto;
    position: absolute;
}

.list-payment-item {
    margin: 16px;
    --background: #FFFFFF;
    border-bottom: 1px solid #F5F5F5;
    border-radius: 0px !important;
}

.button-pay-now {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    width: 8.0em;
    height: 2.0em;
    text-transform: none;
    --box-shadow: none;
    padding: 0;
}

.title-payment-item {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */


    color: #556080;
}

.total-payment-item {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    
    
    color: #556080;
}

.node-payment-item {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: block;
    color: #BBBFCC;
}

.custom-infinite-scroll {
    min-height: 5px;
}

.list-view-custom {
    margin-bottom: 5px;
}

.avatar-done {
    width: 50px;
    margin-left: -7px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    /* identical to box height */

    text-align: center;

    color: #01BCC4;
}

.avatar-out-of-date {
    width: 50px;
    margin-left: -7px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    /* identical to box height */

    text-align: center;

    color: #FA7268;
}

.avatar-paying {
    width: 50px;
    margin-left: -7px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    /* identical to box height */

    text-align: center;

    color: #FAC440;
}

.div-avatar-content-big {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 33%;
    height: 100%;
}

.image-caption-big {
    /* Make the caption a block so it occupies its own line. */
    display: block;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    margin-top: 5px;
    font-size: 0.8em;
    line-height: 1.0em;
    text-align: center;
    color: #556080;
}

.img-avatar-big {
    height: 35px;
}

.clear-balance-rect {
    height: 2px;
    width: 80%;
    background: #F5F5F5;
    border-radius: 10px;
    position: absolute;
    top: 33%;
    left: 10%;
}

/* custom header */
.header-infor{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 20%;
    background: #FA7268;
}
.title-content {
    position: absolute;
    top: 36%;
    width: 91.46%;
}
.title-chip-label {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 40px;
    color: #FFFFFF;
}
.title-chip {
    position: absolute;
    left: 0px;
    --background: transparent;
}
.amountPay-content{
    position: absolute;
    left: 4.27%;
    width: 91.46%;
    top: 15%;
    
}
.function-content{
    position: absolute;
    top: calc(20% + 60px);
    height: 8.11%;
    padding-top: 4px;
    background: #FFFFFF;
    border-bottom: 1px solid #F4F5F5;
}
.function-content-tab{
    position: absolute;
    top: calc(30% + 20px);
    padding-top: 4px;
    background: #FFFFFF;
    box-shadow: none;
    width: 100%;
}
.function-content-button {
    position: absolute;
    top:35%;
    width:100%;
}
.div-amountPay-content-big {
    width: 100%;
    height: 60px;

    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(23, 21, 48, 0.102546);
    border-radius: 8px;
    border: 1px solid #FFFFFF;
}
.content-item {
    --background: transparent;
    border: none;
    margin: 0 16px;
    display: flex;
    align-items: center;;
}
.content-item-label {
    /* Make the caption a block so it occupies its own line. */
    display: block;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 54px;
    text-align: left;
    color: #21313F;
}
.amountPay-number {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 54px;
    color: #21313F;
    text-align: right;
}
.amountPay-unit {
    font-size: 12px;
}
.div-fee-segment {
    clear: both;
    display: block;
}
.button-tab-custom {
    border-radius: 0;
    box-shadow: none;
}
.segment-toolbar {
    border-bottom: 1px solid #F4F5F5;
    background: transparent;
    box-shadow: none;
}
.segment-content {
    background: transparent;
    --background-checked: transparent;
}
.segment-content-card {
    box-shadow: none;
    margin: 0;
}
.segment-card-content {
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid #F4F5F5;
}
.segment-card-title {
    font-size: 16px;
    line-height: 24px;
    color: #21313F;
}
.ion-padding {
    padding-top: 0;
}

/* custom list */
.text-node {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #7A838C;
}
.information-node {
    display: block;
    // margin-left: 20px;
}
.card-bottom {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #7A838C; 
    background: none;
    margin-top: 0; 
    margin-bottom: 0; 
    margin-right: 10px;
    margin-left: 0;
    box-shadow: none;
}
.card-bottom-icon {
    font-size: 14px;
    vertical-align: middle;
}
.card-bottom-label {
    // margin-left: 5px;
    font-size: 14px;
}
.custom-oval {
    font-size: 4px;
    margin-left: 10px;
    vertical-align: middle;
}
.image-caption-big {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #7A838C;
}
.btn-payment {
    --background: #FA7268;
    text-transform: none;
    --background-focused: #FA7268;
    --background-hover:#FA7268;
    --background-activated: #ca5149;
    --border-radius: 4px;
    font-size: 14px;
    margin: 0;
    height: 32px;
}
.custom-last-col {
    padding: 0;
}

.payment-fee {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #21313F;
}
ion-col {
    padding: 0 !important;
}
.information-row {
    display: flex; 
    align-items: flex-end;
}
.information-col {
    // display: flex; 
    // align-items: flex-end;
    margin-top: 5px;
}

.super-tabs-content {
    top: calc(17% + 60px);
    height: 75%;
}
:host {  
    --super-tabs-toolbar-background: black;
    --st-indicator-color: #FA7268;
    --st-indicator-width: 30px;
    --ion-color-base: transparent;
}
.button-tab-label {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #7A838C;
}

.no-scroll {
    --overflow: hidden;
}