<ion-header no-border>
  <ion-toolbar>
    <ion-title>{{ 'PAYMENT.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div slot="fixed">
    <div class="balance-content">
      <div class="title-blance-content">
        <p>{{ 'PAYMENT.amount_to_pay' | translate }}</p>
      </div>
      <div class="total-cash-blance-content">
        <p>0</p>
        <p class="total-cash-blance-content-unit">{{ 'PAYMENT.vnd' | translate }}</p>
      </div>
      <div class="clear-balance-rect">
      </div>
      <div class="function-content-button">
        <div class="ion-float-left div-avatar-content-big" (click)="paymentNow()">
            <img class="img-avatar-big" src="../../../assets/common/pay_now.png">
          <ion-label class="image-caption-big">{{ 'PAYMENT.pay_now' | translate }}</ion-label>
        </div>
        <div class="ion-float-left div-avatar-content-big" (click)="paymentNow()">
            <img class="img-avatar-big" src="../../../assets/common/topup.png">
          <ion-label class="image-caption-big">{{ 'PAYMENT.top_up' | translate }}</ion-label>
        </div>
        <div class="ion-float-right div-avatar-content-big" (click)="paymentNow()">
            <img class="img-avatar-big" src="../../../assets/common/request_icon.png">
          <ion-label class="image-caption-big">{{ 'PAYMENT.complain' | translate }}</ion-label>
        </div>
      </div>
    </div>
    <ion-content class="list-payment-content" [style.height.px]="heightScreen">
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
          <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="{{ 'PAYMENT.pull_to_refresh' | translate }}"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
          </ion-refresher-content>
      </ion-refresher>
      <ion-list class="list-view-custom">
        <ion-item class="list-payment-item" lines="none" *ngFor="let item of listPaymentBills"
          (click)="detailPage($event)" id="{{item._id}}">
          <ion-avatar slot="start" *ngIf="item.status == 'publish'">
            <img src="../../../assets/request/Wait.png">
            <ion-label class="avatar-done">{{ 'PAYMENT.status_new' | translate }}</ion-label>
          </ion-avatar>
          <ion-avatar slot="start" *ngIf="item.status == 'pending'">
            <img src="../../../assets/request/Processing.png">
            <ion-label class="avatar-done">{{ 'PAYMENT.status_pending' | translate }}</ion-label>
          </ion-avatar>
          <ion-avatar slot="start" *ngIf="item.status == 'completed'">
            <img src="../../../assets/request/Done.png">
            <ion-label class="avatar-done">{{ 'PAYMENT.status_done' | translate }}</ion-label>
          </ion-avatar>
          <ion-label>
            <ion-label class="title-payment-item">{{item.payment == null ? "N/A" : item.payment.title}}</ion-label>
            <ion-label class="total-payment-item">{{formatMoney(item.total)}} vnd</ion-label>
            <ion-label class="total-payment-item">{{item.apartment.title}}
                - {{item.campaign.title}}</ion-label>
            <ion-label class="node-payment-item">
              <p class="ion-float-left">{{formatString(item.updatedAt)}}</p>
              <ion-button slot="end" class="amo-button-custom button-pay-now ion-float-right" (click)="paymentClick($event)" id="{{item._id}}" *ngIf="item.status != 'completed'">{{ 'PAYMENT.pay_now' | translate }}</ion-button>
            </ion-label>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll threshold="50px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content class="custom-infinite-scroll" loadingSpinner="bubbles"
          loadingText="{{ 'PAYMENT.loadding_more' | translate }}">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-content>
  </div>
</ion-content>